@import "lesshat.less";
@menu-color: #041a72;
@subMenu-color: #303030;
@login-color: #fb7700;
@button-color: #f47321;
@base-color: #616161;
@orangeBold-color: #e46b1f;
@footerMenu-color: #5a5a5a;
@filter-color: #3f3f40;
@filterBlue-color: #375298;
@filterGrey-color: #a2a0a0;
@printBlack-color: #272727;
@printBlue-color: #112674;
@whit-color:#fff;
@font-titillium: 'Titillium Web','Sansation' sans-serif;
@font-sansation: 'Sansation', sans-serif;


@font-face {
    font-family: 'Sansation';
    src: url("fonts/Sansation_Regular.TTF");
    font-weight: 400;
}
@font-face {
    font-family: 'Sansation';
    src: url("fonts/Sansation_Bold.TTF");
    font-weight: 700;
}
body{
font-family: @font-titillium , @font-sansation;
}
.navbar-default {
//  background-color:@whit-color;
//  border-color: @whit-color;
//    color:@menu-color;
//    min-height: 100px;
      background: url("img/menu.jpg") no-repeat center;
}