@import "lesshat.less";
@menu-color: #041a72;
@subMenu-color: #303030;
@login-color: #fb7700;
@button-color: #f47321;
@base-color: #616161;
@orangeBold-color: #e46b1f;
@footerMenu-color: #5a5a5a;
@filter-color: #3f3f40;
@filterBlue-color: #375298;
@filterGrey-color: #a2a0a0;
@printBlack-color: #272727;
@printBlue-color: #112674;
@whit-color: #fff;
@footer-color: #eaeaea;
@grey-color: #dbdbdb;
@font-titillium: 'Titillium Web',
sans-serif;
@font-sansation: 'Sansation',
sans-serif;
@footer-font: 12px;
@text-font: 13px;
@font-bold: 700;
@font-face {
    font-family: 'Sansation';
    src: url("fonts/Sansation_Regular.TTF");
    font-weight: 400;
}

@font-face {
    font-family: 'Sansation';
    src: url("fonts/Sansation_Bold.TTF");
    font-weight: 700;
}

body {
    font-family: @font-titillium , @font-sansation;
}

.navbar-default {
    background-color: @whit-color;
    border-color: @whit-color;
    color: @menu-color;
    //  min-height: 133px;
    //  border-bottom-left-radius: 700px 55px;
    //  border-bottom-right-radius: 700px 55px;
    z-index: 1;
}

.curve {
    background: url("../img/curves1.png") no-repeat center;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 1;
    background-position-y: 0px;
}

.curve2 {
    background: url("../img/curves2.png") no-repeat center;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 1;
    margin-top: -40px;
}

.curve3 {
    background: url("../img/curves3.png") no-repeat center;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 1;
    //margin-top: -40px;
}

ul.menu-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14.5px;
    text-transform: uppercase;
    margin-top: 55px;
}

ul.menu-list li {
    display: inline-block;
    padding: 0px 6px;
}

ul.menu-list li a {
    text-decoration: none;
    color: @menu-color;
}

ul.menu-list li a:hover {
    text-decoration: none;
    color: @menu-color;
}

.marg-tp {
    margin-top: 24px;
}

.login p {
    text-transform: uppercase;
    font-size: @text-font;
    margin: 5px 4px;
    color: @login-color;
}

.logo {
    text-align: center;
    margin: 0 auto;
    //    width: 12%;
}

//.wth {
//    width: 44%;
//}
//.wth-six {
//    width: 66%;
//}
.logo img {
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 14px;
    z-index: 99;
}

.slider {
    margin-top: -38px;
    z-index: -1;
}

.navbar {
    position: relative;
    min-height: 26px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
    z-index: 999;
}

//.carousel-control.left {
//    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .0001)));
//    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
//    background-repeat: repeat-x;
//}
//
//.carousel-control.right {
//    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    background-image: -webkit-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .0001) 100%);
//    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
//    background-repeat: repeat-x;
//}
.sfm input {
    background-color: #e9e9e9;
    font-size: 8px;
    border: 0px;
    text-transform: uppercase;
    margin-top: 2px;
    color: #999;
    letter-spacing: 1px;
    padding: 5px 9px;
    outline: 0;
    border-radius: 8px 0px 0px 8px;
}

.sb {
    height: 22px;
    vertical-align: top;
    margin: 0px 0px 0px -3px;
    border-radius: 0px 8px 8px 0px !important;
    padding: 4px 8px !important;
}

.custom {
    padding: 0px;
}

.sub-menu {
    position: relative;
    z-index: 1;
    margin-top: -28px;
}

.sub-cat {
    text-align: center;
    margin-top: -38px;
    ul {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0px 16px;
            figure {
                text-align: center;
                figcaption {
                    color: @subMenu-color;
                    text-transform: uppercase;
                    padding-top: 10px;
                }
            }
        }
    }
}

.middle-home {
    margin-top: 83px;
    height: 100%;
    width: 100%;
    position: relative;
    .over-img {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        .mid-det h1 {
            font-size: 72px;
            color: #fff;
            font-weight: 700;
            font-family: @font-sansation;
            line-height: 94%;
        }
        p {
            color: #fff;
            font-size: 16px;
            margin: 22px 0px 24px 0px;
        }
        img {
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

.middle-end {
    background: url("../img/home-end.jpg") no-repeat center;
    .background-size(cover);
    min-height: 453px;
}

.footers {
    background-color: @footer-color;
    margin-top: -1px;
    .footer-menu {
        margin-top: 32px;
    }
    .footer-menu ul {
        list-style: none;
        display: block;
        font-family: @font-titillium;
        text-transform: uppercase;
        font-weight: @font-bold;
        color: @footerMenu-color;
        padding: 0;
        margin: 0;
        font-size: @text-font;
    }
    .footer-menu ul li {
        display: inline-block;
        border-right: 2px solid @footerMenu-color;
        padding: 0px 18px;
        a {
            color: @footerMenu-color;
            text-decoration: none;
        }
        a:hover {
            color: @footerMenu-color;
            text-decoration: none;
        }
    }
    .part-logo ul {
        list-style: none;
        display: block;
        padding: 0;
    }
    .part-logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .part-logo ul li {
        display: inline-block;
        padding: 0px 14px;
    }
    .social-icon {
        margin-top: 38px;
    }
    .social-icon ul {
        list-style: none;
        display: block;
        //    float: right;
        margin-right: 16px;
        padding: 0;
    }
    .social-icon ul li {
        display: inline-block;
        font-size: 22px;
        padding: 0px 2px;
        i {
            background: @grey-color;
            border-radius: 100%;
            height: 33px;
            width: 32px;
            padding: 5px 6px;
            color: @footer-color;
        }
    }
    .partners p {
        color: @footerMenu-color;
        text-transform: uppercase;
        margin-left: 18px;
        font-size: @text-font;
    }
    .partners {
        margin-top: 23px;
    }
    .newsleter {
        margin-top: 33px;
        text-transform: capitalize;
        color: @footerMenu-color;
        float: right;
        font-size: @text-font;
    }
    .input-text input {
        border-radius: 0;
        width: 100%;
        background-color: @grey-color;
        box-shadow: 0px 0px 0px 0px;
        border-color: @grey-color;
        padding: 10px 0px 10px 12px;
        height: 40px;
        outline: 0;
    }
    .input-text {
        margin-top: 20px;
        float: left;
        width: 80%;
    }
    .button-text {
        text-align: left;
        margin-top: 20px;
    }
    .button-text button {
        background: @orangeBold-color;
        border-color: @orangeBold-color;
        transition: 300ms ease all;
        color: #fff;
        padding: 9px 14px;
        outline: 0;
        border-radius: 0;
    }
    .copy h5 {
        font-size: @text-font;
        text-transform: uppercase;
        margin: 19px 17px;
    }
}

.feed.text-center {
    margin-top: 35px;
}

.feed.text-center h3 {
    text-transform: uppercase;
    font-weight: @font-bold;
    font-size: 32px;
    color: @orangeBold-color;
}

.social-set {
    margin-top: 40px;
    .fb i {
        background: #3b4f96;
        color: white;
        font-size: 49px;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        padding: 18px 25px;
    }
    .twit i {
        background: #3b4f96;
        color: white;
        font-size: 49px;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        padding: 17px 19px;
    }
    .insta .fa-instagram {
        background: #3b4f96;
        color: white;
        font-size: 49px;
        border-radius: 100%;
        height: 80px;
        width: 80px;
        padding: 16px 20px;
    }
}

.container.events {
    padding-top: 65px;
    .student.active {
        text-align: center;
        figure {
            img {
                margin: 0 auto;
                transition: linear 0.3s;
                -webkit-transition: linear 0.3s;
                -moz-transition: linear 0.3s;
                -ms-transition: linear 0.3s;
                outline: 0;
                border: 12px solid rgba(255, 255, 255, 0);
                border-radius: 100%;
                cursor: pointer;
            }
            figcaption {
                font-size: 40px;
                position: absolute;
                width: 100%;
                text-transform: uppercase;
                font-weight: @font-bold;
                left: 50%;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                color: @orangeBold-color;
                font-family: @font-sansation;
                line-height: 25px;
                transition: linear 0.3s;
                -webkit-transition: linear 0.3s;
                -moz-transition: linear 0.3s;
                -ms-transition: linear 0.3s;
                cursor: pointer;
            }
            .hover-act {
                margin: 0 auto;
                border: 0;
                border-radius: 0;
                opacity: 0;
            }
        }
    }
}

.container.events .student.active figure:hover img {
    border-color: @whit-color;
}

.container.events .student.active figure:hover figcaption {
    color: @whit-color;
}

.container.events .student.active figure:hover .hover-act {
    opacity: 1;
}

.home-content.text-center {
    margin-top: 80px;
    p {
        color: #616161;
        font-size: 17px;
    }
}

.patch {
    background: url("../img/patch.jpg");
    background-repeat: repeat;
    min-height: 53px;
    margin-top: 30px;
    .pad-left {
        padding-left: 8px;
        padding-right: 8px;
        .regi {
            background-color: @whit-color;
            text-align: center;
            padding: 15px;
            a {
                color: #f47321;
                text-transform: uppercase;
                border: 2px solid #f47321;
                padding: 6px 50px;
                text-decoration: none;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}

.media-set {
    position: relative;
    margin: 5px auto;
    img {
        width: 100%;
    }
}

.media-text {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
        color: #fff;
        font-weight: 600;
         font-size: 60px;
        margin: 0px;
        text-transform: uppercase;
    }
}

.print {
    text-align: center;
    display: block;
    a {
        text-decoration: none;
        figure {
            display: inline-block;
            figcaption {
                padding-top: 10px;
                color:@grey-color;
                font-size: 13px;
            }
        }
    }
    .fig-act {
  color: #303030;
  font-weight: 600;
        font-size: 14px;
}
}

.print figure.figure1 {
    padding-right: 45px;
}

.print figure.figure2 {
    padding-left: 45px;
}

hr.hr-width {
    border-width: 2px;
}

.prints {
    h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 32px;
        color: #ed562e;
    }
}

.print-img {
    margin-top: 40px;
    margin-bottom: 50px;
    .box-img {
        text-align: center;
        .inner-img {
            height: 215px;
            width: 100%;
            text-align: center;
            overflow: hidden;
            display: block;
            img {
                height: auto;
                max-width: 100%;
                background-color: #e7e7e7;
                padding: 5px;
                box-shadow: 1px 1px 7px #e2e2e2;
            }
        }
        figcaption {
            color: #272727;
            text-decoration: underline;
            font-size: 16px;
        }
        a {
            color: #112674;
            span {
                color: #112674;
                text-decoration: underline;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}

.arow {
    margin-bottom: 50px;
}

.pad-lft {
    padding-left: 50px;
}

.pad-rg {
    padding-right: 50px;
}