@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile: ~"only screen and (max-width: 468px)";
@mobile-me: ~"only screen and (max-width: 319px)";
@mobile-slider-school: ~"only screen and (min-width: 600px)";
@tablet: ~"only screen and (min-width: 469px) and (max-width: 949px)";
@customsc: ~"only screen and (min-width: 768px) and (max-width: 998px)";
@slider: ~"only screen and (min-width: 469px) and (max-width: 767px)";
@desktop: ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@custom: ~"only screen and (min-width: 949px) and (max-width: 1200px)";
@desktop-xl: ~"only screen and (min-width: 1129px)";
@desktopsmall: ~"only screen and (min-width: 950px) and (max-width: 998px)";
@moo: ~"only screen and (min-width: 849px) and (max-width: 998px)";
@banner: ~"only screen and (min-width: 469px) and (max-width: 715px)";
@circle: ~"only screen and (min-width: 319px) and (max-width: 374px)";
//// *********  custom slider css 998 to 1200  *********
@media @moo {
    .sports .cus-imgs {
        width: 264px !important;
        padding-top: 30px !important;
    }
}
@media @desktopsmall {
    .sprofile .slogo {
        zoom: 0.8;
        overflow: visible !important;
        padding-top: 10px !important;
    }
}
//// *********  custom slider css 469 to 768 *********
@media @slider {
    .moments h6 {
  
    font-size: 24px !important;
}
    .moments {
  
    padding: 6px 0 20px !important;
}
    .moments h3 {
  
    font-size: 28px !important;
}
    .jit-india{
        zoom:0.7 !important;
    }
    .fm-txt p {
    font-size: 17px !important;
 
}
    .blu-bk-ul ul li {

    zoom: 0.8 !important;
}
    .mid-a a {
 
    font-size: 18px !important;
}
    .sc-body td span {
    font-size: 14px !important;
}
    .sc-title th img {
    height: 35px !important;
}
    .sc-title th span {
   
    font-size: 15px !important;
}
    .font35-or {
    font-size: 26px !important;
 
}
    .slant-font {
 
    font-size: 2.3em !important;
  
}
    .cup-img{
        img{
            margin: 0 auto;
        }
    }
        .emailer .mdl {
   
    max-width: 390px !important;
 
}
      .scroll-on {
    width: inherit !important;
}
        .cols-bg td h4 {
    font-size: 15px;
    margin: 0 auto;
}
    .vertic-mi {
  
    padding-left: 0px !important;
}
    .f-normal tr th{
        font-size: 14px !important;
    }
    .copy-marks {
 
    font-size: 14px !important;
}
    .big-li li {
   
    font-size: 14px !important;
  
}
        .draw {
    margin: 0px auto 60px !important;
}
    .sfa-select {
    margin: 50px 0px;
}
    .stab ul li h3 {
    font-size: 14px;
}
    .stable {
        margin-bottom: 50px;
    }
   .text-sp {
        margin-top: 0px !important;
        border-right: 0px solid #fff !important;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .text-sr {
        padding-top: 8px !important;
        padding-bottom: 60px !important;
    }
    .another-static {
        min-height: 300px !important;
        img {
            margin: 0 auto;
        }
    }
    .min800 {
        min-height: 500px !important;
    }
    .sp-class {
        padding-left: 0px !important;
        zoom: 0.4 !important;
    }
    .sprofile .sdata .fonts {
        font-size: 14px !important;
    }
    .j-cs {
        font-size: 14px !important;
    }
    .stu-f {
        font-size: 16px !important;
    }
    .font-hclass {
        font-size: 20px !important;
    }
    .c-text {
       margin-top: 30px !important;
    margin-bottom: 20px !important;
    text-align: center;
    }
    .im-c {
        text-align: center !important;
    }
    .s-info p {
        font-size: 16px !important;
        text-indent: -5px !important;
        text-align: center !important;
    }
    .pos-view {
        top: -10px !important;
    }
    .b-rad {
        width: 170px !important;
        height: 170px !important;
    }
    .sprofile {
        zoom: 0.8;
    }
    .sprofile .slogo {
        zoom: 0.79;
        overflow: visible !important;
        padding-top: 32px !important;
    }
    .grey-bk {
        margin-top: -10px !important;
        padding-top: 36px !important;
    }
    .w100 {
        min-height: auto !important;
    }
    .orng-bk .has {
        border-right: 0px solid #3A3A3A !important;
    }
    .orng-bk .dy p {
        text-align: center;
    }
    .orng-bk .has h4 {
        text-align: center;
    }
    .orng-bk {
        margin-top: -12px !important;
    }
    .slider .flex-direction-nav a.flex-prev:before {
        content: '';
        height: 40px !important;
    }
    .slider .flex-direction-nav a.flex-next:before {
        content: '';
        height: 40px !important;
    }
    .slider .flex-direction-nav a {
        height: 44px !important;
    }
    .slider .flex-direction-nav .flex-prev {
        left: 40px !important;
    }
    .judo-list ul li {
        font-size: 14px !important;
    }
    .judo-list ul {
        padding-left: 0px !important;
    }
    .judo-list ul li:after {
        padding: 0px 0px 0px 25px !important;
    }
    .pd155 {
        padding-top: 50px !important;
    }
    .landing-text h1 {
        margin: 0;
        font-size: 20px !important;
    }
    .school-name ul li {
        font-size: 14px !important;
    }
    .school-back {
        background-size: 100% 100% !important;
    }
    .sports {
        .verti-right {
            top: 250px !important;
        }
    }
    .court-list > ul {
        padding: 0;
    }
    .over-img {
        top: 55% !important;
    }
    .event {
        text-align: center;
        margin-bottom: 10px;
    }
    .venue {
        text-align: center;
    }
    .fb-set {
        margin-top: 15% !important;
    }
    .mg {
        margin: 0 auto !important;
    }
    .curve6 {
        display: none !important;
    }
    .foot-links {
        text-align: center !important;
    }
    .social-icon {
        ul {
            float: none !important;
            text-align: center !important;
            margin: 4% 0 2% !important;
        }
    }
    .mrgb {
        margin-bottom: 14px !important;
    }
    .redirect > a {
        width: 70% !important;
        font-size: 13px !important;
        text-align: center;
        margin: 4% auto !important;
    }
    ul.sport-content {
        width: 100% !important;
    }
    .slider {
        min-height: 150px !important;
    }
    .pop-descp {
        position: static !important;
    }
    div.home-content.text-center div.link-btn > a {
        width: 60%;
        margin: 0 auto;
        display: block;
        font-size: 13px;
    }
    div.home-content.text-center div.link-btn > .enquire-btn {
        margin: 0 auto 2%;
    }
    div.vertical div.handball-logo {
        display: none !important;
    }
    .terms {
        .head {
            width: 60% !important;
            padding: 15px 0 !important;
            font-size: 21px !important;
        }
        .rules {
            .term-fz {
                font-size: 16px !important;
            }
        }
    }
    .download {
        margin: 40px 0;
        a {
            font-size: 14px !important;
            display: block;
            width: 60%;
            margin: 0 auto !important;
        }
        .mgr {
            margin: 10px auto !important;
        }
    }
    .sponsers > p {
        text-align: center;
    }
    .contact-set {
        padding-top: 0px !important;
        padding-bottom: 0px;
    }
    .sports .sports-text {
        padding-top: 30px !important;
        left: inherit !important;
        width: 100% !important;
    }
    .sports .sportss-texts {
        padding-top: 35px !important;
        padding-left: 28px !important;
        left: 0px !important;
        width: 100% !important;
    }
    .sports {
        margin-bottom: 10px !important;
    }
    .sports .cus-imgs {
        width: inherit !important;
        padding-top: 12px !important;
        margin: 0 auto;
    }
    .sports .sport-text {
        padding-top: 28px !important;
        text-align: center;
        padding-left: 0px !important;
    }
    .sports .sport-texts {
        padding-top: 11px !important;
        text-align: center;
        padding-left: 0px !important;
    }
    .tabs-gallery h1 {
        font-size: 30px !important;
        margin: 0px !important;
    }
    .backwhite .sc-ul ul {
        padding: 0;
        margin-top: 10px !important;
    }
    .mobpad {
        padding: 0;
    }
    .sc-input {
        margin-top: 10px;
    }
    .patc {
        position: inherit !important;
        width: 100%;
        margin-top: -40px !important;
        margin-bottom: 0px !important;
    }
    .backwhite {
        position: inherit !important;
        top: 0px;
        width: 100%;
    }
    .scl {
        background: transparent !important;
        background-size: cover;
        height: inherit !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .tabs-gallery {
        margin-top: 0px !important;
    }
    .scl .patches {
        background: transparent !important;
        margin-top: 0px !important;
        position: inherit !important;
        //        min-height: 0px !important;
    }
    .patch {
        background: transparent !important;
    }
    .contact .regis {
        padding-bottom: 35px !important;
    }
    .partner-set {
        margin: 70px auto;
        p {
            font-size: 13px;
            text-align: center;
        }
    }
    .partner .par-logo img {
        position: absolute;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%)!important;
        text-align: center;
    }
    .print-img .box-img {
        text-align: center;
        margin-bottom: 20px;
    }
    .searchs {
        zoom: 0.7 !important;
        margin-bottom: 30px !important;
    }
    .marginlft .cat-left {
        width: 100% !important;
    }
    .mhsmargin {
        margin-top: -30px !important;
    }
    .margintop {
        margin-top: 30px !important;
    }
    .marg {
        margin-top: -36px !important;
    }
    .twit {
        margin-top: 36px;
    }
    .insta {
        margin-top: 36px;
    }
    .middle-home .over-img p {
        margin: 13px 0px 18px 0px !important;
        font-size: 15px !important;
    }
    .middle-home .over-img .mid-det h1 {
        font-size: 30px !important;
    }
    .middle-home .over-img img {
        zoom: 0.6;
    }
    .home-content.text-center {
        margin-top: 40px !important;
    }
    .home-content.text-center p {
        font-size: 14px !important;
    }
    .dif {
        font-size: 25px !important;
    }
    .curve {
        height: 40px !important;
    }
    .sub-cat {
        zoom: 0.4;
    }
    .slider-text h3 {
        margin: 0px !important;
        padding-bottom: 8px !important;
    }
    .slider-text a {
        font-size: 10px !important;
        padding: 3px 18px !important;
    }
    .flex-next {
        zoom: 0.7;
    }
    .flex-prev {
        zoom: 0.7;
    }
    .cimg {
        zoom: 0.3;
        margin: 40px auto 0px auto !important;
    }
    .media-text {
        p {
            font-size: 11px;
            margin: 0;
            padding: 0;
        }
    }
    h3.cname {
        font-size: 18px !important;
        margin: 0px 0px 0px 0px !important;
    }
    h5.copen {
        font-size: 12px !important;
        margin: 2px 0px 2px 0px !important;
    }
}
// *********   end *********
@media @banner {
    .sprofile .sdata ul {
        margin-top: 20px !important;
        margin-bottom: 0px !important;
        margin-top: 6px !important;
    }
    .sprofile .sdata ul li {
        padding: 0 2px 0 6px !important;
    }
    .b-rad {
        width: 130px !important;
        height: 130px !important;
    }
    .sprofile {
        zoom: 0.7 !important;
    }
}
/// *********  desktop 950 to 1120 *********
@media @desktop {
   
    .landing-text h1 {
        font-size: 40px !important;
    }
    .school-name ul li {
        font-size: 15px !important;
    }
    .school-back {
        background-size: 100% 100% !important;
    }
    .sprofile .splogo {
        zoom: 0.9;
    }
    .sprofile .slogo {
        zoom: 0.8;
        overflow: visible !important;
        padding-top: 20px !important;
    }
    .sprofile .sdata p {
        font-size: 1.5vw;
    }
    .redirect > a {
        width: 55% !important;
        font-size: 13px !important;
        text-align: center;
        margin: 4% auto !important;
    }
    ul.sport-content {
        width: 100% !important;
    }
    .cimg {
        zoom: 0.5 !important;
    }
    .footers .copy h5 {
        margin: 15px 6px !important;
    }
    .flexiwitdh .flex-direction-nav .flex-prev {
        left: -75px !important;
    }
    .flexiwitdh .flex-direction-nav .flex-next {
        right: -75px !important;
        text-align: right !important;
    }
    .onlylogo {
        zoom: 0.9 !important;
    }
}
// end
// css for  mobile max 468
@media @mobile {
    .scroll-on {
    width: inherit !important;
}
    .draw-btn {

    font-size: 10px !important;
}
    .head .swimming-round ul li .side-le h4 {
  
    font-size: 20px !important;
}
    .head .swimming-round ul li .side-le p {
    font-size: 10px !important;
   
}
    
.head .swimming-round ul li .side-rt {
 
    font-size: 17px !important;
  
}
    .cols-bg td h4 {
    font-size: 13px;
    margin: 0 auto;
}
    .vertic-mi {
  
    padding-left: 0px !important;
}
    .font-up h1{
        font-size: 15px;
        margin: 20px 0px 0px !important;
    }
        .f-normal tr th{
        font-size: 8px !important;
    }
    .copy-marks {
 
    font-size: 12px !important;
}
    .big-li li {
   
    font-size: 10px !important;
  
}
    .margtp {
    margin-top: 30px !important;
}
            .draw {
    margin: 0px auto 60px !important;
}
    .sfa-select {
    margin: 50px 0px;
        font-size: 13px !important;
}
  .get-drwa {

    font-size: 12px !important;

}
    .pads40{
    padding-top: 40px !important;
}
.pads400{
    padding-top: 0px !important;
}
    .l-m.text-center {
        margin-top: 15px;
    }
    .back-ll {
        text-align: center;
    }
    .flexslider {
        margin: 0px 0px 90px !important;
    }
    .stable {
        margin-bottom: 50px;
    }
    .text-sp {
        margin-top: 0px !important;
        border-right: 0px solid #fff !important;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .text-sr {
        padding-top: 8px !important;
        padding-bottom: 60px !important;
    }
    .min800 {
        min-height: 500px !important;
    }
    .sp-class {
        padding-left: 0px !important;
        zoom: 0.4 !important;
    }
    .sprofile .sdata ul li {
        padding: 0 3px 0 6px !important;
    }
    .sprofile .sdata .fonts {
        font-size: 12px !important;
    }
    .j-cs {
        font-size: 11px !important;
    }
    .stab ul li h3 {
        font-size: 7px;
    }
    .stu-f {
        font-size: 16px !important;
    }
    .font-hclass {
        font-size: 20px !important;
    }
    .c-text {
         margin-top: 30px !important;
    margin-bottom: 20px !important;
    text-align: center;
    }
    .im-c {
        text-align: center !important;
    }
    .s-info p {
        font-size: 13px !important;
        text-indent: -5px !important;
        text-align: center !important;
    }
    .pos-view {
        top: -10px !important;
    }
    .sprofile .sdata h3 {
        margin: 0px 0 0 !important;
    }
    .sprofile .sdata ul {
        margin-top: 20px !important;
        margin-bottom: 0px !important;
        margin-top: 6px !important;
    }
    .b-rad {
        width: 80px !important;
        height: 80px !important;
    }
    .sprofile .slogo {
        width: 100% !important;
        height: 100% !important;
    }
    .sprofile {
        zoom: 0.6 !important;
        padding-top: 20px !important;
    }
    .another-static {
        min-height: 300px !important;
        img {
            margin: 0 auto;
        }
    }
    .martgintp .blue-cat ul li figcaption {
        width: auto !important;
    }
    .hovers {
        margin: 10px 40px;
    }
    .martgintp .blue-cat ul li {
        margin: 10px 0px !important;
        width: 33% !important;
        position: relative !important;
    }
    .padll {
        padding-right: 20px !important;
    }
    .l-p {
        font-size: 13px !important;
    }
    .grey-bk {
        margin-top: -10px !important;
        padding-top: 30px !important;
    }
    .w100 {
        min-height: auto !important;
    }
    .orng-bk .has h4 {
        font-size: 20px !important;
        text-align: center;
    }
    .orng-bk .dy p {
        text-align: center;
    }
    .orng-bk {
        margin-top: -7px !important;
        padding: 22px 0 18px !important;
    }
    .orng-bk .has {
        border-right: 0px solid #3A3A3A !important;
    }
    .slider {
        margin-top: -18px !important;
    }
    .judo-list ul {
        padding-left: 0px !important;
    }
    .judo-list ul li {
        font-size: 12px !important;
    }
    .tbl p {
        font-size: 12px !important;
    }
    .judo-list ul li:after {
        content: '';
        padding: 0px 0px 0px 4px !important;
    }
    .pd155 {
        padding-top: 30px !important;
    }
    .landing-text h1 {
        font-size: 14px !important;
        margin-top: 0;
        margin-bottom: 0;
    }
    .school-name ul li {
        font-size: 8px !important;
    }
    .school-back {
        background-size: 100% 100% !important;
    }
    .faqs .eng p {
        font-size: 12px !important;
        line-height: 110%;
    }
    .faqs i {
        font-size: 23px !important;
        line-height: 85%;
    }
    .faqs.mobile-fq .panel-heading h4 {
        font-size: 12px !important;
    }
    .faqs .panel-default > .panel-heading + .panel-collapse > .panel-body {
        margin: 10px 30px 0px 30px !important;
    }
    .faqs .faq-table .table > thead > tr > th {
        font-size: 8px;
    }
    .faqs .faq-table .table > tbody > tr > td {
        font-size: 10px;
    }
    .faqs p {
        font-size: 13px !important;
        text-transform: uppercase;
    }
    .faqs ul li {
        font-size: 14px !important;
    }
    .faqs .panel-heading > .panel-title > a {
        padding: 14px 30px !important;
    }
    .sports {
        .vertical {
            .verti-right {
                right: -141px !important;
                top: 350px !important;
                .right_button {
                    font-size: 9px !important;
                }
            }
        }
    }
    .brochure {
        a {
            text-align: right;
            img {
                width: 70%;
            }
        }
    }
    .court-list > ul {
        padding: 0;
    }
    div.download {
        margin: 40px 0;
        a {
            font-size: 12px !important;
            display: block;
            width: 80%;
            padding: 5px !important;
            margin: 0 auto !important;
        }
        .mgr {
            margin: 10px auto !important;
        }
    }
    .event {
        text-align: center;
        margin-bottom: 20px;
    }
    .venue {
        text-align: center;
    }
    div.footers div.part-logo {
        text-align: center;
    }
    .footers .part-logo ul {
        li {
            margin-bottom: 25px;
        }
    }
    .mrgb {
        margin-bottom: 10px !important;
    }
    .over-img {
        top: 50% !important;
    }
    .curve6 {
        display: none !important;
    }
    .fb-set {
        margin-top: 15% !important;
    }
    .terms {
        margin: 10% 0 15% !important;
        .head {
            width: 100% !important;
            padding: 20px 0 !important;
            font-size: 18px !important;
        }
        .rules {
            .term-fz {
                font-size: 14px !important;
            }
        }
    }
    .foot-links {
        text-align: center !important;
    }
    .social-icon {
        ul {
            float: none !important;
            text-align: center !important;
            margin: 6% 0 !important;
        }
    }
    .redirect > a {
        width: 85% !important;
        font-size: 11px !important;
        text-align: center;
        margin: 6% auto !important;
    }
    ul.sport-content {
        width: 100% !important;
    }
    .pop-descp {
        position: static !important;
    }
    div.download.regi {
        margin: 20px 0 50px;
    }
    .chart-table tr > td {
        padding: 4px !important;
        font-size: 13px !important;
    }
    .slider {
        min-height: 20px !important;
    }
    div.home-content.text-center div.link-btn > a {
        width: 80%;
        margin: 0 auto;
        display: block;
        font-size: 12px;
    }
    div.home-content.text-center div.link-btn > .enquire-btn {
        margin: 0 auto 2%;
    }
    div.vertical div.handball-logo {
        display: none !important;
    }
    .sponsers > p {
        margin: 15px 0 !important;
        text-align: center;
    }
    .curve {
        height: 20px !important;
    }
    .landing {
        margin-top: -16px !important;
        margin-bottom: 15px !important;
    }
    .contact-set {
        text-align: center !important;
        padding-top: 0px !important;
        padding-bottom: 0px;
    }
    .team-img img {
        margin: 0 auto;
}
    .team-content {
    text-align: center;
        h4{
            margin: 12px 0px !important;
        }
        p{
            padding: 0px 12px !important;
        }
}
    a.enquire{
        margin-bottom: 60px;
    }
    .mhsmargin {
        margin-top: -20px !important;
    }
    .home-content.text-center {
        margin-top: 20px !important;
    }
    .home-content.text-center p {
        font-size: 13px !important;
    }
    .middle-home {
        margin-top: 36px !important;
    }
    .sports .sports-text {
        padding-top: 30px !important;
        left: inherit !important;
        width: 100% !important;
    }
    .sports .sportss-texts {
        padding-top: 35px !important;
        //    padding-left: inherit !important;
        left: 0px !important;
        width: 100% !important;
    }
    .sports {
        margin-bottom: 10px !important;
    }
    .sports .cus-imgs {
        width: inherit !important;
        padding-top: 0px !important;
        margin: 0 auto;
    }
    .sports .sport-text {
        padding-top: 28px !important;
        padding-left: 0px !important;
        text-align: center;
    }
    .sports .sport-texts {
        padding: 11px 0px 0px 0px !important;
        text-align: center;
    }
    .tabs-gallery h1 {
        font-size: 25px !important;
        margin: 0px !important;
    }
    .backwhite .sc-ul ul {
        padding: 0;
        margin-top: 10px !important;
    }
    .mobpad {
        padding: 0;
    }
    .sc-input {
        margin-top: 10px;
    }
    .patc {
        position: inherit !important;
        width: 100%;
        margin-top: -40px !important;
        margin-bottom: 0px !important;
    }
    .backwhite {
        position: inherit !important;
        top: 0px;
        width: 100%;
    }
    .scl {
        background: transparent !important;
        background-size: cover;
        height: inherit !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .tabs-gallery {
        margin-top: 0px !important;
    }
    .scl .patches {
        background: transparent !important;
        margin-top: 0px !important;
        position: inherit !important;
        //        min-height: 0px !important;
    }
    .contact .regis p {
        font-size: 23px !important;
    }
    .partner .par-logo img {
        position: absolute;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%)!important;
        text-align: center;
    }
    .patch {
        background: transparent !important;
    }
    .contact .regis {
        padding-bottom: 35px !important;
    }
    .partner-set {
        margin: 70px auto;
        p {
            font-size: 13px;
            text-align: center;
        }
    }
    .print figure.figure1 {
        zoom: 0.8 !important;
    }
    .print figure.figure2 {
        zoom: 0.8 !important;
    }
    .print-img .box-img {
        text-align: center;
        margin-bottom: 20px !important;
    }
    .searchs {
        zoom: 0.6 !important;
        margin-bottom: 30px;
    }
    .regi a {
        font-size: 14px !important;
    }
    .game-content h3 {
        margin-bottom: 24px !important;
    }
    .game-content p {
        font-size: 13px;
    }
    .margino {
        margin: 0px 70px 0px 70px !important;
    }
    .margino .col-md-3 .sports-tab p {
        font-size: 13px !important;
    }
    .margintop {
        margin-top: 30px !important;
    }
    .middle-home .over-img .mid-det h1 {
        line-height: 20% !important;
        font-size: 23px !important;
    }
    .twit {
        margin-top: 36px;
    }
    .insta {
        margin-top: 36px;
    }
    .dif {
        font-size: 18px !important;
    }
    .curve6 {
        background: transparent !important;
    }
    .middle-home .over-img p {
        margin: 8px 0px 14px 0px !important;
        font-size: 11px !important;
    }
    .middle-home .over-img img {
        zoom: 0.3 !important;
    }
    .sub-cat {
        zoom: 0.24 !important;
        margin-top: -66px !important;
    }
    .slider-text h3 {
        font-size: 4vw !important;
        margin: 0px !important;
        padding-bottom: 0px !important;
    }
    .slider-text a {
        font-size: 6px !important;
        padding: 1px 3px !important;
    }
    .flex-next {
        zoom: 0.4 !important;
    }
    .flex-prev {
        zoom: 0.4 !important;
    }
    .marg {
        margin-top: -28px !important;
    }
    .cabout h4 {
        font-size: 22px;
    }
    .venbak {
        top: 10px;
    }
    .blue-cat {
        zoom: 0.31;
    }
    .cimg {
        zoom: 0.2;
    }
    .media-text {
        p {
            font-size: 8px !important;
            margin: 0;
            padding: 0;
        }
    }
    h3.cname {
        font-size: 14px !important;
        margin: 0px 0px 0px 0px !important;
    }
    h5.copen {
        color: #ffffff;
        font-size: 11px !important;
        margin: 2px 0px 2px 0px;
    }
    .flexiwitdh .flex-direction-nav .flex-prev {
        left: -52px!important;
    }
    .flexiwitdh {
        width: 58% !important;
        padding-top: 20px !important;
    }
    .flexiwitdh .flex-direction-nav .flex-next {
        right: -52px !important;
        text-align: right;
    }
    .venuecurve {
        background: transparent !important;
        background-size: 100%;
        min-height: 230px !important;
    }
    .footer-menu {
        text-align: center;
    }
    .marg-tp {
        position: relative;
        top: 12px !important;
        left: 12px !important;
        zoom: 0.8;
    }
    .padtop {
        padding: 12px 0px 20px 0px;
    }
    .mobile-logo {
        position: absolute;
        left: 50%;
        .transform(translateX(-50%)) !important;
        img {
            zoom: 0.6 !important;
        }
    }
    .onlylogo {
        .transform(translateY(0px)) !important;
    }
    .sb {
        margin: 0px 0px 0px -6px;
        height: 23px !important;
    }
    .sfm input {
        margin-top: 4px;
        padding: 6px 9px !important;
    }
    .navbar-nav {
        margin: 7.5px -15px;
        text-align: center;
        text-transform: uppercase;
        li {
            a {
                color: #0A1A72 !important;
                font-size: 18px !important;
                cursor: pointer;
            }
        }
    }
    .cabout h4 {
        font-size: 21px !important;
        margin-top: 0px !important;
    }
    .cabout p {
        font-size: 13px !important;
    }
    .footers .input-text {
        margin-top: 0px !important;
        float: left !important;
        margin-left: 15px;
        width: 75% !important;
    }
    .footers .button-text {
        text-align: justify;
        margin-top: 0px;
        float: inherit;
        padding-top: 0px;
    }
    .footers .newsleter {
        float: inherit !important;
        text-align: center;
    }
    .footer-menu {
        text-align: center;
        margin-top: 0px !important;
    }
    .partners {
        text-align: center;
    }
    .footers .part-logo ul {
        text-align: center;
        li {
            margin-bottom: 25px;
        }
    }
    .cimg {
        margin: 89px auto 0px auto !important;
    }
    h5.copen {
        margin: 0px 0px 2px 0px !important;
    }
    .footers .part-logo {
        margin-top: 0px !important;
        margin-bottom: 20px;
    }
    .map {
        padding-bottom: 80px !important;
    }
    .footers .social-icon ul {
        float: none !important;
        text-align: center !important;
    }
    .footers .copy h5 {
        float: none !important;
        text-align: center;
        margin-bottom: 10px !important;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 15px;
    }
}
// ********* end **********
@media @circle {
    .b-rad {
        width: 60px !important;
        height: 60px !important;
    }
    .sprofile .slogo {
        padding-top: 26px;
    }
    .sprofile {
        zoom: 0.5!important;
    }
}
// ********* tablet css ****************
@media @tablet {
    .slider {
        margin-top: -30px !important;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e7e7e7;
        margin-top: 15px;
    }
    div.footers div.part-logo {
        text-align: center;
    }
    .footers .part-logo ul {
        li {
            margin-bottom: 25px;
        }
    }
    .map {
        padding-bottom: 80px !important;
    }
    .footers .social-icon ul {
        float: none !important;
        text-align: center !important;
    }
    .footers .copy h5 {
        float: none !important;
        text-align: center;
        margin-bottom: 10px !important;
    }
    .cabout h4 {
        font-size: 25px !important;
        margin-top: 0px !important;
    }
    .venbak {
        top: 10px;
    }
    .blue-cat {
        zoom: 0.4;
    }
    .flexiwitdh .flex-direction-nav .flex-prev {
        left: -52px !important;
    }
    .flexiwitdh .flex-direction-nav .flex-next {
        right: -52px !important;
        text-align: right !important;
    }
    .venuecurve {
        background: transparent !important;
        background-size: 100%;
        min-height: 282px;
    }
    .footers .part-logo ul {
        text-align: center;
    }
    .partners {
        text-align: center;
    }
    .footers .newsleter {
        float: inherit !important;
        text-align: center;
    }
    .footers .input-text {
        margin-top: 0px !important;
        float: left !important;
        width: 80%;
        margin-left: 23px !important;
    }
    .footers .part-logo {
        margin-top: 0px !important;
    }
    .footers .button-text {
        text-align: justify !important;
        margin-top: 0px !important;
        float: inherit !important;
        padding-top: 0px !important;
    }
    .footer-menu {
        text-align: center;
        margin-top: 0px !important;
    }
    .sfm input {
        margin-top: 4px;
    }
    .sb {
        margin: 0px 0px 0px -6px
    }
    .marg-tp {
        position: relative;
        top: 12px !important;
        left: 12px !important;
    }
    .padtop {
        padding: 12px 0px 60px 0px;
    }
    .mobile-logo {
        position: absolute;
        left: 50%;
        .transform(translateX(-50%)) !important;
    }
    .onlylogo {
        .transform(translateY(0px)) !important;
    }
    .navbar-nav {
        margin: 7.5px -15px;
        text-align: center;
        text-transform: uppercase;
        li {
            a {
                color: #0A1A72 !important;
                font-size: 18px !important;
                cursor: pointer;
            }
        }
    }
}
// ********* end *********
//********* custom size Media qeury *******
@media @custom {
    .now {
        position: relative;
        top: 12px !important;
        line-height: 1;
        left: 6px;
    }
    .slider {
        min-height: 400px !important;
    }
    div.footers div.part-logo {
        text-align: center;
    }
    .sports .btn-sports {
        font-size: 10px !important;
    }
    div.vertical .handball-logo {
        top: -40px;
        right: 130px;
        img {
            width: 75%;
            margin: 0 auto;
        }
    }
    .sub-cat {
        zoom: 0.7;
    }
    .mobpads {
        padding: 4px;
    }
    .slider-text a {
        font-size: 14px !important;
    }
    .slider-text h3 {
        font-size: 4vw !important;
    }
    .media-text {
        p {
            margin: 0;
            padding: 0;
        }
    }
    h3.cname {
        margin: 2px 0px 0px 0px
    }
    h5.copen {
        margin: 0px 0px 30px 0px;
    }
    .sb {
        margin: 0px 0px 0px -6px
    }
    ul.menu-list {
        margin-top: -46px !important;
    }
    ul.menu-list li {
        padding: 0px 8px !important;
        font-size: 12px !important;
    }
    //    ul.menu-list li a img {
    //        opacity: 1;
    //        zoom: 0.7;
    //        padding: 0px 30px;
    //    }
}
// ********* end *********
// ********* star custom csss 768 to 998 *********
@media @customsc {
     .cup-img{
        img{
            margin: 0 auto;
        }
    }
    .emailer .mdl {
   
    max-width: 390px !important;
 
}
    .jit-india{
        zoom:0.7;
    }
    .draw {
    margin: 0px auto 60px !important;
}
    .sfa-select {
    margin: 50px 0px;
}
    .sprofile .sdata ul {
        margin-bottom: 12px !important;
        margin-top: 12px !important;
    }
    .sprofile .sdata ul li {
        padding: 0 5px 0 7px !important;
    }
    .text-sp {
        margin-top: 0px !important;
        border-right: 0px solid #fff !important;
        padding-bottom: 0px !important;
        text-align: center;
    }
    .text-sr {
        padding-top: 8px !important;
        padding-bottom: 60px !important;
    }
    .s-info p {
        text-indent: 0px !important;
    }
    .pos-view {
        top: -17px !important;
    }
    .pd155 {
        padding-top: 60px !important;
    }
    .landing-text h1 {
        margin-top: 0 !important;
        font-size: 33px !important;
    }
    .school-back {
        background-size: 100% 100% !important;
    }
    .now {
        top: 12px !important;
    }
    .sports {
        min-height: 700px !important;
        .verti-right {
            top: 270px !important;
            right: -151px !important;
        }
    }
    .event {
        text-align: center;
        margin-bottom: 10px;
    }
    .venue {
        text-align: center;
    }
    .mg {
        margin: 0 auto !important;
    }
    .foot-links {
        text-align: center !important;
    }
    .social-icon {
        ul {
            float: none !important;
            text-align: center !important;
            margin: 3% 0 !important;
        }
    }
    .redirect > a {
        width: 75% !important;
        font-size: 15px !important;
        text-align: center;
        margin: 6% auto !important;
    }
    ul.sport-content {
        width: 100% !important;
    }
    .slider {
        min-height: 250px !important;
    }
    .pop-descp {
        position: static !important;
    }
    div.vertical div.handball-logo {
        top: -30px;
        right: 110px;
        img {
            width: 60%;
            float: right;
        }
    }
    .sports .sports-text {
        padding-top: 55px !important;
    }
    .sports .sportss-texts {
        padding-top: 35px !important;
        padding-left: 28px !important;
    }
    .sports .btn-sports {
        font-size: 10px !important;
    }
    .right_button {
        font-size: 10px !important;
    }
    .mobpads {
        padding: 4px;
    }
    .sports .sport-text {
        padding-top: 35px !important;
    }
    .sports .sport-text > h2.game_title {
        font-size: 26px !important;
    }
    .sports .sport-text > p {
        font-size: 13px !important;
    }
    .sports .sport-texts {
        padding-top: 35px !important;
    }
    .tabs-gallery h1 {
        font-size: 30px !important;
        margin: 0px !important;
    }
    .backwhite .sc-ul ul {
        padding: 0;
        margin-top: 10px !important;
    }
    .mobpad {
        padding: 0;
    }
    .sc-input {
        margin-top: 10px;
    }
    .patc {
        position: inherit !important;
        width: 100%;
        margin-top: -40px !important;
        margin-bottom: 0px !important;
    }
    .backwhite {
        position: inherit !important;
        top: 0px;
        width: 100%;
    }
    .scl {
        background: transparent !important;
        background-size: cover;
        height: inherit !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .tabs-gallery {
        margin-top: 0px !important;
    }
    .scl .patches {
        background: transparent !important;
        margin-top: 0px !important;
        position: inherit !important;
        //        min-height: 0px !important;
    }
    .print-img .box-img {
        text-align: center;
        margin-bottom: 20px !important;
    }
    .searchs {
        zoom: 0.7 !important;
        margin-bottom: 30px !important;
    }
    .marginlft .cat-left {
        width: 100% !important;
    }
    .mhsmargin {
        margin-top: -52px !important;
    }
    .marginlft .cat-left {
        width: 100% !important;
    }
    .sprofile {
        zoom: 0.8;
    }
    .sprofile .slogo {
        zoom: 0.79;
        overflow: visible !important;
        padding-top: 10px !important;
    }
    .middle-home .over-img img {
        zoom: 0.8;
    }
    .sub-cat {
        zoom: 0.63;
    }
    .slider-text h3 {
        margin: 0px !important;
    }
    .slider-text a {
        font-size: 12px !important;
        padding: 7px 30px !important;
    }
    .blue-cat {
        zoom: 0.7;
    }
    .venbak {
        top: 0px;
    }
    .sb {
        margin: 0px 0px 0px -6px
    }
    ul.menu-list {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    ul.menu-list li {
        padding: 0px 10px !important;
        font-size: 12px !important;
    }
    ul.menu-list li a img {
        opacity: 1;
        zoom: 0.7;
        padding: 0px 30px;
    }
    .padtop {
        padding: 0px 0px 0px 0px;
    }
    .onlylogo {
        .translateY(22px) !important;
    }
    .marg-tp {
        position: relative;
        top: 0px !important;
        left: 28px !important;
    }
    .cimg {
        zoom: 0.6;
    }
    .media-text {
        p {
            margin: 0;
            padding: 0;
        }
    }
    h3.cname {
        font-size: 26px;
        margin: 7px 0px 0px 0px;
    }
    h5.copen {
        font-size: 17px !important;
        margin: 0px 0px 2px 0px !important;
    }
    div.home-content.text-center div.link-btn > a {
        width: 50%;
        margin: 0 auto;
        display: block;
        font-size: 17px;
    }
    div.home-content.text-center div.link-btn > .enquire-btn {
        margin: 0 auto 2%;
    }
    //	sports
    .sports {
        font-size: 11px;
    }
    .sports .sport-texts {
        padding-top: 0 !important;
    }
    .panel-heading > .panel-title > a {
        padding: 6px 10px;
        font-size: 12px;
    }
    .spaceli li {
        margin: 5px 0 !important;
    }
    .verti .vert {
        right: -41px !important;
    }
    .tab-info {
        margin: 20px 0 10px !important;
    }
}
@media @mobile-me {
    .sprofile {
        width: 100% !important;
        .slogo {
            width: 100%!important;
            height: auto!important;
            margin: 45px auto!important;
            overflow: visible!important;
        }
        .splogo {
            width: 100%!important;
            height: auto!important;
            overflow: visible!important;
            position: relative!important;
            margin: 30px auto!important;
            img {
                margin: 60px auto!important;
                width: 100%!important;
            }
        }
        p {
            font-size: smaller;
        }
        .sdata {
            margin-top: 30px;
            .spoint p {
                font-size: 12px!important;
            }
        }
        h3 {
            font-size: 2vw;
            margin: 35px 0px 0px 0px;
        }
        ul {
            margin-top: 10px!important;
            li {
                padding: 0px 10px 0px 10px!important;
            }
        }
    }
}
@media @mobile-slider-school @mobile-me {
    .sprofile {
        .slogo {
            margin: 30px 0 auto!important;
        }
    }
}
/// ********* end *********
@media @mobile {
    .tab-info {
        font-size: 12px;
        thead {
            font-size: 10px;
        }
    }
}
