<div class="contact">
	<div class="patch">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 pad-left">
					<div class="regis">
						<p>About sfa</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<div class="contact-set">
					<h2>A New Way Of Playing Inter-School Sports</h2>
					<p>SFA is a platform for school children to participate and compete in multiple sports. We create an environment that enables children to perform their best by motivating, nurturing and supporting them in taking their sporting prowess to the next level. It is our belief that by providing our children with the right guidance, facilities and platform, we will not only facilitate the next generation of talented young professionals but also make children love sports in a whole new light.
					</p>
					<h2>Our Mission</h2>
					<p>To revolutionize the landscape of school sports in Mumbai & eventually India by providing a robust, sustainable ecosystem for school children to participate, compete & grow in the field of sport.
					</p>
					<h2>Our Vision</h2>
					<p>To be the most respected & reputed sporting system for school children in India. To build an inter-school sporting system that India can be proud of.

					</p>

				</div>
				<div class="download regi ">
					<p>For more information on SFA and our flag-off event in Mumbai kindly </p>
					<a href="img/playbook/School-and-Participant-Registration-Forms.pdf" target="_blank" class="mgr">download brochure</a>
					<a href="img/playbook/SFA-flipbook/SFA.html" target="_blank">view e-brochure</a> 
				</div>
			</div>
		</div>
	</div>
</div>