<div class="contact">
    <div class="patch">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 pad-left">
                    <div class="regis">
                        <p>About sfa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="contact-set">
                    <p>
                        Sports For All is a first-of-its-kind organization set out to revolutionize the way India plays inter-school sports and inter-college sports. By the way of commissioning a professional and an all-encompassing sporting eco-system, we endeavour to enable the next generation athletes
                        from every school and college who aspire to represent India. Drawing inspiration from leading grass roots development programs worldwide and evolving them further, SFA is resolved to provide young Indian players a sporting environment comparable
                        to that experienced by international athletes.
                    </p>
                    <div class="para">
                      <p>
                        The three integral aspects of the Sports For All ecosystem are:
                      </p>
                      <ol>
                        <li>Annual Olympic-style inter-school and inter-college sports tournaments at venues with top-notch infrastructure and facilities</li>
                        <li>Year-round training & development programs in partnership with reputed academies and coaches to enable young athletes to have ready access to facilities & improve their game</li>
                        <li>A holistic online portal for records maintenance of every athlete and school which will enable us as a nation to systematize sport in the true sense at the grass roots level</li>
                      </ol>
                    </div>
                    <p>
                        In a country where biases still exist in the field of sports basis socio-economic status, gender, educational board and even religion, Sports For All is determined to equalize society by extending unbiased and uniform guidance, facilities, infrastructure and opportunities
                        in all Olympic sports.
                    </p>
                    <p>
                        India has the potential to achieve accolades in the field of sport. Latent talent exists in every school of India. Sports For All aims to identify, nurture and bring young talent to the forefront by providing them with an extensive platform so that young
                        athletes can be identified and they can finally dream of taking up sports as a professional career.
                    </p>
                    <div class="para">
                      <p>
                        An in-depth understanding of the current landscape of grass-root level sports in India has led Sports For All to identify and provide some simple, yet very crucial components, which young athletes require in order to propel them further in their sport:
                      </p>
                      <ol>
                        <li>Feeling and pride of representing an institution.</li>
                        <li>State-of-Art infrastructure, an environment conducive to play sports and the right guidance to perform better</li>
                        <li> Maintenance of records in videos and statistics by profiling players and schools</li>
                        <li>The support of peers, mentors and talent scouts</li>
                      </ol>
                    </div>
                    <p>
                      Sports For All is working relentlessly towards systematising the inter-school and inter-college sports eco-system in the country by providing a singular, integrated and an all-inclusive platform for young athletes, coaches and sporting services for schools and colleges across India, one city at a time with a focused approach. We have thus assumed the responsibility of creating champions in our country who will go ahead to represent India at the international level in the years to come.
                    </p>
                    <p>
                        Ab Jeetega India!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="contact-set">
                    <h2>A New Way Of Playing Inter-School Sports</h2>
                    <p>SFA is a platform for school children to participate and compete in multiple sports. We create an environment that enables children to perform their best by motivating, nurturing and supporting them in taking their sporting prowess to the next level. It is our belief that by providing our children with the right guidance, facilities and platform, we will not only facilitate the next generation of talented young professionals but also make children love sports in a whole new light.
                    </p>
                    <h2>Our Mission</h2>
                    <p>To revolutionize the landscape of school sports in Mumbai & eventually India by providing a robust, sustainable ecosystem for school children to participate, compete & grow in the field of sport.
                    </p>
                    <h2>Our Vision</h2>
                    <p>To be the most respected & reputed sporting system for school children in India. To build an inter-school sporting system that India can be proud of.
                    </p>
                </div> -->
    <!--
				<div class="download regi ">
					<p>For more information on SFA and our flag-off event in Mumbai kindly </p>
					<a href="img/playbook/SFA-Brochure.pdf" target="_blank" class="mgr">download brochure</a>
					<a href="img/playbook/SFA-flipbook/SFA.html" target="_blank">view e-brochure</a>
				</div>
-->
    <!-- </div>
        </div> -->
    <!-- <div class="row">
            <div class="col-md-12 ">
                <div class="contact-set">
                    <h2>Our Team</h2>
                </div>
            </div>
        </div>
        <div class="arow">
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Rishikesh Joshi, Founder</h4>
                        <p>Simply put, SFA is Rishi’s brainchild. Repeated exposure to the state of inter- school sports in the last twenty-five years of his life led to the concept of Sports For All. Previously an integral part of the administration setup at one of world’s leading cricket team, Rishi had a firm grip on sports administration and management along with a keen interest and in-depth exposure on the state of inter- school sports in Mumbai. Having played multiple sports at the state, district and school level coupled with his twelve year work experience in the professional sports industry led him to believe that India was ready for a revolution at the inter-school level as well, which compelled him to conceptualize SFA.</p>
                        <p>A qualified engineer in Information Technology from Rajiv Gandhi Institute of Technology, little did Rishi know that his love for sports would turn into a revolution led by him. Backed by a Master’s in Sports Management from Edith Cowan University, Perth - Australia and his experience in the field of sports marketing and administration, there was just no looking back. Rishi is relentless in taking holistic ownership in the space of inter- school sports by way of commissioning a fully integrated sporting system for the school children of India.</p>
                        <p>For Rishi, this is just the tip of the iceberg. In the near future, he aims to include all Olympic sports and initiate a system at the inter-college level as well. It is his dream to enable children to fall in love with sports, as he believes this is the first and most important step to India being a force to reckon with on the world map. To reach there, he believes it is imperative to provide a professional state-of-the-art platform at school and college level sports. Committed to this cause, he endeavours to cater to the sporting needs of all strata and demographics of the Indian society through Sports For All. </p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Aadil Mehta, Co- Founder</h4>
                        <p>Besides his daily role of a calm evaluator amidst chaos, Aadil is the spine of our online portal, which integrates all SFA Sports Tournaments with smart technology. As he conceptualizes the complex wireframe for SFA, he brings with him the experience of heading a creative powerhouse as a CEO for over five years. Prior to that, Aadil headed Choron Diamonds in Moscow post an MBA from Nottingham Business School, but bling didn’t cut it for this creatively bent. </p>
                        <p>Twenty months ago, Aadil was a part of a casual conversation about a start- up. Today, he is proud to be one of the driving forces behind the revolution called Sports For All. Having played various sports for school, college and private clubs, Aadil comprehends the current state of sports in our country. Finally, the Olympics is not so distant for India after all, he feels emphatically.</p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Vishwas Choksi, Co- Founder</h4>
                        <p>Bearing conviction in the belief system and the revolutionary potential of SFA, Vishwas is responsible for strategy and scaling of the SFA story. During the past fifteen years, he has handled Operations, Project Management, Purchase and Human Resources in his family business. Prior to that, Vishwas pursued a Master’s in Chemical Engineering from Columbia University. </p>
                        <p>An ardent lover of sports, not only has Vishwas played multiple sports at school, college and club level, but also often travelled the world to see some of the biggest sports events. A true patriot, he hopes to see India in the top three countries of the medals tally at the Summer Olympic Games within the next twenty years and is convinced that SFA is the foundation that will make this dream a reality.</p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Manan Vora, Co-Founder</h4>
                        <p>A penchant for smooth operations is an attribute Manan Vora brings with him through his seven years of experience at a creative powerhouse. A post- graduate from MICA, Manan had a short stint with Webchutney and now he has joined forces with SFA to back us with legal support. When he is not focusing on clauses, Manan contributes to SFA’s online portal, which will revolutionize the way records are maintained for inter- school sports in India. </p>
                        <p>Being an inter- school basketball player himself, Manan deems it rather unfortunate that no official records of his tournament are available to him today. It is his firm belief that SFA’s online portal will immortalize each player, their game and their record thus making every young player in India a hero. </p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Sudharshan Anandkumar, Co-Founder</h4>
                        <p>In charge of partners and associations of our company, Sudi’s own association with SFA is based on our strong belief system and the scope of change we can bring about pan India. With one foot in Mumbai and one in Chennai, Sudi is also responsible for extending SFA’s scope across India. </p>
                        <p>Backed with over 5 years of experience in heading the operations of a creative agency, exposure at creative powerhouses like Ogilvy & Mather and James Walter Thompson and powered with a Post- Graduation from MICA, Sudi is resolute to change India’s outlook towards sports. Having played various sports at inter-school and district level, his single- minded focus is to provide an even ground for competition to young players from across the country.</p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Shruti Dhadda, Idea & Creations Head </h4>
                        <p>The creative genius at SFA, Shruti Dhadda brings with her over five years of experience in heading a boutique agency as a Creative Director. Backed by a Post Graduation degree from MICA and having helmed the campaign for a leading sports team in India, Shruti’s contribution in creative strategy and brand building at SFA is pertinent. </p>
                        <p>A Master of Resource Mobilisation from the S.P. Jain Institute of Management and Research, Shruti is a strong supporter of the advancement of children in India and has worked closely with a number of NGO’s. With a cause close to her heart coupled with her creative acumen, Shruti is determined to change the way India perceives sports.</p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Rachita Berry, Head of Operations and Events  </h4>
                        <p>Singularly the rock solid operations force behind every “Sports & Education Week” event at SFA, it is her passion for sports that drives Rachita to deliver immaculate performance. Rigorously trained for four seasons with the IPL team Rajasthan Royals as Sponsor Servicing Manager and then the Senior Manager of Operations, she brings to SFA not just her experience, but her contagious love for sports. </p>
                        <p>With her degree in Entertainment and Event Marketing from NYU, USA and her previous jobs at Exceed Entertainment as well as Bloomberg UTV and Web 18, Rachita is power – packed with skill and experience essential to her role at SFA. Her singular vision is to seamlessly behold a stadium deafening with the applause of school children creating an atmosphere of sheer euphoria. Rachita hopes to create this magic in more cities across India with every passing year.</p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Ashita Patel, Head of Marketing and Communications </h4>
                        <p>Changing the perception of an entire country towards sports at a grass-roots level is what Ashita aims to do at SFA. Having been an integral part of the marketing team at Adlabs Imagica much before its inception, she was closely involved in marketing, branding, communication and creative strategy of the first theme park in the country. Ashita brings on board the marketing expertise required for the launch of a game- changing concept in India. </p>
                        <p>An MFA in Advertising from the Academy of Art University, San Francisco and a Post- Graduate in Advertising and Marketing from Xavier’s Institute of Communications, Ashita has been trained in creative strategy and communications at Ogilvy, Mumbai. Beginning with a gradual shift in perception, it is her vision to eventually make Sports For All synonymous with sports across India.</p>
                    </div>
                </div>
            </div>
            <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Vaishali Madan, Head of Corporate Communications & Strategy </h4>
                        <p>A decade long experience in Corporate Communications, Brand Management and Public Relations is what Vaishali brings on the table at SFA. Holding a Master’s degree in International Relations from the London School of Economics, she has created breakthrough campaigns for lifestyle and luxury brands at Madison PR & Proctor & Gamble before moving on to head the PR arm at Mahesh Bhupathi’s entertainment conglomerate – Globosport, where she managed many celebrity profiles. </p>
                        <p>Now, as mother of a three year old, Vaishali truly understands the role sports plays in shaping the overall personality of a child. She truly believes that by the time her son is ready to play inter- school sports, SFA will have changed the face of sports in India. </p>
                    </div>
                </div>
            </div>
                <div class="row pdbotom">
                <div class="col-md-3">
                    <div class="team-img text-center">
                        <img src="img/team.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8 wths">
                    <div class="team-content">
                        <h4>Operations Team - Siddharth Zaveri, Ativ Shah, Shamik Shah, Siddhesh Thorat, Akshat Karambe, Deepti Sharma, Maanav Mehta, Mani Varane, Lalita Gurav </h4>
                        <p>The foundation of Sports For All comprises of a robust team that embodies the essence of our belief system and like veins, relentlessly delivers our philosophy to every corner of the country. It is their sheer faith and unfaltering commitment towards SFA that helps us get closer to our dream with each passing day. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
