<div class="media-set">
	<img src="img/home/12.png" class="img-responsive">
	<!--
    <div class="container sprofile">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="slogo">
                    <figure>
                        <img src="img/orangemenu/3.png" class="img-responsive">
                        <figcaption>aquatics</figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
-->
</div>
<div class="sports aqua">
	<div class="verti pull-right">
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-4 padzer">
				<img src="img/sport/aqa.png" class="cus-imgs img-responsive">
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="row">
					<div class="col-md-10">
						<div class="sport-text">
							<p>Aquatics at SFA will be conducted under the aegis of the <b>Swimming Federation of India</b>. For the first time an inter-school swimming tournament will be officiated and governed by an authorized body of the sport. The aquatics facility at the venue includes a state-of-the-art 50meter swimming pool. Every match played by participants will be captured on video and later showcased on their schools and SFA profile. All medals across the different categories under handball, will add to the cumulative medal tally of the school, hence impacting it’s rank.
							</p>
						</div>
					</div>
					<div class="col-md-10 sport-texts">
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">RULES</button>
						</div>
						<!--
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">format</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">Eligibility</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">categories of participation</button>
				</div>
-->
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">facility images</button>
						</div>
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">draws & schedule</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>