<div class="media-set">
	<img src="img/home/8.png" class="img-responsive">

</div>
<div class="sports">
	<div class="vertical">
		<div class="verti-right text-uppercase">
			<!--
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
-->
			<a href="#/form/handball.pdf" target="_blank" class="right_button">download handball form</a>
			<a href="#/form/schoolform.pdf" target="_blank" class="right_button">download school registration form</a>
			<a href="#/" target="_blank" class="right_button pdn">enquire now</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-4 padzer">
				<img src="img/sport/basket.png" class="cus-imgss img-responsive">
			</div>
			<div class="col-md-8 col-sm-6">
				<div class="row">
					<div class="col-md-10">
						<div class="sport-text">
						<h2 class="game_title">Basketball at SFA</h2>
							<p>Basketball at SFA will be conducted under the aegis of the <b>National Basketball Association</b>. For the first time an inter-school handball tournament will be officiated and governed by an authorized body of the sport. The handball arena at the venue has one xyz court, suited and calibrated for World-class tournaments. Every match played by participants will be captured on video and later showcased on their schools and SFA profile. All medals across the different categories under handball, will add to the cumulative medal tally of the school, hence impacting it’s rank.
							</p>
						</div>
					</div>
					<div class="col-md-10 sport-texts">
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">RULES</button>
						</div>
<!--
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">format</button>
						</div>
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">Eligibility</button>
						</div>
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">categories of participation</button>
						</div>
-->
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">facility images</button>
						</div>
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">draws & schedule</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>