<div class="media-set">
	<img src="img/home/11.png" class="img-responsive">

</div>
<div class="sports">
	<div class="vertical">
		<div class="handball-logo">
			<img src="img/sport/handball_logo.png" alt="Handball" class="img-responsive">
		</div>
		<div class="verti-right text-uppercase">
			<!--
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
-->
			<a href="#/form/handball.pdf" target="_blank" class="right_button">download handball form</a>
			<a href="#/form/schoolform.pdf" target="_blank" class="right_button">download school registration form</a>
			<a href="#/" target="_blank" class="right_button pdn">enquire now</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-md-4 text-cnter col-sm-4 padzer">
			<img src="img/sport/8.png" class="cus-imgs margs img-responsive">
		</div>
		<div class="col-md-8 col-sm-6">
			<div class="row">
				<div class="col-md-10">
					<div class="sport-text">
						<h2 class="game_title">Badminton at SFA</h2>
						<p>Badminton at SFA will be conducted under the aegis of the <span class="dark">Maharashtra Badminton Association.</span>For the first time an inter-school badminton tournament will be officiated and governed by an authorized body of the sport.</p>
						<p>The badminton arena at the venue has three wooden floored courts, suited and calibrated for World-class tournaments.Every match played byparticipants will be captured on video and later showcased on their schools and SFA profile.</p>
						<p>All medals across the different categories under badminton, will add to the cumulative medal tally of the school, hence impacting it’s rank.</p>
						<accordion>
							<accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
								<p>The SFA Inter-school Badminton tournament will be conducted in the categories mentioned in the table below.</p>
								<p class="space">We have a maximum draw capacity as mentioned in the below table. Student entries will be accommodated basis the eligibility criteria set out in Point 3.</p>
								<table class="table tab-info">
									<thead class="bgc">
										<th>Sr.No.</th>
										<th>Age Group</th>
										<th>Boys Singles</th>
										<th>Girls Singles</th>
										<th>Boys Doubles</th>
										<th>Girls Doubles</th>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>U-11</td>
											<td>32</td>
											<td>N/A</td>
											<td>32</td>
											<td>N/A</td>
										</tr>
										<tr>
											<td>2</td>
											<td>U-13</td>
											<td>64</td>
											<td>N/A</td>
											<td>64</td>
											<td>N/A</td>
										</tr>
										<tr>
											<td>3</td>
											<td>U-15</td>
											<td>64</td>
											<td>32</td>
											<td>64</td>
											<td>32</td>
										</tr>
										<tr>
											<td>4</td>
											<td>U-17</td>
											<td>64</td>
											<td>32</td>
											<td>64</td>
											<td>32</td>
										</tr>
									</tbody>
								</table>
							</accordion-group>
							<accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
								<ul class="spaceli">
									<li><span>Tournament is open to all amateur school players from districts of MSDBA / GMBA (Mumbai Suburban District Badminton Association / Greater Mumbai Badminton Association).</span></li>
									<li><span>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls. </span></li>
									<li><span>The matches will be best of 3 games of 15 points each up till the Pre Quarter Finals. The Quarter Finals, Semi Finals and Finals will be best of 3 games of 21 points each.</span></li>
									<li><span>The tournament will be conducted as per the rules & regulations for tournaments as laid down by the BWF and BAI (Badminton World Federation and Badminton Association of India). </span></li>
									<li><span>Each participant can participate in one age category. For example, if a player is participating in the U-11 age category, he is only eligible to play the events in that same category. A player enrolled for Singles in a particular age category can also play doubles only in the same age category.</span></li>
									<li><span>The participant must report at the venue’s main registration desk 45 minutes prior to his/her scheduled match.</span></li>
									<li><span>The participant has to report 15 minutes prior to his/her scheduled match time at the Badminton registration desk.</span></li>
									<li><span>If the participant fails to report 7 minutes after the match is announced the opponents will get a walkover.</span></li>
									<li><span>Every player must carry his/her School ID along with age proof at all times during the tournament.</span></li>
									<li><span>Participant must produce their ID cards as and when required during the tournament.</span></li>
									<li><span>No player will be allowed to play his/her match if they do not have their school ID along with proper age proof. </span></li>
									<li><span>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation.</span></li>
									<li><span>Participants must be in appropriate uniform for the sport of Badminton. Only non-marking / gum sole shoes will be permitted while playing matches. </span></li>
									<li><span>No player is allowed to use their mobile phones on court.</span></li>
									<li><span>The Badminton organizing committee has the right to postpone or cancel the tournament in case of unavoidable circumstances. All schools are requested to co-operate in any such case.</span></li>
									<li><span>If any player who cannot take part in the tournament even after giving his/her entry can be replaced with another player on a special request by the respective school at least 1 day before the match starts. This is applicable only in case of doubles.</span></li>
									<li><span>In case of any dispute the decision of the badminton organizing committee will be final and binding.</span></li>
									<li><span>For any kind of further details of the tournament the school Coach / Manager can contact the following mobile no’s:<br>+91 7045684365/66/67   Email: info@sfanow.in</span></li>
								</ul>
							</accordion-group>
							<accordion-group heading="ELIGIBILITY" class="title">
								<ul class="spaceli">
									<li><span>Only students from Sports For All member schools will be eligible to participate.</span></li>
									<li><span>Singles: First preference will be given to district, state and national ranked players. Remaining vacant slots will be allocated on a first come first serve basis. </span></li>
									<li><span>Doubles: Teams will be allocated on a first come first serve basis.</span></li>
									<li><span>Players ranking from the period 1st January 2014 up to 25th October 2015 will be considered.</span></li>
									<li><span>Incomplete details in the entry forms or any manipulations in the entries will not be accepted by the organizing committee.</span></li>
									<li><span>The below mentioned age criteria’s will be considered:-</span></li>
								</ul>
								<table class="table tab-info">
									<thead class="bgc">
										<th>Age group &amp; Criteria</th>
										<th>Cut Off Date</th>
									</thead>
									<tbody>
										<tr>
											<td>Sub. Junior Boys/Girls U-11 years</td>
											<td>1st January 2005 &amp; up to 6<sup>th</sup>Std or below</td>
										</tr>
										<tr>
											<td>Sub. Junior Boys/Girls U-13 years</td>
											<td>1st January 2003 & up to 8<sup>th</sup>Std or below</td>
										</tr>
										<tr>
											<td>Sub. Junior Boys/Girls U-15 years</td>
											<td>1st January 2001 & up to 10<sup>th</sup>Std or below</td>
										</tr>
										<tr>
											<td>Sub. Junior Boys/Girls U-17 years</td>
											<td>1st January 1999 & up to 12<sup>th</sup>Std or below</td>
										</tr>
									</tbody>
								</table>
							</accordion-group>
						</accordion>
					</div>
				</div>
				<div class="col-md-10 sport-texts">
					<div class="col-md-4 col-sm-6 mobpads">
						<a href="img/rules/Badminton_rule_book.pdf" class="btn-sports" target="_blank" type="submit">RULES</a>
					</div>
					<!--
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">format</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">Eligibility</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">categories of participation</button>
				</div>
-->
					<div class="col-md-4 col-sm-6 mobpads">
						<button class="btn-sports" type="submit">facility images</button>
					</div>
					<div class="col-md-4 col-sm-6 mobpads">
						<button class="btn-sports" type="submit">draws & schedule</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>