<div class="contact">
      
       <div class="patch">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 pad-left">
                    <div class="regis">
                        <p>Contact us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
               <div class="contact-set">
               <p class="add-title text-uppercase">sfa events pvt.ltd.</p>
                <p>1306, Pancharatna Towers, near Roxy theatre, </p>
                <p class="padtop">
Opera House, Charni Road,  Mumbai 400004.</p>
           <span ><b class="orng">call:</b> 70456 84365/66/67</span>

            </div>
            </div>
        </div>
    </div>
    </div>