<div class="contact">
       <div class="patch">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 pad-left">
                    <div class="regis">
                        <p>Contact us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
               <div class="contact-set">
                <p>308, Pancharatna Towers, near Roxy theatre, </p>
                <p class="padtop">
Opera House, Charni Road,  Mumbai 400004.</p>
           <span ><b class="orng ">call:</b> +91 65581 25438</span>
           <p class="orng padtops">Info@sfanow.com</p>
            </div>
            </div>
        </div>
    </div>
    </div>