<div class="media-set">
    <img src="img/draw.png" class="img-responsive img">
    <!--
	<div class="media-text">
		<h2>sports</h2>
	</div>
-->
</div>
<div class="draw">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sfa-select">
                    <select id="sel1" class="select" ng-model="filter.sportid" ng-change="sportChange()">
                        <option value="">select sport</option>
                        <option value="{{sport.id}},{{sport.name}}" ng-repeat="sport in sports">{{sport.name}}</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">
                    <select id="sel1" class="select" ng-model="filter.category" ng-change="categoryChange()">
                        <option value="">Select category</option>
                        <option value="{{cat.id}}" ng-repeat="cat in category">{{cat.title}}</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1" class="select" ng-model="filter.gender" ng-change="genderChange()">
                        <option value="">Select Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1" class="select" ng-model="filter.agegroup">
                        <option value="">Select Age Group</option>
                        <option value="{{age.agegroup}}" ng-repeat="age in agegroup">{{age.name}}</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="filter.category!='' && filter.gender!='' && filter.sport!='' && filter.agegroup!=''">
            <div class="col-md-12">
                <div class="text-center margtp p50">
                    <a class="get-drwa" ng-click="getDraw()">Get Draw</a>
                </div>
            </div>
        </div>
        <div class="scroll-w">
            <div class="scroll-on">
                <div class="row">
                    <div class="margtp">


                        <div class="col-xs-3" ng-if="match[0].match">
                            <h4>Round - 01</h4>
                        </div>
                        <div class="col-xs-3" ng-if="rounds[0]">
                            <h4>Round - 02</h4>
                        </div>
                        <div class="col-xs-3" ng-if="rounds[1]">
                            <h4>Round - 03</h4>
                        </div>
                        <div class="col-xs-3" ng-if="rounds[2]">
                            <h4>Round - 04</h4>
                        </div>
                    </div>
                </div>
                <div class="tree">

                    <div class="list-tree">
                        <div class="row">


                            <div class="tree1">
                                <div class="col-xs-3">
                                    <ul>
                                        <div class="min-100" ng-repeat="round in match[0].match">
                                            <div ng-repeat="r in round.player track by $index">
                                                <li class="top-bx" ng-if="$index%2==0">
                                                    <h4>{{r.studentname}}</h4>
                                                    <p>{{r.schoolname}}</p>
                                                </li>
                                                <li class="bottom-bx" ng-if="$index%2!=0">
                                                    <h4>{{r.studentname}}</h4>
                                                    <p>{{r.schoolname}}</p>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>

                                </div>
                                <div class="col-xs-3">
                                    <div class="min-100" ng-repeat="round in rounds[0] track by $index">


                                        <ul>
                                            <li class="left-bx top2-bx" ng-if="$index%2==0">
                                                <h4>{{round.studentname}}</h4>
                                                <p>{{round.schoolname}}</p>
                                            </li>
                                            <li class="left-bx bottom2-bx" ng-if="$index%2!=0">
                                                <h4>{{round.studentname}}</h4>
                                                <p>{{round.schoolname}}</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-xs-3 ">
                                    <div class="min-200" ng-repeat="round in rounds[1] track by $index">


                                        <ul>
                                            <li class="left-bx top3-bx" ng-if="$index%2==0">
                                                <h4>{{round.studentname}}</h4>
                                                <p>{{round.schoolname}}</p>
                                            </li>
                                            <li class="left-bx bottom3-bx" ng-if="$index%2!=0">
                                                <h4>{{round.studentname}}</h4>
                                                <p>{{round.schoolname}}</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-xs-3 ">
                                    <div class="min-300" ng-repeat="round in rounds[2] track by $index">


                                        <ul>
                                            <li class="left-bx">
                                                <h4>{{round.studentname}}</h4>
                                                <p>{{round.schoolname}}</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
