<div class="media-set">
    <img src="img/draw.png" class="img-responsive">
    <!--
	<div class="media-text">
		<h2>sports</h2>
	</div>
-->
</div>
<div class="draw">
<div class="container">
    <div class="row">
        


            <div class="col-md-3">
                    <div class="sfa-select">
                             <select>
                                <option>select sport</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                            <span class="only-border"></span>
                    </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select  id="sel1">
                        <option>Select category</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select  id="sel1">
                        <option>Select gender</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select  id="sel1">
                        <option>Select Age Group</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
        </div>
    </div>
    </div