<div class="media-set">
   <img src="img/draw.png" class="img-responsive img">
   <!--
	<div class="media-text">
		<h2>sports</h2>
	</div>
-->
</div>
<div class="draw min800">
   <div class="container">
      <div class="row">
         <div class="col-md-3">
            <div class="sfa-select">
               <select class="select" ng-model="filter.sport" ng-change="clearOthers();sportChange();">
                  <option value="">Select Sport</option>
                  <option value="{{sport.name}}" ng-repeat="sport in allsports">{{sport.name}}</option>
               </select>
               <span class="only-border"></span>
            </div>
         </div>
         <div class="col-md-3" ng-if="allsportcategory.length>0 && filter.sport!='basketball' && filter.sport!='handball' && filter.sport!='volleyball'">
            <div class="sfa-select">
               <select id="sel1" class="select" ng-model="filter.sportscategory" ng-change="sportChange()">
                  <option value="">Select category</option>
                  <option value="{{sport.sportcategory}}" ng-repeat="sport in allsportcategory">{{sport.sportcategory}}</option>
               </select>
               <span class="only-border"></span>
            </div>
         </div>
         <div class="col-md-3">
            <div class="sfa-select">
               <select id="sel1" class="select" ng-model="filter.gender" ng-change="sportChange();">
                  <option value="">Select Gender</option>
                  <!-- <option value="{{sport.gender}}" ng-repeat="sport in allgender">{{sport.gender}}</option> -->
                  <option value="male">Male</option>
                  <option value="female">Female</option>
               </select>
               <span class="only-border"></span>
            </div>
         </div>
         <div class="col-md-3" ng-if="allagegroup.length>0">
            <div class="sfa-select">
               <select id="sel1" class="select" ng-model="filter.agegroup" ng-change="getDraw();">
                  <option value="">Select Age Group</option>
                  <option value="{{sport.agegroup}}" ng-repeat="sport in allagegroup">{{sport.agegroup}}</option>
               </select>
               <span class="only-border"></span>
            </div>
         </div>
      </div>
      <!-- <div class="row" ng-show="filter.category!='' && filter.gender!='' && filter.sport!='' && filter.agegroup!=''">
         <div class="col-md-12">
            <div class="text-center margtp p50">
               <a class="get-drwa" ng-click="getDraw()">Get Draw</a>
            </div>
         </div>
      </div> -->
      <!--               ui for all sports except swimming-->
      <div class="scroll-w">
         <div class="scroll-on">
            <div class="tree" ng-if="filter.sport!='basketball' && filter.sport!='handball' && filter.sport!='volleyball' && filter.sport!='swimming'">
               <div class="list-tree">
                  <div class="text-center" ng-if="noDraws==true">
                     <h1>No Draws</h1>
                  </div>
                  <div class="text-center" ng-if="noGender==true">
                     <h1>Select Gender</h1>
                  </div>
                  <div class="text-center" ng-if="noCategory==true">
                     <h1>Select Category</h1>
                  </div>
                  <div class="text-center" ng-if="noAgegrp==true">
                     <h1>Select Agegroup</h1>
                  </div>
                  <div class="r1170">
                     <div class="tree1">
                        <!--                               round 1-->
                        <div class="w285">
                           <h4 ng-if="match[0]">{{match[0][0][0][0].round}}</h4>
                           <ul>
                              <div class="min-100" ng-repeat="round in match[0]">
                                 <div ng-repeat="r in round track by $index">
                                    <li id="li1" class="top-bx" ng-if="$index%2==0">
                                       <h4 class="elipses">{{r[0].player}}</h4>
                                       <p class="pull-left">{{r[0].school}}</p>
                                       <div class="pull-right" ng-if="r[0].player==r[0].winner">
                                          <p>{{r[0].score}}</p>
                                       </div>
                                       <div class="clearfix"></div>
                                       <!-- <p>{{r[0].score}}</p> -->
                                    </li>
                                    <li class="bottom-bx" ng-if="$index%2!=0">
                                       <h4 class="elipses">{{r[0].player}}</h4>
                                       <p class="pull-left">{{r[0].school}}</p>
                                       <div class="pull-right" ng-if="r[0].player==r[0].winner">
                                          <p>{{r[0].score}}</p>
                                       </div>
                                       <div class="clearfix"></div>
                                    </li>
                                 </div>
                              </div>
                           </ul>
                        </div>
                        <!--                                round 2-->
                        <div class="w285">
                           <h4 ng-if="rounds[1]">{{rounds[1][0][0].round}}</h4>
                           <div class="min-100" ng-repeat="round in rounds[1] track by $index">
                              <ul>
                                 <li id="li2" class="left-bx top2-bx" ng-if="$index%2==0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                                 <li class="left-bx bottom2-bx" ng-if="$index%2!=0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!--                                round 3-->
                        <div class="w285">
                           <h4 ng-if="rounds[2]">{{rounds[2][0][0].round}}</h4>
                           <div class="min-200" ng-repeat="round in rounds[2] track by $index">
                              <ul>
                                 <li id="li3" class="left-bx top3-bx" ng-if="$index%2==0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>

                                 <li class="left-bx bottom3-bx" ng-if="$index%2!=0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!--                                round 4-->
                        <div class="w285 ">
                           <h4 ng-if="rounds[3]">{{rounds[3][0][0].round}}</h4>
                           <div class="min-300" ng-repeat="round in rounds[3] track by $index">
                              <!--top4-bx class and bottom4-bx class commented-->
                              <ul>
                                 <li id="li4" class="left-bx top4-bx" ng-if="$index%2==0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                                 <li class="left-bx bottom4-bx" ng-if="$index%2!=0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!--                                round 5-->
                        <div class="w285">
                           <h4 ng-if="rounds[4]">{{rounds[4][0][0].round}}</h4>
                           <div class="min-400" ng-repeat="round in rounds[4] track by $index">
                              <ul>
                                 <li id="li5" class="left-bx top5-bx" ng-if="$index%2==0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                                 <li class="left-bx bottom5-bx" ng-if="$index%2!=0">
                                    <h4 class="elipses">{{round[0].player}}</h4>
                                    <p class="pull-left">{{round[0].school}}</p>
                                    <div class="pull-right" ng-if="round[0].player==round[0].winner">
                                       <p>{{round[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!--                                        round -6-->
                        <div class="w285">
                           <h4 ng-if="rounds[5]">Winner</h4>
                           <div class="min-500" ng-repeat="round in rounds[5] track by $index">
                              <ul>
                                 <li class="left-bx">
                                    <h4 class="elipses">{{round[0].winner}}</h4>
                                    <p>{{round[0].school}}</p>
                                 </li>
                              </ul>
                           </div </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="tree" ng-if="filter.sport=='basketball' || filter.sport=='handball' || filter.sport=='volleyball'">
            <div class="list-tree">
               <div class="text-center" ng-if="noDraws==true">
                  <h1>No Draws</h1>
               </div>
               <div class="text-center" ng-if="noGender==true">
                  <h1>Select Gender</h1>
               </div>
               <div class="text-center" ng-if="noCategory==true">
                  <h1>Select Category</h1>
               </div>
               <div class="text-center" ng-if="noAgegrp==true">
                  <h1>Select Agegroup</h1>
               </div>
               <div class="r1170">
                  <div class="tree1">
                     <!--                               round 1-->
                     <div class="w285">
                        <h4 ng-if="match[0]">{{match[0][0][0][0].round}}</h4>
                        <ul>
                           <div class="min-100" ng-repeat="round in match[0]">
                              <div ng-repeat="r in round track by $index">
                                 <li id="li1" class="top-bx" ng-if="$index%2==0">
                                    <h4 class="elipses">{{r[0].school}}</h4>
                                    <!-- <p class="pull-left">{{r[0].school}}</p> -->
                                    <div class="pull-right" ng-if="r[0].school==r[0].winnerschool">
                                       <p>{{r[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- <p>{{r[0].score}}</p> -->
                                 </li>
                                 <li class="bottom-bx" ng-if="$index%2!=0">
                                    <h4 class="elipses">{{r[0].school}}</h4>
                                    <!-- <p class="pull-left">{{r[0].school}}</p> -->
                                    <div class="pull-right" ng-if="r[0].school==r[0].winnerschool">
                                       <p>{{r[0].score}}</p>
                                    </div>
                                    <div class="clearfix"></div>
                                 </li>
                              </div>
                           </div>
                        </ul>
                     </div>
                     <!--                                round 2-->
                     <div class="w285">
                        <h4 ng-if="rounds[1]">{{rounds[1][0][0].round}}</h4>
                        <div class="min-100" ng-repeat="round in rounds[1] track by $index">
                           <ul>
                              <li id="li2" class="left-bx top2-bx" ng-if="$index%2==0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                              <li class="left-bx bottom2-bx" ng-if="$index%2!=0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p>{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!--                                round 3-->
                     <div class="w285">
                        <h4 ng-if="rounds[2]">{{rounds[2][0][0].round}}</h4>
                        <div class="min-200" ng-repeat="round in rounds[2] track by $index">
                           <ul>
                              <li id="li3" class="left-bx top3-bx" ng-if="$index%2==0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>

                              <li class="left-bx bottom3-bx" ng-if="$index%2!=0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!--                                round 4-->
                     <div class="w285 ">
                        <h4 ng-if="rounds[3]">{{rounds[3][0][0].round}}</h4>
                        <div class="min-300" ng-repeat="round in rounds[3] track by $index">
                           <!--top4-bx class and bottom4-bx class commented-->
                           <ul>
                              <li id="li4" class="left-bx top4-bx" ng-if="$index%2==0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                              <li class="left-bx bottom4-bx" ng-if="$index%2!=0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!--                                round 5-->
                     <div class="w285">
                        <h4 ng-if="rounds[4]">{{rounds[4][0][0].round}}</h4>
                        <div class="min-400" ng-repeat="round in rounds[4] track by $index">
                           <ul>
                              <li id="li5" class="left-bx top5-bx" ng-if="$index%2==0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                              <li class="left-bx bottom5-bx" ng-if="$index%2!=0">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p class="pull-left">{{round[0].school}}</p> -->
                                 <div class="pull-right" ng-if="round[0].school==round[0].winnerschool">
                                    <p>{{round[0].score}}</p>
                                 </div>
                                 <div class="clearfix"></div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <!--                                        round -6-->
                     <div class="w285">
                        <h4 ng-if="rounds[5]">Winner</h4>
                        <div class="min-500" ng-repeat="round in rounds[5] track by $index">
                           <ul>
                              <li class="left-bx">
                                 <h4 class="elipses">{{round[0].school}}</h4>
                                 <!-- <p>{{round[0].school}}</p> -->
                              </li>
                           </ul>
                        </div </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!--                ui for swimming -->
      <!-- <div class="row" ng-if="filter.sport=='swimming'"> -->
      <div class="row">
         <div class="col-md-6">
            <div class="head">
               <h4>Heat 1</h4>
               <div class="swimming-round">
                  <ul>
                     <li>
                        <div class="back-cl">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="back-cl2">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>

            </div>
            <div class="head">
               <h4>Heat 2</h4>
               <div class="swimming-round">
                  <ul>
                     <li>
                        <div class="back-cl">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="back-cl2">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>

            </div>
         </div>
         <div class="col-md-6">
            <div class="head">
               <h4>Final</h4>
               <div class="swimming-round">
                  <ul>
                     <li>
                        <div class="back-cl3">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="back-cl4">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="back-cl5">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>
                     <li>
                        <div class="back-cl2">
                           <div class="side-le">
                              <h4>Viraj Kale</h4>
                              <p>Dhirubhai Ambani International School</p>
                           </div>
                           <div class="side-rt">
                              <span>00:00:00</span>
                           </div>
                        </div>
                     </li>

                  </ul>
               </div>

            </div>

         </div>

      </div>
   </div>
</div>
