<div class="contact">
    <div class="patch">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 pad-left">
                    <div class="regis">
                        <p style="text-transform: none;">FAQ’s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="faqs mobile-fq">
                    <accordion close-others="oneAtATime" is-open="status.open">
                        <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <accordion-heading>
                                School Registration<i class="pull-right fa fa-angle-down "></i>
                            </accordion-heading>
                            <div class="faq-p">
                                <p>Which schools can register for SFA 2015, Mumbai?</p>
                                <ul>
                                    <li>All schools from Mumbai and its suburbs, including Navi Mumbai, Thane and Raigad districts, are welcome to register their school for SFA 2015. We welcome all schools, i.e. aided, unaided, private and government schools.</li>
                                </ul>
                                <br>
                                <p>Which schools can register for SFA 2015, Mumbai?</p>
                                <ul>
                                    <li>There is no restriction on school entries based on the education board. </li>
                                    <li>Schools from all boards: ICSE/IB/SSC/CBSE/IGCSE/NIOS etc. are welcome to register for SFA. </li>
                                </ul>
                                <br>
                                <p>Are school registrations restricted to co-ed or non-co-ed schools? </p>
                                <ul>
                                    <li>No. All schools CO-ED &amp; CONVENT are welcome to participate in SFA Sport Tournaments across all 9 sports </li>
                                    <li>Students from any school registered with SFA can participate in all annual SFA tournaments happening in Mumbai.
                                    </li>
                                </ul>
                                <br>
                                <p>How do I register my school to become a SFA member school? </p>
                                <ul>
                                    <li>In order to become an SFA member school, the respected school Principal or authorized Teacher must submit the school registration forms, which can be downloaded from www.sfanow.in, fill out the required details and send the physical signed & date stamped copies to the SFA Events Pvt. Ltd. Office address mentioned on the form.</li>
                                </ul>
                                <br>
                                <p>Is there a fee for registering with SFA?</p>
                                <ul>
                                    <li> Schools have to send a demand draft/cheque/cash of INR 5,000/- towards an annual registration fee in favour of SFA Events Pvt. Ltd. to register and become an SFA member school. </li>
                                    <li> A payment receipt will be provided confirming the registration.
                                    </li>
                                    <li> There will be no additional fee that schools or students have to pay over and above the annual registration fee.
                                    </li>
                                </ul>
                                <br>
                                <p>When do the registrations close?</p>
                                <ul>
                                    <li> Registration period for schools and participant entries is from 2nd October 2015 to 15th November 2015. School registrations will be on a first come first serve basis. SFA has sent invitations to over 2,000 Mumbai schools. </li>
                                    <li>First 500 schools to register will be considered as SFA member schools.
                                    </li>
                                    <li> All schools thereafter will be placed on the waiting list and will be registered in-case of cancellations or non-eligibility from the previously registered schools.
                                    </li>
                                    <li>In case of cancellations, the waiting list will be accommodated. Schools can send their registration forms to the SFA Events Pvt. Ltd. office. The address is mentioned on the registration forms, website & brochure.</li>
                                </ul>
                                <br>
                                <p>Is it mandatory for Mumbai Schools Sports Association (MSSA) member schools to take an NOC from MSSA to register with SFA ?</p>
                                <ul>
                                    <li> It is not mandatory for Mumbai Schools Sports Association (MSSA) member schools to take NOC from MSSA to register and participate.</li>
                                    <li>Kindly note, SFA Events will happen only for 8-10 days at a stretch across all 9 sports, thus there will be no clash with any other inter-school tournaments.</li>
                                    <li> We encourage students to play as many tournaments as they can, in order to improve and excel at sports.
                                    </li>

                                </ul>
                                <br>
                                <p>Is it necessary/possible for the schools as well as participants to register at the same time? </p>
                                <ul>
                                    <li> Yes, it is possible, but not necessary. We understand that selecting the best players and filling out registration forms is a time-consuming process, which is why schools can register first and then send the student entry forms for each sport thereafter, preferably within 7 days after the school has registered. The last date for student and schools registration is 15th November 2015. </li>
                                    <li>Kindly note – SFA will accept entries only coming from school authorities, students will not be allowed to send entries by themselves.
                                    </li>

                                </ul>
                                <br>
                            </div>

                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                Student Registration <i class="pull-right fa fa-angle-down " ></i>
                            </accordion-heading>
                            <p>What is the process for students to participate in SFA Tournaments?</p>
                            <ul>
                                <li>Only students from SFA Member schools will be eligible to participate. Student Entries / Team Entries will be confirmed only if he/she or the team meets the eligibility criteria for that particular sport, thereafter all entries will be accommodated on a first come first serve basis as per the criteria of each individual sport.</li>
                                <li>Schools are requested to send in their student participation entries as soon as possible so that the student gets a fair chance to play. The eligibility criteria for each sport are mentioned on the registration forms and also on www.sfanow.in</li>
                            </ul>
                            <br>
                            <p>Is there any age category for the students who wish to participate?</p>
                            <ul>
                                <li>Yes, students must fall under the age category based on the cut-off dates for each age group as mentioned on the registration forms and on the website given above.
                                </li>
                            </ul>
                            <br>
                            <p>Can students participate in multiple sports at SFA? </p>
                            <ul>
                                <li>Yes, SFA encourages students to participate in multiple sports. However, the student must meet the eligibility criteria for each sport that he/she wishes to participate in. Matches for students participating in multiple sports will be scheduled accordingly.</li>

                            </ul>
                            <br>


                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                Eligibility Criteria <i class="pull-right fa fa-angle-down "></i>
                            </accordion-heading>
                            <p>What are the eligibility criteria to participate in SFA?</p>
                            <ul>
                                <li> SFA, along with its sporting partners have devised eligibility criteria’s for each sport basis which student entries will be selected. </li>
                                <li>These criteria have been devised with the objective that the best and most deserving students get a chance to showcase their sporting prowess, hereby making SFA an aspirational platform for students to compete. </li>
                                <li>The eligibility criteria for each sport, has been mentioned on the website as well as the registration forms.</li>
                            </ul>
                            <br>
                            <p>What happens if students from a registered school don’t meet the eligibility criteria?</p>
                            <ul>
                                <li>In a scenario where not a single student or team from a registered school meets the eligibility criteria and are thus unable to participate in any sport under any category, SFA will refund the annual registration fee.
                                </li>
                            </ul>
                            <br>
                            <p>Will students who do not meet the eligibility criteria be allowed to attend the SFA event?</p>
                            <ul>
                                <li>Yes, students who do not meet the SFA eligibility criteria, are welcome to attend the event and be a part of the interactive educational sessions and support their school & fellow mates.</li>
                                <li> Also, SFA endeavours to start Training & Skill Development programs where students who have not got a chance to participate in the SFA Event will get the first preference to register for the training and development programs. </li>

                            </ul>
                            <br>
                            <span style=" color:#535353;font-size: 15px;"><b style="color:#0a1a72;font-weight: 600;">Kindly note</b> – all training & development programs will be published and made available to students only at the time of the event.</span>

                        </accordion-group>
                        <accordion-group >
                            <accordion-heading>
                                The Online Portal <i class="pull-right fa fa-angle-down" ></i>
                            </accordion-heading>
                            <h5>School Profile Page:</h5>
                            <p>What will be the content displayed on the school profile page?</p>
                            <ul>
                                <li> The school profile page will be live on the website once the school registers with SFA. There will be a brief bio of the school along with a mention of the number of participant entries sent in by each school.</li>
                                <li>On completion of the SFA 2015 event in Mumbai – the school profile page will updated with the overall records of the school’s participation. </li>
                                <li>Every school will have its own profile page on the www.sfanow.in. On this profile, every school will be able to view:-</li>
                                <ol style="list-style:none;padding: 5px 4px;">
                                    <li>
                                        1) The total number of school students participating across all 9 sports at the SFA Week
                                    </li>
                                    <li>2) Match schedules of the participants for that particular school</li>
                                    <li>3) Overall Tally of Medals the School has won</li>
                                    <li> 4) The School Sports Rank on the SFA Rank Table</li>
                                    <li> 5) Videos & Statistics of students’ performances during the SFA Week of that particular school</li>
                                </ol>
                                <span style=" color:#535353;font-size: 15px;"><b style="color:#0a1a72;font-weight: 600;">Kindly note</b> – Schools will not be allowed to make edits to their profiles. In case there is an error the school can intimate Team SFA via e-mail about the same and we shall rectify and make the necessary changes if appropriate.</span>
                            </ul>
                            <br>
                            <p>What is the purpose of a school’s profile page?</p>
                            <ul>
                                <li>This profile will enable schools to showcase their consolidated sporting record year after year, thus enabling them to better their own performance. Also it will be a matter of pride for each school to showcase its records.
                                </li>
                                <li>Every school’s profile page is accessible for all to see.</li>
                            </ul>
                            <br>
                            <h5>Participant’s Profile Page:</h5>
                            <p>Whatwill be the content displayed on the student profile page?</p>
                            <ul>
                                <li>Each participant’s individual profile page will have a brief bio about him/her along with a display picture.</li>
                                <li> On completion of the SFA 2015 event in Mumbai, every participant’s profile page will have a consolidated record of his/her performances documented by way of videos and statistics of all matches played on their individual profiles.</li>
                                <li>Videos & Statistics will be uploaded on the website shortly after successful completion of the event. By doing so, we shall create and maintain records of a participant’s performance year after year, thus documenting every match played by the participant in his/her school life.</li>
                                <li>Every student’s profile page is accessible for all to see.
                                </li>
                                <span style=" color:#535353;font-size: 15px;"><b style="color:#0a1a72;font-weight: 600;">Kindly note</b> – Students will not be allowed to make edits to their profiles. In case there is an error, the student / school can intimate Team SFA about the same 
and we shall rectify and make the necessary changes if appropriate.</span>

                            </ul>
                            <br>
                            <p>What is the purpose of a participant’s profile page?</p>
                            <ul>
                                <li>This profile page will showcase participants consolidated sporting record year after year, thus enabling them to better their own performance. Also it will be a matter of pride for each participant to showcase and his/her records.</li>
                                <li>Importantly family members, friends and talent scouts will now be able to review the performance of the participant thus giving the participant due recognition for his dedication, achievements and hard-work put into performance.</li>
                                <li> Every child and his well-wishers and supporters will also be able to share his performance on all popular social media platforms so as to feel proud and share his ability to one and all.</li>


                            </ul>
                            <br>
                        </accordion-group>
                        <accordion-group is-open="status.open">
                            <accordion-heading>
                                General <i class="pull-right fa fa-angle-down "></i>
                            </accordion-heading>
                            <p>Where is DY Patil Sports Stadium located?</p>
                            <ul>
                                <li> The address of the venue is as follows : </li>
                                <div class="eng">
                                    <p> Dr.D.Y.Patil Sports Academy,</p>
                                    <p>D.Y.Patil Stadium, Nerul, </p>
                                    <p>Navi Mumbai – 400706.</p>
                                    <p>The distance to the stadium from the various suburbs of the city is mentioned in the table below.</p>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="faq-table">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No.</th>
                                                            <th>Suburb</th>
                                                            <th>Distance to DY Patil (km)</th>
                                                            <th>Approx. Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Mulund</td>
                                                            <td>18</td>
                                                            <td>35 mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Chembur</td>
                                                            <td>18.5</td>
                                                            <td>34 mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Kurla</td>
                                                            <td>18.6</td>
                                                            <td>34 mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Ghatkopar</td>
                                                            <td>18.9</td>
                                                            <td>38 mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Vikhroli</td>
                                                            <td>20</td>
                                                            <td>35 mins</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="faq-btn text-center">
                                                <a href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ul>
                            <br>
                            <p>What are the security arrangements at the venue?</p>
                            <ul>
                                <li>SFA recognises the fact that there will be close to 10,000 participants at the venue thus it has taken appropriate security measures to ensure that children have a safe and sports conducive environment to be in.
                                </li>
                                <li>The venue will have only one entry and exit gate so as to ensure that all entries and exits are supervised and recorded.</li>
                                <li>SFA has put in all due diligence and care to ensure that our event will be highly secure Inter-school sports tournament that school children have participated in.</li>
                                <li>SFA will hire a professional security agency to ensure the most secure environment for school children and all visitors at the venue.</li>
                            </ul>
                            <br>
                        <p>Will visitors be asked for an ID Proof at the venue?</p>
                            <ul>
                                <li> Yes, visitors will be thoroughly checked and will be asked to produce an ID card to enter the venue.</li>
                                <li>SFA Events Pvt. Ltd. holds all rights to allow or disallow any individual into the venue at its sole discretion. </li>

                            </ul>
                            <br>
                              <p>How do I arrive at the venue?</p>
                            <ul>
                                <li>Schools and participants are requested to make their own transportation arrangements to and from the venue.
                                </li>
                                <li>Driving directions will be displayed on the website. </li>
                                <li>Private vehicles will not be allowed inside the premises. </li>
                                <li>School buses will be allowed only till the designated drop-off point at the venue. </li>
                                <li>School buses and vehicles will not be permitted to be parked inside the premises.</li>
                            </ul>
                            <br>
                        <p>Will there be changing room facilities provided to participants?</p>
                            <ul>
                                <li>Yes, there will be proper changing room facilities provided for both girls and boys. These will be accessible by all participants.</li>
                                <li>There will be a separate washrooms for staff and visitors at the venue.</li>

                            </ul>
                            <br>
                           <p>Will the participants be provided with food at the venue?.</p>
                            <ul>
                                <li>Yes, there will be provision for healthy and nutritious food at the venue for all participants and visitors available at reasonable rates.</li>
                                <li>However, participants can also carry their own food and beverages.</li>
                                <li> All people present at the venue are requested to keep the venue clean at all times.</li>

                            </ul>
                            <br> 
                            <p>Are the students being provided with sports kits?.</p>     
                                  <ul>
                                <li>No, participants must carry their own kits and sports gear.</li>
                                   
                            </ul>
                               <br>
                                <p>Is it compulsory for a School Officials to accompany students during the tournament?.</p>
                               <ul>
                                <li>It is not compulsory for school students to be accompanied by a school co-ordinator/manager during the event. However, parents, well-wishers and school 
   co-ordinators are most welcome to cheer and support participants.</li>
   <li>There will be appropriate safety and general security measures at the venue.</li>
   <li>Participants will be allowed to go out of the venue as per their wish. However, SFA does not take any responsibility for a child outside of the venue.</li>
                      
                            </ul>
                            <br>
<p>Can parents, school children and other well-wishers come to view the matches?</p>
                       <ul>
                           <li>Parents and other students from member schools are most welcome to the venue to view and cheer their school’s contingent even if they are not participating 
   in any sport</li>
                       </ul><br>
                       <p>Is the SFA inter-school sports competition going to take place every year?</p>
                       <ul>
                           <li>Yes, the SFA inter-school sports and education week is an annual event and it will happen each year. SFA aspires to be the most prestigious annual inter-school 
   sports competition, one that students and schools can look forward to at a specific time of the year.</li>
                       </ul><br>  
                       <p>If a participant is out of the competition, can he/she still come to the venue for the remaining days?</p>
                       <ul>
                           <li> Yes, in-case of a participant not progressing to the higher stages in the tournament, he/she is most welcome to be at the venue and cheer its school’s contingent.</li>
                           <li>Also, he/she will have opportunity to engage in other educational and recreational activities throughout the duration of the event.</li>
                       </ul><br> 
                        <p>What is the duration of the event?</p>
                       <ul>
                           <li> SFA 2015 will be conducted from 24th to 31st December. The matches will be conducted from 8 am to 6.30 pm across all the 8 days of the event, however 
   schedules for different sports may vary.</li>
                           <li>There will be special considerations for a few sports which may need more time to get completed. Students and schools will be informed of the same   
   in advance. (Specifically Tennis & Basketball competitions may start 2-3 days prior to 24th December, 2015).</li>
                      <li>Participants will be made aware of the schedule and event program approximately 15 days before of the start of the SFA Week.</li>
                       </ul><br>       
                       <p>What is the role of SFA’s sporting partners?</p>
                       <ul>
                           <li> SFA has tied-up with some of the most reputed sports partners so as to provide a high calibre and ratified sports tournament for school children to compete in.</li>
                           <li>SFA’s sporting partners are the ones who have jointly helped us in conceptualising the structure of the tournament for each sport, i.e.  tournament rules and 
   regulations, eligibility criteria, tournament draws, scheduling of matches, officiating and conducting matches is their primary role..</li>
                      <li>Neutral and non-biased Match Officials & Referees of the highest calibre at the inter-school level will be officiating the matches for all the 9 sports.</li>
                      <li> Sporting partners will also double-up as talent scouts and will identify and guide participants so as to help them enhance their skills at the game</li>
                      <li>Students are most welcome to take help and advice from our sporting partners so as to continue to better their game by way of training and skill development 
   programs all through the year.</li>
                       </ul><br>
                       <p>When will students and schools be informed about their match schedule?</p>
                       <ul>
                           <li>SFA endeavours to publish the draws, schedules and event program by the 10th December 2015. Schools are thus requested to register and send in their entries 
   as soon as possible.</li>
                       </ul><br>   
                       <p>Will there be medical aid provided at the venue?</p>
                       <ul>
                           <li> Medical facilities will be provided centrally to all participants through SFA’s medical partner. However, in case of serious injuries, ambulances will be stationed at 
   the venue and all the required immediate care will be imparted.</li>
                     <li>Physiotherapy support and first-aid care will also be readily available at SFA events, thus ensuring that a child is ready for the next match in-case of minor physical 
   injuries.</li>
                      
                       </ul><br>       
                          <p>What documents need to be carried by participants during the tournament?</p>
                       <ul>
                           <li>Every player must carry their school ID card along with his/her age proof at all times during the tournament. </li>
                     <li>No player will be allowed to play the match if they do not have their appropriate age proof along with their school ID.</li>
                     <li>Participants must produce their ID cards as and when required during the tournament.</li>
                     <li>These details are also mentioned on the website as well as the registration forms.</li>
                      
                       </ul><br>           
                        <p>Why do participants need to report 45 minutes prior to their match time?</p>
                       <ul>
                           <li>Every match at SFA is going to be captured on camera. Thus, it is crucial that every game starts at the scheduled time. </li>
                     <li>It is essential for participants to report at the venue at least 45 minutes prior to their game since there will be two registration desks – one is the main registration 
   desk to report the entry of the child at the venue and the other will be a sport specific registration desk where the child will have to report at the time his match 
   is announced.</li>
                     <li>Details regarding the reporting time for participants are mentioned on the website as well as the registration forms.</li>
           
                       </ul><br>        
                          <p>Do players get to review / appeal a referee’s decision?</p>
                       <ul>
                           <li>The players are not allowed to appeal / review a referee’s decision. The decision of the tournament referees & organizing committee will be final and binding.</li>
                
                       </ul><br>      
                          <p>What procedure will be followed at the time of registration at the venue?</p>
                       <ul>
                           <li>Participants must report at the main registration desk 45 minutes prior to their scheduled match time. On reporting, each participant will be registered and 
   entitled to an SFA ID Card. After this, participants will have to proceed and report to the registration desks of the respective sports 15 minutes prior to their 
   scheduled match time.</li>
                
                       </ul><br>   
                         <p>Is it mandatory for the school’s entire contingent to arrive at the venue at the same time, even though different students have matches on different days or different times?</p>
                       <ul>
                           <li>No, it is not necessary for a school’s entire contingent to arrive on the first day of the event. Students are allowed to arrive as and when they have their matches.</li>
                
                       </ul><br>       
                        <p>If a squad player is inured / unable to participate just before the tournament then?</p>
                       <ul>
                           <li> If any player who cannot take part in the tournament even after giving his/her entry can be replaced with another player on a special request by the respective 
   school at least 1 day before the match starts. This is applicable only in case of doubles and team events.</li>
                
                       </ul><br>     
                       <p>Are the spectators allowed to get props?</p>
                       <ul>
                           <li>Yes, spectators are allowed to bring props and all kinds of cheer material to cheer their fellow mates and teams for the games.</li>
                
                       </ul><br>
                        </accordion-group>

                    </accordion>
                </div>
            </div>
        </div>

    </div>
</div>