<div class="media-set">
    <img src="img/home/13.png" class="img-responsive img">
    <!--
    <div class="container sprofile">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="slogo">
                    <figure>
                        <img src="img/orangemenu/1.png" class="img-responsive">
                        <figcaption>handball</figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
-->
</div>
<div class="sports handball">
    <div class="vertical">
        <div class="handball-logo">
            <img src="img/sport/handball_logo.png" alt="Handball" class="img-responsive">
        </div>
        <div class="verti-right text-uppercase">
            <!--
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
-->
            <!--			<a href="#/form/handball.pdf" target="_blank" class="right_button">download handball form</a>-->
            <a href="img/form/School-and-Participant-Registration-Forms.pdf" target="_blank" class="right_button" download>download school registration form</a>
            <a href="#/enquirenow" target="_blank" class="right_button pdn">enquire now</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 padzer">
                <img src="img/sport/1.png" class="cus-imgs moo img-responsive hidden-xs hidden-sm">
                <img src="img/sport/12.png" class="cus-imgs moos img-responsive hidden-lg hidden-md">
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-md-10">
                        <div class="sport-text">
                            <h2 class="game_title">Handball at SFA</h2>
                            <p>Handball at SFA will be conducted under the aegis of Mumbai Handball Academy. For the first time an inter-school handball tournament will be officiated and governed by an authorized body of the sport.</p>
                            <p>The handball arena at the venue has one polywin synthetic hard court, suited and calibrated for World-class tournaments. Every match played by participants will be captured on video and later showcased on their schools SFA profile and individual participant’s SFA profile.</p>
                            <p>All medals across the different categories under handball, will add to the cumulative medal tally of the school, hence impacting it’s rank.</p>
                            <accordion>
                                <accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
                                    <p>The SFA Inter-school Handball tournament will be conducted in the categories mentioned in the table below.</p>
                                    <p class="space">We have a maximum draw capacity as mentioned in the below table. Entries will be accommodated basis the eligibility criteria.</p>
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Sr.No.</th>
                                            <th>Age Group</th>
                                            <th>Players Per Team</th>
                                            <th>Boys</th>
                                            <th>Girls</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>U-10 (10 and under)</td>
                                                <td>10</td>
                                                <td>16 Teams</td>
                                                <td>16 Teams</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>U-12 (12 and under)</td>
                                                <td>12</td>
                                                <td>16 Teams</td>
                                                <td>16 Teams</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>U-14 (14 and under)</td>
                                                <td>12</td>
                                                <td>16 Teams</td>
                                                <td>16 Teams</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>U-16 (16 and under)</td>
                                                <td>12</td>
                                                <td>16 Teams</td>
                                                <td>16 Teams</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                                <accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
                                    <ul class="spaceli">
                                        <li><span>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls. </span></li>
                                        <li><span>Matches will consist of 2 halves of 10 minutes each with a 2 minutes break between the two halves.</span></li>
                                        <li><span>Every player must carry his/her School ID along with age proof at all times during the tournament.</span></li>
                                        <li><span>Participants must produce their ID cards as and when required during the tournament.</span></li>
                                        <li><span>No player will be allowed to play his/her match if they do not have they school ID along with proper age proof.</span></li>
                                        <li><span>The team has to report at the venue’s main registration desk 45 minutes prior to their scheduled match.</span></li>
                                        <li><span>The team has to report 15 minutes prior to their scheduled match time at the Handball registration desk.</span></li>
                                        <li><span>If the team fails to report 7 minutes after the match is announced the opponents will get a walkover.</span></li>
                                        <li><span>If any participant is found over age or with any manipulation in the documents, the entire team will be disqualified without any kind of prior intimation.</span></li>
                                        <li><span>The players must be in appropriate uniform for the sport of Handball. Only goal keepers are allowed to wear track pants. All players should wear flat sole sport shoes. No studs will be allowed.</span></li>
                                        <li><span>The Handball organizing committee has the right to postpone or cancel the tournament in case of unavoidable circumstances. All schools are requested to co-operate with the organizers in any such case.</span></li>
                                        <li><span>For any kind of further details of the tournament the school Coach / Manager can contact the below mentioned mobile no’s:<br>+91 7045684365/66/67 Email: info@sfanow.in
</span></li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="ELIGIBILITY" class="title">
                                    <ul class="spaceli">
                                        <li><span>Only teams from Sports For All member schools will be eligible to participate.</span></li>
                                        <li><span>Teams having State and National Players in their squad will be given first preference.</span></li>
                                        <li><span>All Team entries will be evaluated on the basis of their performance in DSO / MSSA / NMSA / Open tournaments in the period 1st January 2014 to 25th October 2015.</span></li>
                                        <li><span>Incomplete details in the entry forms or any manipulations in the entries will not be accepted by the organizing committee.</span></li>
                                        <li><span>The below mentioned age criteria’s will be considered:-</span></li>
                                    </ul>
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Age Group</th>
                                            <th>Cut Off Date</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>U-10</td>
                                                <td>Born on or After 1<sup>st</sup> January 2005</td>
                                            </tr>
                                            <tr>
                                                <td>U-12</td>
                                                <td>Born on or After 1<sup>st</sup> January 2003</td>
                                            </tr>
                                            <tr>
                                                <td>U-14</td>
                                                <td>Born on or After 1<sup>st</sup> January 2001</td>
                                            </tr>
                                            <tr>
                                                <td>U-16</td>
                                                <td>Born on or After 1<sup>st</sup> January 1999</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div class="col-md-10 sport-texts">
                        <div class="col-md-4 col-sm-6 mobpads">
                            <a href="img/rules/handball_rule_book.pdf" class="btn-sports" target="_blank">RULES</a>
                        </div>
                        <!--
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">format</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">Eligibility</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">categories of participation</button>
				</div>
-->
                        <div class="col-md-4 col-sm-6 mobpads">
                             <a href="#/venue" class="btn-sports" >facility images</a>
                        </div>
                        <div class="col-md-4 col-sm-6 mobpads">
                            <a href="img/form/HandballMatchSchedule.pdf" target="_blank"> <button class="btn-sports" type="submit">draws & schedule</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>