<div class="curve"></div>
<div class="slant-font text-center">
  The start of making Champions
</div>

<div class="jeetega-vid relative">
  <img src="img/home/jeeta-vid.jpg" class="full-image" />
<img src="img/home/play-btn.png" class="img-responsive at-middle" fancybox href="http://www.youtube.com/embed/OPza36UHubA?autoplay=1"/>
</div>

<div class="middle-home">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 paddlr">
        <div class="">

          <div class="image-hols" ng-style="{'background-image':'url(img/1.jpg)'}">
            <div class=" over-img">

              <div class="mid-det">
                <h1>WHAT IS SFA?</h1>
                <img class="nowidht" src="img/hr.png">
                <p>A NEW WAY OF PLAYING INTER-SCHOOL SPORTS.</p>
                <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/OPza36UHubA?autoplay=1"><img class="img-responsive nowidht mg" src="img/play.png"></a>
                <p class="know">Know everything about SFA in under 5 minutes.</p>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 paddlr">
        <ul class="v_ul paddlr">
          <li>
            <div class="image-hol" ng-style="{'background-image':'url(img/video/v1.jpg)'}">
              <div class=" over-img top65">
                <div class="mid-det ">
                  <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/yMTveHlyZqA?autoplay=1"><img class="img-responsive nowidht mr-img hidden-sm hidden-xs" src="img/video/play.png">
                    <img class="img-responsive nowidht mr-img hidden-md hidden-lg" src="img/play.png"></a>
                  <h3 class="dif">Founder’s Message</h3>
                  <img class="nowidht" src="img/video/hr.png">
                </div>
              </div>

            </li>
            <li>
              <div class="image-hol" ng-style="{'background-image':'url(img/video/v2.jpg)'}">
                <div class=" over-img top65">
                  <div class="mid-det ">
                    <a class="various fancybox.iframe" fancybox href="http://www.youtube.com/embed/ETOadh9aOAE?autoplay=1"><img class="img-responsive nowidht mr-img hidden-sm hidden-xs" src="img/video/play.png">
                      <img class="img-responsive nowidht mr-img hidden-md hidden-lg" src="img/play.png"></a>
                    <h3 class="dif">Registration PROCESS</h3>
                    <img class="nowidht" src="img/video/hr.png">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="curve5"></div>
  <div class="hm-mid">
    <div class="col-md-4 col-sm-4">
      <figure>
        <img class="img-responsive" src="img/home/student.jpg">

        <div class="bor">
          <div class="fig">
            <a href="student">
              <p>students</p>
            </a>
          </div>
        </div>
      </figure>
    </div>
    <div class="col-md-4 col-sm-4">
      <figure>
        <img class="img-responsive" src="img/home/school.jpg">
        <div class="bor">
          <div class="fig">
            <a href="school">
              <p style="color:#384C8B;">schools</p>
            </a>
          </div>
        </div>
      </figure>
    </div>
    <div class="col-md-4 col-sm-4">
      <figure>
        <img class="img-responsive" src="img/home/venue.jpg">
        <div class="bor">
          <div class="fig">
            <a href="venue">
              <p style="color:#449C43;">venue</p>
            </a>
          </div>
        </div>
      </figure>
    </div>
    <div class="curve6"></div>

  </div>
  <div class="container">

    <div class="row social-set text-center">
      <div class="col-md-4 col-sm-4 ">
        <div class="fb social-set">
          <i class="fa fa-facebook"></i>
          <div class="fb-set">

            <div>
              <div class="fb-page" data-adapt-container-width="true" data-height="355" data-hide-cover="false" data-href="https://www.facebook.com/sportsforallnow" data-show-facepile="true" data-show-posts="true" data-small-header="false" data-width="360">
                <div class="fb-xfbml-parse-ignore">
                  <blockquote cite="https://www.facebook.com/sportsforallnow">
                    <a href="https://www.facebook.com/sportsforallnow">SFA Now</a>
                  </blockquote>
                </div>
              </div>

              <div id="fb-root"></div>
              <script>
                (function(d, s, id) {
                  var js,
                    fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id))
                    return;
                  js = d.createElement(s);
                  js.id = id;
                  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1452795161694777";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
              </script>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 ">
        <div class="twit social-set">
          <i class="fa fa-twitter"></i>
          <div class="fb-set">

            <a class="twitter-timeline" data-widget-id="641859487024869376" href="https://twitter.com/sfanow">Tweets by @sfanow</a>
            <script>
              !function(d, s, id) {
                var js,
                  fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location)
                    ? 'http'
                    : 'https';
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + "://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js, fjs);
                }
              }(document, "script", "twitter-wjs");
            </script>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="insta social-set">
          <i class="fa fa-instagram"></i>

          <div class="fb-set" style="height: 365px;overflow-y: scroll;">
            <script src="//instansive.com/widget/js/instansive.js"></script>
            <iframe allowtransparency="true" class="instansive-widget" id="instansive_554a6dce8a" name="instansive_554a6dce8a" scrolling="no" src="//instansive.com/widgets/554a6dce8ad5309ecff0f538b9995e1429320d57.html" style="width: 100%; border: 0; overflow: hidden;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
