 <div class="curve">

    </div>
   <div class="slider">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
        </slide>
        <a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    </carousel>
</div>
<div class="curve2">

</div>
<div class="sub-menu">
    <div class="container">
        <div class="row">
            <div class="sub-cat">
                <ul>
                    <li>
                        <figure>
                            <img src="img/submenu/tabletennis.png" class="img-responsive">
                            <figcaption>table tennis</figcaption>

                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/tennis.png" class="img-responsive">
                            <figcaption>TENNIS</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/batminton.png" class="img-responsive">
                            <figcaption>BADMINTON</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/sqaush.png" class="img-responsive">
                            <figcaption>SQUASH</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/aquatics.png" class="img-responsive">
                            <figcaption>aquatics</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/basketball.png" class="img-responsive">
                            <figcaption>basketball</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/volleyball.png" class="img-responsive">
                            <figcaption>VOLLEYBALL</figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="img/submenu/handball.png">
                            <figcaption>handball</figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="home-content text-center">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

            </div>

        </div>
    </div>
    <div class="patch">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 pad-left">
            <div class="regi">
        <a href="#">REGISTRATION now</a>
    </div>
        </div>
    </div>
</div>
    </div>
    
</div>
<div class="middle-home">
    <img src="img/home-middle.jpg" class="img-responsive">
    <div class="container">
        <div class=" over-img">
            <div class="col-md-offset-0 col-md-12">
                <div class="mid-det">
                    <h1>WHAT IS SFA?</h1>
                    <img src="img/hr.png">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                    <img src="img/play.png" class="img-responsive">
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>
    </div>
</div>

<div class="middle-end">
    <!--    <img src="img/home-end.jpg" class="img-responsive">-->
    <div class="container events">
        <div class="row ">

            <div class="col-md-4">
                <div class="student active">
                    <figure>
                        <img src="img/submenu/student.png" class="img-responsive">
                        <figcaption>students
                            <br><img src="img/border.png" class="hover-act"></figcaption>

                    </figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="collage student active">
                    <figure>
                        <img src="img/submenu/collage.png" class="img-responsive">
                        <figcaption>schools
                            <br><img src="img/border.png" class="hover-act"></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4">
                <div class="venue student active">
                    <figure>
                        <img src="img/submenu/venue.png" class="img-responsive">
                        <figcaption>venue
                            <br><img src="img/border.png" class="hover-act"></figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="feed text-center">
        <h3>live feeds</h3>
    </div>
    <div class="row social-set text-center">
        <div class="col-md-4">
            <div class="fb">
                <i class="fa fa-facebook"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="twit">
                <i class="fa fa-twitter"></i>
            </div>
        </div>
        <div class="col-md-4">
            <div class="insta">
                <i class="fa fa-instagram"></i>
            </div>
        </div>
    </div>
</div>