<div class="curve reverse-curve"></div>
<div class="slant-font text-center">
  The start of making Champions
</div>

<div class="emailer">
  <div class="container">Videos of individual matches will soon be hosted on the respective participant and school profile page. If you would like for us to notify you on the same, kindly leave your email address here:</div>

  <div class="email-form footers" ng-controller="footerCtrl">
    <span class="newslettershow" ng-hide="newsletter.show">
      <p class="thank">Thank you for subscribing to our newsletter.</p>
    </span>
    <div class="mdl">
      <span class="newslettershow" ng-show="newsletter.show">
        <div class="input-text">
          <input class="form-control emailclass" id="" ng-change="validEmail(newsletter.email)" ng-class="newsletter.emaildis" ng-model="newsletter.email" placeholder="Email Address" required type="email">
        </div>
        <div class="button-text">
          <button class="btn btn-default newslettersubmit" ng-click="savenewsletter(newsletter.email);">GO!</button>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="jeetega-vid relative">
  <img class="full-image" src="img/home/jeeta-vid.jpg"/>
  <img class="img-responsive at-middle fancybox.iframe" fancybox href="http://www.youtube.com/embed/OPza36UHubA?autoplay=1" src="img/home/play-btn.png"/>
</div>

<div class="curve5"></div>
<div class="hm-mid">
  <div class="col-md-4 col-sm-4">
    <figure>
      <img class="img-responsive" src="img/home/student.jpg">

      <div class="bor">
        <div class="fig">
          <a href="student">
            <p>Participant</p>
          </a>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-md-4 col-sm-4">
    <figure>
      <img class="img-responsive" src="img/home/school.jpg">
      <div class="bor">
        <div class="fig">
          <a href="school">
            <p style="color:#384C8B;">Parent</p>
          </a>
        </div>
      </div>
    </figure>
  </div>
  <div class="col-md-4 col-sm-4">
    <figure>
      <img class="img-responsive" src="img/home/venue.jpg">
      <div class="bor">
        <div class="fig">
          <a href="venue">
            <p style="color:#449C43;">Coach</p>
          </a>
        </div>
      </div>
    </figure>
  </div>
  <div class="curve6 blue-curve"></div>
</div>
<div class="clearfix"></div>
<div class="moments text-center">
  <h3>MEMORABLE MOMENTS</h3>
  <h6>at our first Inter-school sports carnival</h6>
</div>

<!-- Gallery -->
<div class="monsanry" >
  <div class="mimage" ng-repeat="r in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]" smart-gallery="5">
    <div class="layer"></div>
    <div class="img-tag" style="background-image: url(img/homegallery/1.jpg)"  fancybox href="img/homegallery/1.jpg"></div>
  </div>
</div>
<!-- Gallery -->

<div class="container">
  <div class="row social-set text-center">
    <div class="col-md-4 col-sm-4 ">
      <div class="fb social-set">
        <i class="fa fa-facebook"></i>
        <div class="fb-set">

          <div>
            <div class="fb-page" data-adapt-container-width="true" data-height="355" data-hide-cover="false" data-href="https://www.facebook.com/sportsforallnow" data-show-facepile="true" data-show-posts="true" data-small-header="false" data-width="360">
              <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/sportsforallnow">
                  <a href="https://www.facebook.com/sportsforallnow">SFA Now</a>
                </blockquote>
              </div>
            </div>

            <div id="fb-root"></div>
            <script>
              (function(d, s, id) {
                var js,
                  fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                  return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1452795161694777";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));
            </script>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 ">
      <div class="twit social-set">
        <i class="fa fa-twitter"></i>
        <div class="fb-set">

          <a class="twitter-timeline" data-widget-id="641859487024869376" href="https://twitter.com/sfanow">Tweets by @sfanow</a>
          <script>
            !function(d, s, id) {
              var js,
                fjs = d.getElementsByTagName(s)[0],
                p = /^http:/.test(d.location)
                  ? 'http'
                  : 'https';
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");
          </script>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="insta social-set">
        <i class="fa fa-instagram"></i>

        <div class="fb-set" style="height: 365px;overflow-y: scroll;">
          <script src="//instansive.com/widget/js/instansive.js"></script>
          <iframe allowtransparency="true" class="instansive-widget" id="instansive_554a6dce8a" name="instansive_554a6dce8a" scrolling="no" src="//instansive.com/widgets/554a6dce8ad5309ecff0f538b9995e1429320d57.html" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
