<div class="media-set">
    <img src="img/home/17.png" class="img-responsive img">

</div>
<div class="sports">
    <div class="vertical">
        <div class="handball-logo">
            <img src="img/partner-logo/9.png" alt="sports" class="img-responsive">
        </div>
        <div class="verti-right text-uppercase">
            <!--
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
-->
            <!--			<a href="#/form/handball.pdf" target="_blank" class="right_button">download handball form</a>-->
            <a href="img/form/School-and-Participant-Registration-Forms.pdf" target="_blank" class="right_button" download>download school registration form</a>
            <a href="enquirenow" target="_blank" class="right_button pdn">enquire now</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-4 padzer">
                <img src="img/sport/judo.png" class="p40 cus-imgs moo img-responsive hidden-xs hidden-sm">
                <img src="img/sport/judo.png" class="cus-imgs moos img-responsive hidden-lg hidden-md">
            </div>
            <div class="col-md-7 col-sm-6">
                <div class="row">
                    <div class="col-md-10">
                        <div class="sports-text">
                            <h2 class="game_title">Judo at SFA</h2>
                            <p>Judo at SFA will be conducted under the aegis of Mumbai Judo Association!. For the first time an inter-school Judo tournament will be officiated and governed by an authorized body of the sport.</p>
                            <p>The Judo tournament arena at the venue is suited and calibrated for World- class tournaments. Every match played by participants will be captured on video and later showcased on their school’s SFA profile and individual participant’s SFA profile.</p>
                            <p>All medals across the different categories under Judo will add to the cumulative medal tally of the school, hence impacting it’s rank.</p>
                            <accordion>
                                <accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
                                    <ul class="spaceli">
                                        <li><span>The SFA Inter-school Judo tournament will be conducted for Boys & Girls in the categories mentioned below.</span></li>
                                        <li><span>Student entries will be accommodated basis the eligibility criteria.</span></li>
                                        <li><span>Only students from Sports For All member schools will be eligible to participate.</span></li>
                                        <li><span>Incomplete details in the entry forms or any manipulations in the entries will not be accepted by the organizing committee.</span></li>
                                        <li><span>The below mentioned age & weight criteria’s will be considered (All weights mentioned below are in kgs) :-</span></li>

                                    </ul>
                                    <div class="judo-table">
                                        <div class="tbl bgc">
                                            <p>Under-8 Years:- (Born on or after 1st January 2008)</p>
                                        </div>
                                        <div class="judo-list">
                                            <ul>
                                                <li>Boys & Girls</li>
                                                <li>24 kg</li>
                                                <li>28 kg</li>
                                                <li>32 kg</li>
                                                <li>36 kg</li>
                                                <li>40 kg</li>
                                                <li>40+kg</li>
                                            </ul>
                                        </div>
                                        <div class="tbl bgc">
                                            <p>Under-10 years:- (Born on or after 1st January 2006)</p>
                                        </div>
                                        <div class="judo-list">
                                            <ul class="pad-more">
                                                <li>Boys</li>
                                                <li>28 kg</li>
                                                <li>32 kg</li>
                                                <li>37 kg</li>
                                                <li>43 kg</li>
                                                <li>50 kg</li>
                                                <li>50+kg</li>
                                            </ul>
                                            <ul class="pad-more">
                                                <li>Girls</li>
                                                <li>26 kg</li>
                                                <li>30 kg</li>
                                                <li>35 kg</li>
                                                <li>41 kg</li>
                                                <li>48 kg</li>
                                                <li>48+kg</li>
                                            </ul>
                                        </div>
                                        <div class="tbl bgc">
                                            <p>Under-12 Years:- (Born on or after 1st January 2004)</p>
                                        </div>
                                        <div class="judo-list">
                                            <ul class="pad-more">
                                                <li>Boys</li>
                                                <li>30 kg</li>
                                                <li>34 kg</li>
                                                <li>39 kg</li>
                                                <li>45 kg</li>
                                                <li>52 kg</li>
                                                <li>52+kg</li>
                                            </ul>
                                            <ul class="pad-more">
                                                <li>Girls</li>
                                                <li>28 kg</li>
                                                <li>32 kg</li>
                                                <li>37 kg</li>
                                                <li>43 kg</li>
                                                <li>50 kg</li>
                                                <li>50+kg</li>
                                            </ul>
                                        </div>
                                        <div class="tbl bgc">
                                            <p>Under-14 Years:- (Born on or after 1st January 2002)</p>
                                        </div>
                                        <div class="judo-list">
                                            <ul class="pad-more">
                                                <li>Boys</li>
                                                <li>40 kg</li>
                                                <li>45 kg</li>
                                                <li>51 kg</li>
                                                <li>58 kg</li>
                                                <li>66 kg</li>
                                                <li>66+kg</li>
                                            </ul>
                                            <ul class="pad-more">
                                                <li>Girls</li>
                                                <li>36 kg</li>
                                                <li>40 kg</li>
                                                <li>46 kg</li>
                                                <li>51 kg</li>
                                                <li>61 kg</li>
                                                <li>61+kg</li>
                                            </ul>
                                        </div>
                                        <div class="tbl bgc">
                                            <p>Under-17 Years:- (Born on or after 1st January 1999)</p>
                                        </div>
                                        <div class="judo-list">
                                            <ul class="pad-more">
                                                <li>Boys</li>

                                                <li>45 kg</li>
                                                <li>51 kg</li>
                                                <li>58 kg</li>
                                                <li>66 kg</li>
                                                <li>73 kg</li>
                                                <li>73 kg</li>
                                            </ul>
                                            <ul class="pad-more">
                                                <li>Girls</li>

                                                <li>40 kg</li>
                                                <li>46 kg</li>
                                                <li>52 kg</li>
                                                <li>60 kg</li>
                                                <li>66 kg</li>
                                                <li>66+kg</li>
                                            </ul>
                                        </div>
                                    </div>
                           </accordion-group>
                                <accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
                                    <ul class="spaceli">
                                        <li><span>A knockout tournament will be played across all age groups for both, Boys and Girls. </span></li>
                                    </ul>
<!--                                    <p class="space">U/10 &amp; U/12 (Singles &amp; Doubles)</p>-->
                                    <ul class="spaceli">
                                    <li><span>The duration of the matches vary for each age group:-</span></li>
                                       <p class="spaces">2 minutes for U-8, U-10 & U-12 age categories</p>
                                       <p class="spaces">3 minutes for U-14 age category</p>
                                       <p class="spaces">4 minutes for U-17 age category
</p>
                                        <li><span>Participants are strictly prohibited from using chokes & locks during their matches</span></li>
                                        <li><span>Each participant can participate in one age category. For Example, if a player is participating in the under 10 age category he is only eligible to play the events in that same age category.</span></li>
                                        <li><span>The participant must report at the venue’s main registration desk 45 minutes prior to his/her scheduled match.</span></li>
                                        <li><span>The participant has to report 15 minutes prior to his/her scheduled match time at the Judo registration desk.</span></li>
                                        <li><span>If the participant fails to report 7 minutes after the match is announced the opponents will get a walkover.</span></li>
                                         <li><span>Every player must carry his/her school ID along with age proof at all times during the tournament.</span></li>
                                          <li><span>Participants must produce their ID cards as and when required during the tournament.</span></li> 
                                          <li><span>No player will be allowed to play his/her match if they do not have their school ID along with proper age proof.</span></li> 
                                          <li><span>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation.</span></li> 
                                          <li><span>The Judo organizing committee has the right to postpone or cancel the tournament in case of unavoidable circumstances. All schools are requested to co-operate in any such case.</span></li> 
                                          <li><span>In case of any dispute the decision of the Judo organizing committee will be final and binding.</span></li>
                                          <li><span>No player is allowed to use their mobile phones in the Judo Arena.</span></li>
                                          <li><span>Participants must be in appropriate uniform for the sport of Judo. </span></li>
                                          <li><span>For any kind of further details of the tournament the school Coach / Manager can contact the below mentioned mobile no’s: +91 7045684365/66/67 Email: info@sfanow.in</span></li>
                                    </ul>
                                </accordion-group>
<!--
                                <accordion-group heading="ELIGIBILITY" class="title">
                                    <ul class="spaceli">
                                        <li><span>Singles: Players will be selected first on the basis of their AITA ranking. After that, if there are slots to accommodate more players, they will be selected on the basis of first come first serve during the registration process.</span></li>
                                        <li><span>Doubles: The teams will be selected purely on the basis of first come first serve. Those who register first will be eligible to participate till the slots fill out.</span></li>
                                        <li><span>Players ranking from the period 1st January 2014 up to 25th October 2015 will be considered.</span></li>
                                        <li><span>Incomplete details in the entry forms or any manipulation rectified in the entries will be automatically considered to be cancelled from the organizers end.</span></li>
                                        <li><span>The following criteria will be followed for the different age groups:-</span></li>
                                    </ul>
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Age group</th>
                                            <th>Cut Off Date</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>U-10</td>
                                                <td>Born on or After 1<sup>st</sup> January 2005</td>
                                            </tr>
                                            <tr>
                                                <td>U-12</td>
                                                <td>Born on or After 1<sup>st</sup> January 2003</td>
                                            </tr>
                                            <tr>
                                                <td>U-14</td>
                                                <td>Born on or After 1<sup>st</sup> January 2001</td>
                                            </tr>
                                            <tr>
                                                <td>U-16</td>
                                                <td>Born on or After 1<sup>st</sup> January 1999</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
-->
                            </accordion>
                        </div>
                    </div>
                    <div class="col-md-10 sportss-texts">
                        <div class="col-md-4 col-sm-6 mobpads">
                            <a href="#" class="btn-sports" type="submit">RULES</a>
                        </div>
                 
<!--
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">format</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">Eligibility</button>
                </div>
-->
<!--
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">categories of participation</button>
                </div>
-->
                        <div class="col-md-4 col-sm-6 mobpads">
                            <a href="venue" class="btn-sports">facility images</a>
                        </div>
                        <div class="col-md-4 col-sm-6 mobpads">
                          <a href="img/form/JudoMatchSchedule.pdf" target="_blank"> <button class="btn-sports" type="submit">draws & schedule</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>