<div class="media-set">
    <img src="img/home/16.png" class="img-responsive">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="set">
                <p>More than 5000 schools have registered.

                </p>
                <p>Search for your school here.</p>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="searchs padt text-center">
                <form action="/search" method="get" class="sfms mhs ng-pristine ng-valid">
                    <input type="text" class="inbinding" name="q" value="school name">
                    <input type="image" value="Search" src="img/searchbig.png" class="sbs">
                </form>
            </div>
        </div>
        
    </div>
</div>
<div class="container-fluid wths">
    <div class="col-md-6 wths">
        <div class="landiing-img">
            <figure>
                <img src="img/home/landing3.png" class="img-respnosive" style="width:100%">
                <div class="bor">
                    <div class="fig">

                        <p>gallery</p>

                    </div>
                </div>
         </figure>
        </div>
    </div>
    <div class="col-md-6 wths">
        <div class="landiing-img">
           <figure>
                <img src="img/home/landing4.png" class="img-respnosive" style="width:100%">
                <div class="bor">
                    <div class="fig">

                        <p style="color:#449C43;">statistics</p>

                    </div>
                </div>
         </figure>
           
        </div>
    </div>
</div>