<div class="media-set">
    <img src="img/media.jpg" class="img-responsive">
    <div class="media-text">
    <h2>media CORNER</h2>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="print">

                <a href="">
                    <figure class="figure1">
                        <img src="img/submenu/print.png">
                        <figcaption class="fig-act">PRINT</figcaption>
                    </figure>
                </a>
                <a href="">
                    <figure class="figure2">
                        <img src="img/submenu/televesion.png">
                        <figcaption>TELEVISION</figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>
<hr class="hr-width">

<div class="container">
    <div class="prints text-center">
        <h3>print</h3>
    </div>


    <div class="row print-img">

        <div class="col-md-4 col-sm-6" ng-repeat="media in medias">
            <div class="box-img">
                <figure>
                    <div class="inner-img">
                        <img ng-src="{{media.image}}">
                    </div>
                    <figcaption>{{media.name}}</figcaption>
                    <a href=""><span>Read More</span></a>
                </figure>
            </div>
        </div>
<!--
        <div class="col-md-4 col-sm-6">
            <div class="box-img">
                <figure>
                    <div class="inner-img">
                        <img src="img/print/print2.png">
                    </div>
                    <figcaption>Little Sania Makes Her School Proud
                    </figcaption>
                    <a href=""><span>Read More</span></a>
                </figure>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box-img">
                <figure>
                    <div class="inner-img">
                        <img src="img/print/print3.png">
                    </div>
                    <figcaption>SFA made me reach the Goal: Amrish Patel
                    </figcaption>
                    <a href=""><span>Read More</span></a>
                </figure>
            </div>
        </div>
-->
    </div>
<!--
    <div class="row print-img">

        <div class="col-md-4 col-sm-6">
            <div class="box-img">
                <figure>

                    <div class="inner-img">
                        <img src="img/print/print4.png">
                    </div>
                    <figcaption>The well Equipped venue ever for inter school..
                    </figcaption>
                    <a href=""><span>Read More</span></a>
                </figure>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box-img">
                <figure>
                    <div class="inner-img">
                        <img src="img/print/print5.png">
                    </div>
                    <figcaption>Felt Like I was Playing on international Venue
                    </figcaption>
                    <a href=""><span>Read More</span></a>
                </figure>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box-img">
                <figure>
                    <div class="inner-img">
                        <img src="img/print/print6.png">
                    </div>
                    <figcaption>The game that Made a World Record
                    </figcaption>
                    <a href=""><span>Read More</span></a>
                </figure>
            </div>
        </div>
    </div>
-->

    <div class="arow text-center">
        <img src="img/arrow.png">
    </div>
</div>
