<div class="curve">

</div>
<div class="register scl">
	<div class="patc">
		<div class="col-md-3 patches right"></div>
		<div class="col-md-6 leftpos">
			<div class="tabs-gallery">
				<h1>
               Pre Registration
           </h1>
			</div>
		</div>
		<div class="col-md-3 patches left"></div>
	</div>
<!--
	<div class="pop-descp" >
		<div class="container back">
			<div class="pop-up" ng-show="!showForm">
				<p class="descp-head">the following document contains:</p>
				<ol>
					<li>School Registration Form</li>
					<li>Student Registration Form</li>
					<li>Participant Entry Forms along with- </li>
				</ol>
				<div class="sports-list">
					<p class="descp-head">Age Categories, Eligibility Criteria and Consent Form for the following sports:</p>
					<ul class="sport-content">
						<li>Tennis</li>
						<li>Squash</li>
						<li>Badminton</li>
						<li>Table Tennis</li>
						<li>Handball</li>
						<li>Volleyball</li>
						<li>Swimming</li>
						<li>Basketball</li>
					</ul>
				</div>
				<div class="redirect">
					<a href="" >download school registration &amp; participant entry forms here </a>
				</div>
				<div class="info-sport">
					<ul>
						<li><span class="color">Only 500 Schools will be allowed to participate at the event.</span></li>
						<li><span class="color">Registrations open from 2nd Oct – 15th Nov’15 only.</span></li>
						<li><span class="color">Only students of member schools can participate in any and all SFA events.</span></li>
						<li><span>To become a member school, school authorities are requested to fill out all required details in the registration form and send the physical
signed and stamped copies along with your participant entry forms.</span></li>
						<li><span>Schools will have to send cash / demand draft / cheque, in favour of SFA Events Pvt. Ltd. towards an annual registration fee of Rs.5000/-.
This fee entails students of the school to participate in tournaments across all 8 sports and under all age categories if they meet the SFA eligibility criteria.</span></li>
						<li><span>There will be no additional fee that schools or students have to pay other than the annual registration fee.</span></li>
						<li><span>In a scenario where no student from a registered school meets our eligibility criteria and is unable to participate in any sport under any category,
SFA will refund the annual registration fee.</span></li>
					</ul>
				</div>
				<div class="sport-detail">
					<p class="color">Send in your school registrations, participant entries, cash/cheque/demand draft to our office:</p>
					<address>
					<span>SFA Events Pvt. Ltd.</span>
					<span>1306, Pancharatna Building, Opera House,</span>
					<span>Mumbai 400 004.</span>
				</address>
				</div>
			</div>
		</div>
	</div>
-->
	<div class="backwhites">
		<div class="container ">

			<!--
                <input type="password" ng-model="login.oldpassword" class="form-control" ng-class="allvalidation[0].validation" required placeholder="Current Password* " />

                <input type="password" ng-model="login.newpassword" class="form-control" ng-class="allvalidation[1].validation" required placeholder="New Password *" />

                <input type="password" ng-model="login.confirmpassword" class="form-control" ng-class="allvalidation[2].validation" required placeholder="Confirm Password *" />

                <button class="btn form-control" ng-click="changepassword(login)">Submit</button>
-->

<div class="row">
  <div class="col-md-3">
    <div class="sc-list">
      <p>I AM A</p>
    </div>
  </div>
  <div class="col-md-9 padzer ">
    <div class="row margzero">
    <!-- <div class="row margzero" ng-repeat="tworows in sportsname"> -->

      <div class="col-md-12 padzer">
        <!-- <div class="col-md-3 col-sm-4" ng-repeat="singlesportsname in tworows">
          <input id="Option{{singlesportsname.id+10}}" type="checkbox" ng-model="sportsflag" ng-change="pushorpop(singlesportsname.id);">
          <label class="checkbox" for="Option{{singlesportsname.id+10}}">{{singlesportsname.name}}</label>
        </div> -->

                      <div class="col-md-2">
                          <input id="Option1" type="checkbox">
                          <label class="checkbox" for="Option1">Coach</label>
                      </div>
                      <div class="col-md-2">
                          <input id="Option2" type="checkbox">
                          <label class="checkbox" for="Option2">School</label>
                      </div>
                      <div class="col-md-2">
                          <input id="Option3" type="checkbox">
                          <label class="checkbox" for="Option3">Student</label>
                      </div>
                      <div class="col-md-2">
                          <input id="Option4" type="checkbox">
                          <label class="checkbox" for="Option4">Parent</label>
                      </div>

      </div>
    </div>
  </div>
  </div>

			<div class="row">
				<div class="col-md-3">
					<div class="sc-list">
						<p>Name</p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="sc-input">
						<input type="text" class="form-control" ng-model="school.name" placeholder="Name" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="sc-list">
						<p>School</p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="sc-input">
						<input type="text" class="form-control" ng-model="school.address" placeholder="School" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 padtp">
					<div class="sc-list">
						<p>participants dob</p>
					</div>
				</div>
				<div class="col-md-9 padzer">
					<div class="row mar10 padzer">
            <div class="col-md-3 mobpad">
              <label for="">DD</label>&nbsp;
							<!-- <div class="sc-input"> -->
                <select class="" name="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
								<!-- <input type="text" class="form-control" placeholder="Email" ng-model="school.email" placeholder="Email" required> -->
							<!-- </div> -->
						</div>
						<div class="col-md-3 mobpad">
              <label for="">MM</label>&nbsp;
							<!-- <div class="sc-input"> -->
                <select class="" name="">
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                </select>
                <!-- <input type="text" class="form-control" placeholder="Mobile" ng-model="school.mobile" placeholder="Mobile" required> -->
							<!-- </div> -->
						</div>
						<div class="col-md-3 mobpad">
              <label for="">YY</label>&nbsp;
							<!-- <div class="sc-input"> -->
                <select class="" name="">
                  <option>1991</option>
                  <option>1992</option>
                  <option>1993</option>
                  <option>1994</option>
                </select>
								<!-- <input type="text" class="form-control" placeholder="Landline" ng-model="school.landline" placeholder="Landline" required> -->
							<!-- </div> -->
						</div>
						<!-- <div class="col-md-3 padzer ">
							<div class="sc-input">
								<input type="date" class="form-control" ng-model="school.establishdate" required>
							</div>
						</div>
						<div class="col-md-8">
							<div class="sc-ul">
								<ul>
									<li>
										<input id="Option6" type="radio" ng-model="school.type" value="1">
										<label for="Option6">Boys School</label>
									</li>
									<li>
										<input id="Option7" type="radio" ng-model="school.type" value="2">
										<label for="Option7">Girls School</label>
									</li>


								</ul>
							</div>
						</div>-->

					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-md-3 ">
					<div class="sc-list">
						<p>contact person</p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="sc-input">
						<input type="text" class="form-control" ng-model="school.contactperson" placeholder="Contact Person" required>
					</div>
				</div>
			</div> -->

			<div class="row">
				<div class="col-md-3 padtp">
					<div class="sc-list">
						<p>contact details</p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row mar10">
						<div class="col-md-4 padzer">
							<div class="sc-input">
								<input type="text" class="form-control" placeholder="Email" ng-model="school.email" placeholder="Email" required>
							</div>
						</div>
						<div class="col-md-4 mobpad">
							<div class="sc-input">
								<input type="text" class="form-control" placeholder="Mobile" ng-model="school.mobile" placeholder="Mobile" required>
							</div>
						</div>
						<div class="col-md-4">
              <!-- mobpad -->
							<!-- <div class="sc-input">
								<input type="text" class="form-control" placeholder="Landline" ng-model="school.landline" placeholder="Landline" required>
							</div> -->
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-3 padtp">
					<div class="sc-list">
						<p>Sports</p>
					</div>
				</div>
				<div class="col-md-9 padzer">
					<div class="row margzero">
				<!-- <div class="col-md-9 padzer pdbotom">
					<div class="row margzero" ng-repeat="tworows in sportsname"> -->

						<div class="col-md-12 padzer">
							<!-- <div class="col-md-3 col-sm-4" ng-repeat="singlesportsname in tworows">
								<input id="Option{{singlesportsname.id+10}}" type="checkbox" ng-model="sportsflag" ng-change="pushorpop(singlesportsname.id);">
								<label class="checkbox" for="Option{{singlesportsname.id+10}}">{{singlesportsname.name}}</label>
							</div> -->

                            <div class="col-md-2">
                                <input id="Option11" type="checkbox">
                                <label class="checkbox" for="Option11">Aquatics</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option12" type="checkbox">
                                <label class="checkbox" for="Option12">Carrom</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option13" type="checkbox">
                                <label class="checkbox" for="Option13">Hockey</label>
                            </div>

                            <div class="col-md-2">
                                <input id="Option14" type="checkbox">
                                <label class="checkbox" for="Option14">Khokho</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option15" type="checkbox">
                                <label class="checkbox" for="Option15">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option16" type="checkbox">
                                <label class="checkbox" for="Option16">Archery</label>
                            </div>

                            <div class="col-md-2">
                                <input id="Option17" type="checkbox">
                                <label class="checkbox" for="Option17">Chess</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option18" type="checkbox">
                                <label class="checkbox" for="Option18">Judo</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option19" type="checkbox">
                                <label class="checkbox" for="Option19">MMA</label>
                            </div>

                            <div class="col-md-2">
                                <input id="Option20" type="checkbox">
                                <label class="checkbox" for="Option20">Throwball</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option21" type="checkbox">
                                <label class="checkbox" for="Option21">Athletics</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option22" type="checkbox">
                                <label class="checkbox" for="Option22">Squash</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option23" type="checkbox">
                                <label class="checkbox" for="Option23">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option24" type="checkbox">
                                <label class="checkbox" for="Option24">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option25" type="checkbox">
                                <label class="checkbox" for="Option25">Squash</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option26" type="checkbox">
                                <label class="checkbox" for="Option26">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option27" type="checkbox">
                                <label class="checkbox" for="Option27">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option28" type="checkbox">
                                <label class="checkbox" for="Option28">Squash</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option29" type="checkbox">
                                <label class="checkbox" for="Option29">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option30" type="checkbox">
                                <label class="checkbox" for="Option30">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option31" type="checkbox">
                                <label class="checkbox" for="Option31">Squash</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option32" type="checkbox">
                                <label class="checkbox" for="Option32">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option33" type="checkbox">
                                <label class="checkbox" for="Option33">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option34" type="checkbox">
                                <label class="checkbox" for="Option34">Squash</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option35" type="checkbox">
                                <label class="checkbox" for="Option35">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option36" type="checkbox">
                                <label class="checkbox" for="Option36">Squash</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option37" type="checkbox">
                                <label class="checkbox" for="Option37">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option38" type="checkbox">
                                <label class="checkbox" for="Option38">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option39" type="checkbox">
                                <label class="checkbox" for="Option39">Squash</label>
                            </div>

						</div>
					</div>
					<!--
                    <div class="row margzero">

                        <div class="col-md-12 padzer">
                            <div class="col-md-2">
                                <input id="Option14" type="checkbox">
                                <label class="checkbox" for="Option14">Aquatic</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option15" type="checkbox">
                                <label class="checkbox" for="Option15">Basketball</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option16" type="checkbox">
                                <label class="checkbox" for="Option16">Volyball</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option17" type="checkbox">
                                <label class="checkbox" for="Option17">Handball</label>
                            </div>
                        </div>
                    </div>
-->



				</div>
				<!--                       <button class="btn form-control slider-btn text-center" ng-click="changepassword(login)"><a>Submit</a></button>-->
				<!--
                <div class="slider-btn text-center" ng-click="submitschoolregistration(school);"><a>SUBMIT</a>
                </div>
--><div class="row">
  <div class="col-md-3 padtp">
  </div>
  <div class="col-md-9 padzer">
    <div class="row margzero">
  <!-- <div class="col-md-9 padzer pdbotom">
    <div class="row margzero" ng-repeat="tworows in sportsname"> -->

      <div class="col-md-12 padzer">
        <!-- <div class="col-md-3 col-sm-4" ng-repeat="singlesportsname in tworows">
          <input id="Option{{singlesportsname.id+10}}" type="checkbox" ng-model="sportsflag" ng-change="pushorpop(singlesportsname.id);">
          <label class="checkbox" for="Option{{singlesportsname.id+10}}">{{singlesportsname.name}}</label>
        </div> -->

                      <div class="col-md-6 mar5">
                          <input id="Option5" type="checkbox">
                				    <label class="checkbox" for="Option5" style="color: #0a1a72;font-size: 16px;font-weight: 600;">
                              Subscribe to newsletter
                            </label>
                      </div>
      </div>
    </div>
    </div>
				<div class="text-center">
					<button class="slider-btn text-center" type="submit" ng-click="submitschoolregistration(school);">SUBMIT</button>
				</div>
			</div>

		</div>
	</div>
</div>
