<div class="curve">

</div>
<div class="register scl">
	<div class="patc">
		<div class="col-md-3 patches right"></div>
		<div class="col-md-6 leftpos">
			<div class="tabs-gallery">
				<h1>
               Pre Registration
           </h1>
			</div>
		</div>
		<div class="col-md-3 patches left"></div>
	</div>
	<div class="backwhite">
		<form ng-submit="submitpreregistration(school);">
		<div class="container ">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="sc-list">
						<p>I AM A</p>
					</div>
				</div>
				<div class="col-md-9 col-sm-9 padzer ">
					<div class="row margzero">
						<!-- <div class="row margzero" ng-repeat="tworows in sportsname"> -->

						<div class="col-md-12 col-sm-12 padzer">
							<!-- <div class="col-md-3 col-sm-4" ng-repeat="singlesportsname in tworows">
          <input id="Option{{singlesportsname.id+10}}" type="checkbox" ng-model="sportsflag" ng-change="pushorpop(singlesportsname.id);">
          <label class="checkbox pl0" for="Option{{singlesportsname.id+10}}">{{singlesportsname.name}}</label>
        </div> -->

							<div class="col-md-2 col-sm-3">
								<input id="Option1" required ng-model="school.type" value="Coach" type="radio" name="register">
								<label class="pl0" for="Option1">Coach</label>
							</div>
							<div class="col-md-2 col-sm-3">
								<input id="Option2" required ng-model="school.type" value="School" type="radio" name="register">
								<label class="pl0" for="Option2">School</label>
							</div>
							<div class="col-md-2 col-sm-3">
								<input id="Option3" required ng-model="school.type" value="Student" type="radio" name="register">
								<label class="pl0" for="Option3">Student</label>
							</div>
							<div class="col-md-2 col-sm-3">
								<input id="Option4" required ng-model="school.type" value="Parent" type="radio" name="register">
								<label class="pl0" for="Option4">Parent</label>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="sc-list">
						<p>{{school.type}} Name</p>
					</div>
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="sc-input">
						<input type="text" class="form-control" required ng-model="school.name" placeholder="{{school.type}} Name" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="sc-list">
						<p>School</p>
					</div>
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="sc-input">
						<input type="text" required class="form-control" ng-model="school.schoolname" placeholder="School" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 padtp">
					<div class="sc-list">
						<p>participants dob</p>
					</div>
				</div>
				<div class="col-md-9 col-sm-9 padzer">
					<div class="row mar10 padzer">
						<div class="col-md-3">
							<label class="pl0 pr1" for="">DD</label>&nbsp;
							<select required ng-model="school.dd" class="selsize" name="">
								<option value="">Select Day</option>
								<option ng-repeat="n in getTimes(31) track by $index">{{$index+1}}</option>
								<!-- <option>2</option>
								<option>3</option>
								<option>4</option> -->
							</select>
						</div>
						<div class="col-md-3">
							<label class="pl0 pr3" for="">MM</label>&nbsp;
							<select required ng-model="school.mm" class="selsize" name="">
								<option value="">Select Month</option>
								<option ng-repeat="n in getTimes(12) track by $index">{{$index+1}}</option>
							</select>
						</div>
						<div class="col-md-3">
							<label class="pl0 pr2" for="">YY</label>&nbsp;
							<select required ng-model="school.yy" class="selsize" name="">
								<option value="">Select Year</option>
								<option>1991</option>
								<option>1992</option>
								<option>1993</option>
								<option>1994</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-sm-3 padtp">
					<div class="sc-list">
						<p>contact details</p>
					</div>
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="row mar10">
						<div class="col-md-4 padzer">
							<div class="sc-input">
								<input type="email" class="form-control" placeholder="Email" ng-model="school.email" placeholder="Email" required>
							</div>
						</div>
						<div class="col-md-4 mobpad">
							<div class="sc-input">
								<input type="text" class="form-control" placeholder="Mobile" ng-model="school.contact" placeholder="Mobile" required>
							</div>
						</div>
						<div class="col-md-4 col-sm-4"> </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 padtp">
					<div class="sc-list">
						<p>Sports</p>
					</div>
				</div>
				<div class="col-md-9 col-sm-9 padzer">
					<div class="row margzero">
						<!-- <div class="col-md-9 padzer pdbotom">
					<div class="row margzero" ng-repeat="tworows in sportsname"> -->

						<div class="col-md-10 col-sm-10 padzer">
							<!-- <div class="col-md-3 col-sm-4" ng-repeat="singlesportsname in tworows">
								<input id="Option{{singlesportsname.id+10}}" type="checkbox" ng-model="sportsflag" ng-change="pushorpop(singlesportsname.id);">
								<label class="checkbox pl0" for="Option{{singlesportsname.id+10}}">{{singlesportsname.name}}</label>
							</div> -->
							<div class="check">
								<ul>
									<li class="inlblo" ng-repeat="sport in allsports">
										<input id="Option1{{$index}}" ng-model="sportsflag" ng-change="pushorpop(sport);" type="checkbox">
										<label class="checkbox pl0" for="Option1{{$index}}">{{sport}}</label>
									</li>
									<!-- <li class="inlblo">
										<input id="Option12" type="checkbox">
										<label class="checkbox pl0" for="Option12">Carrom</label>
									</li>

									<li class="inlblo">
										<input id="Option14" type="checkbox">
										<label class="checkbox pl0" for="Option14">Khokho</label>
									</li>
									<li class="inlblo">
										<input id="Option15" type="checkbox">
										<label class="checkbox pl0" for="Option15">Tennis</label>
									</li>
									<li class="inlblo">
										<input id="Option16" type="checkbox">
										<label class="checkbox pl0" for="Option16">Archery</label>
									</li>
									<li class="inlblo">
										<input id="Option17" type="checkbox">
										<label class="checkbox pl0" for="Option17">Chess</label>
									</li>

									<li class="inlblo">
										<input id="Option19" type="checkbox">
										<label class="checkbox pl0" for="Option19">MMA</label>
									</li>
									<li class="inlblo">
										<input id="Option20" type="checkbox">
										<label class="checkbox pl0" for="Option20">Throw ball</label>
									</li>
									<li class="inlblo">
										<input id="Option21" type="checkbox">
										<label class="checkbox pl0" for="Option21">Athletics</label>
									</li>
									<li class="inlblo">
										<input id="Option22" type="checkbox">
										<label class="checkbox pl0" for="Option22">Fencing</label>
									</li>
									<li class="inlblo">
										<input id="Option23" type="checkbox">
										<label class="checkbox pl0" for="Option23">Hockey</label>
									</li>
									<li class="inlblo">
										<input id="Option24" type="checkbox">
										<label class="checkbox pl0" for="Option24">Shooting</label>
									</li>
									<li class="inlblo">
										<input id="Option25" type="checkbox">
										<label class="checkbox pl0" for="Option25">Ultimate Frisbee</label>
									</li>
									<li class="inlblo">
										<input id="Option26" type="checkbox">
										<label class="checkbox pl0" for="Option26">Badminton</label>
									</li>
									<li class="inlblo">
										<input id="Option27" type="checkbox">
										<label class="checkbox pl0" for="Option27">Football</label>
									</li>
									<li class="inlblo">
										<input id="Option28" type="checkbox">
										<label class="checkbox pl0" for="Option28">Judo</label>
									</li>
									<li class="inlblo">
										<input id="Option29" type="checkbox">
										<label class="checkbox pl0" for="Option29">Squash</label>
									</li>
									<li class="inlblo">
										<input id="Option30" type="checkbox">
										<label class="checkbox pl0" for="Option30">Volleyball</label>
									</li>
									<li class="inlblo">
										<input id="Option31" type="checkbox">
										<label class="checkbox pl0" for="Option31">Basketball</label>
									</li>
									<li class="inlblo">
										<input id="Option32" type="checkbox">
										<label class="checkbox pl0" for="Option32">Gymnastics</label>
									</li>
									<li class="inlblo">
										<input id="Option33" type="checkbox">
										<label class="checkbox pl0" for="Option33">Kabaddi</label>
									</li>
									<li class="inlblo">
										<input id="Option34" type="checkbox">
										<label class="checkbox pl0" for="Option34">Table Tennis</label>
									</li>
									<li class="inlblo">
										<input id="Option35" type="checkbox">
										<label class="checkbox pl0" for="Option35">Wrestling</label>
									</li>
									<li class="inlblo">
										<input id="Option36" type="checkbox">
										<label class="checkbox pl0" for="Option36">Boxing</label>
									</li>
									<li class="inlblo">
										<input id="Option37" type="checkbox">
										<label class="checkbox pl0" for="Option37">Handball</label>
									</li>
									<li class="inlblo">
										<input id="Option38" type="checkbox">
										<label class="checkbox pl0" for="Option38">Karate</label>
									</li>
									<li class="inlblo">
										<input id="Option39" type="checkbox">
										<label class="checkbox pl0" for="Option39">Taekwondo</label>
									</li> -->
								</ul>

							</div>

						</div>
					</div>

				</div>
				<div class="row">
					<div class="col-md-3 col-sm-3 padtp">
					</div>
					<div class="col-md-9 col-sm-9 padzer">
						<div class="row margzero">

							<div class="col-md-12 col-sm-12 padzer">
								<div class="col-md-6 col-sm-6">
									<input id="Option5" type="checkbox">
									<label class="checkbox pl0" for="Option5" style="color: #0a1a72;font-size: 16px;font-weight: 600;">
										Subscribe to newsletter
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button class="slider-btn text-center"  type="submit">SUBMIT</button>
					</div>
				</div>

			</div>
		</div>
	</form>
	</div>
