<div class="register">
    <div class="register-head">
        <h2 class="head">Download Registration Forms<span><a ng-click="openVideo();"><img ng-src="img/plays.png" alt="video button"></a></span></h2>
    </div>
    <div class="register-body">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-5 col-sm-6">
                  <div class="regbutton">
                    <a href="img/form/register/PARENT_GAURDIAN_CONSENT_FORM.pdf" target="_blank">
                      <button type="button" name="button" class="btn2">Parent/Guardian Consent Form</button>
                    </a>
                    <div class="statement">
                      <p>Each Participant is requested to fill this form in order to take the consent of their parent/ guardian.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="regbutton">
                      <a href="img/form/register/SCHOOL_REGISTRATION_FORM.pdf" target="_blank">
                        <button type="button" name="button" class="btn2">School Registration Form</button>
                      </a>
                      <div class="statement">
                        <p>School Authorities are requested to fill this form in order to register their school for SFA MUMBAI 2016.</p>
                        <p>(<span class="color-blue">Last date for school registration:</span> 31st August 2016)</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-10">
                <div class="para text-center">
                  <p>
                    All sports at SFA Mumbai 2016 will be conducted under the aegis of professional sporting partners.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="sports-head">
                    <h1 class="text-uppercase text-center">Team Sports</h1>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Handball.jpg" alt="Kleinetics" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Handball</h3>
                                <p>Having a strong presence at the grass roots level in the city, Mumbai Handball Academy has made significant efforts to take the Olympic sport of Handball to the next level. While abundant talent exists at the inter-school level, Handball requires the right platform for the young athletes to showcase their talent at national and international sporting events. The Mumbai Handball Academy hopes to bridge the gap in the years to come.</p>
                              <div class="mt15">
                                <h4><span class="color-blue">Tournament Dates: </span> 8th to 19th December 2016</h4>
                                <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                <h4>Last day for student registration: 30th September 2016</h4>
                              </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/HANDBALL.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Basketball.jpg" alt="Kleinetics" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Basketball</h3>
                                <p>The single-minded focus of the Maharashtra State Basketball Association has been to work towards the development of the sport in order to create Basketball champions at National and International level by creating a feeder pipeline of talent at the grass roots level.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 5th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/BASKETBALL.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Volleyball.jpg" alt="Kleinetics" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Volleyball</h3>
                                <p>Mumbai State District Volleyball Association has its reach in every nook and corner of the state for the purpose of promoting Volleyball. Right from the correct training to identification of talent, MSDVA grooms young athletes and prepares them for higher level of competition in the Olympic sport of Volleyball.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 8th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/VOLLEYBALL.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Throwball.jpg" alt="Kleinetics" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Throwball</h3>
                                <p>Mumbai Amateur Throwball Association has been instrumental in working with young athletes at the grass roots level in the city by the way of training, identifying and nurturing young Throwball athletes. Multiple tournaments conducted by the association's help the players gain more competitive experience thus preparing them for international level tournaments.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 10th to 13th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/THROWBALL.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Hockey.jpg" alt="Hockey" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Hockey</h3>
                                <!-- <h1>Coming Soon..</h1> -->
                                <div class="mt15">
                                  <h4>Tournament Dates: 27th November to 1st December 2016</h4>
                                  <h4>Venue : Sports Authority Of India, Kandivali</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <!-- <p>'Dabang Mumbai' is relentlessly spearheading the hockey movement in key regions of Maharashtra, Gujarat and Goa to showcase its commitment towards India’s most prestigious sport - Hockey. The primary objective of the Dabang Mumbai franchise is to create a grass-root program that lends a steady stream of talented youngsters to India- eight-time Olympic Champions, and support in its continued vigour to reclaim world supremacy in the sport.</p>
<h4>Date : <span>10th</span> to <span>19th December</span></h4>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Kho-Kho.jpg" alt="Kho-Kho" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Kho-kho</h3>
                                <p>Maharashtra Kho-Kho Association works towards the development and promotion of the Indian Sport of Kho-Kho by providing training at the grass roots level and conducting multiple tournaments through the year. The association hopes to enthuse an increasing number of young athletes across the state to take up the sport and thus elevate the quality of the sport in the years to come.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 8th to 13th December</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/KHO-KHO.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Kabaddi.jpg" alt="Kabaddi" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Kabaddi</h3>
                                <p>Maharashtra Kabaddi Association promotes the Indian Sport of Kabaddi by providing young aspirants of the sport with a platform to showcase their skills. By conducting multiple tournaments throughout the year, MKA identifies and trains exceptional talent at the grass roots level to groom them for highest level of competition in the sport of Kabaddi.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 13th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/KABADDI.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Football.jpg" alt="Football" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Football</h3>
                                <div class="mt15">
                                  <h4>Tournament Dates: 5th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <!-- <p>Mumbai City FC firmly believes that high level of competition is a stepping-stone to bring the best out of the city’s youngsters. With an eye on the future, as the club builds the franchise at one level, Mumbai City FC ensures that there is a strong feeder pipeline in place to take the legacy of Mumbai City FC forward.Mumbai City FC provided boys and girls from more than 150 schools in the Navi Mumbai area with competitive Football matches in a well-regulated and safe environment in the flagship grassroots event in 2015.</p>
<h4>Date : <span>10th</span> to <span>19th December</span></h4>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sports-head">
                    <h1 class="text-uppercase text-center">Racquet Sports</h1>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Badminton.jpg" alt="Badminton" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Badminton</h3>
                                <p>Maharashtra Badminton Association works relentlessly towards the training and development of young talent at the grass roots level by creating more opportunities for athletes to compete. They are driven to build excellence in the sport of Badminton by creating grass roots level opportunities for young athletes in the state of Maharashtra so that they can aim for higher accolades at National and International levels. The sport of Badminton at SFA Mumbai 2016 will be managed by Sports United helmed by Sanket Shetty- a former National level Badminton player of India.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 8th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/BADMINTON_SINGLES.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download singles form</button>
                                  </a>
                                    <a href="img/form/register/BADMINTON_DOUBLES.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download doubles form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Tennis.jpg" alt="Tennis" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Tennis</h3>
                                <p>Being the sole controlling and governing body of Tennis in Maharashtra, the Maharashtra State Lawn Tennis Association is committed towards the development and proper conduct of the sport through multiple training facilities, coaching camps and state, national and international level tournaments. Through relentless efforts towards the sport of Tennis, MSLTA aims at working at the grass roots level in order to identify and train athletes to excel in their game and play the sport professionally.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 8th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/TENNIS_SINGLES.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download singles form</button>
                                  </a>
                                    <a href="img/form/register/TENNIS_DOUBLES.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download doubles form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Table-Tennis.jpg" alt="TT" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Table Tennis</h3>
                                <p>All four district associations and Sports Reconnect, under the mentorship of Shri. Kamlesh Mehta, will come together to conduct the sport of Table Tennis at our tournament. They have been dedicated towards the development of Table Tennis by providing training and infrastructure to groom the budding sports star. Their collective mission is to facilitate young aspirants at the grass roots level and help them take their game to the next level.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 14th to 18th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/TABLE_TENNIS_SINGLES.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download singles form</button>
                                  </a>
                                    <a href="img/form/register/TABLE_TENNIS_DOUBLES.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download doubles form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Squash.jpg" alt="Squash" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Squash</h3>
                                <p>Indian Squash Professionals (ISP), a non-profit making organization, was formed by Mr. Mahendra Agarwal in 1993, with the sole aim of promoting the game of Squash in India. Ever since its inception, ISP has spread the game of squash to the interiors of Maharashtra through coaching camps, tournaments and by building squash courts. The ultimate goal of ISP is to identify talent and foster competitive spirit amongst young squash athletes by supporting them to participate in international events and eventually produce world squash champions from India.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 10th to 14th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/SQUASH.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sports-head">
                    <h1 class="text-uppercase text-center">Combat Sports</h1>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Judo.jpg" alt="Judo" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>JUDO</h3>
                                <p>The Mumbai Judo Association regulates the activity of Judo in the State and is a member of the Judo Federation of India. The member district bodies hold tournaments as per the rules of the Judo Federation of India for their districts and send the winners to the State Tournaments. As a result the State Tournaments held by the MJA yield the best teams for Mumbai and send them to the National Tournament. By a similar process the interstate tournaments at the national level held by the JFI results in producing the team of the best players from India who participate in the international events.
                                </p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 9th to 11th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/JUDO.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Tackwondo.jpg" alt="Taekwondo" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>TAEKWONDO</h3>
                                <p>The Taekwondo Association of Maharashtra is known for its efforts towards the development and progress of the combat sport of Taekwondo in the state of Maharashtra. The association has worked tirelessly to produce athletes who have showcased outstanding talent at State as well as National level. Taekwondo Association of Maharashtra hopes to become a strong platform for children and youth to learn Taekwondo and thus achieve higher accolades in the sport. The sport of Taekwondo at SFA Mumbai 2016 will be managed by Eklavya Taekwondo Academy established in the year 1992 by Usha Shirke, who has more than 23 years of experience in physical fitness and sports for children.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 14th & 15th of December</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/TAEKWONDO.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Boxing.jpg" alt="Boxing" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Boxing</h3>
                                <p>Maharashtra Boxing Association has produced many Boxing champions- Olympians, Asian Games Champions and Arjuna & Shivchhatrapati awardees, who have brought laurels for India at various prestigious international competitions. In order to create champions, the association works tirelessly at the grass roots level through various coaching centers and tournaments to discover, train and uplift new talent in the field of Boxing.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 8th to 12th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/BOXING.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Fencing.jpg" alt="Fencing" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Fencing</h3>
                                <p>All four Fencing bodies have been making remarkable contricution to the development and promotion of the Olympic sport of Fencing in their respective districts. Right from providing the right training and equipment to guiding young fencers to grow through competitive tournaments, the associations support aspiring young athletes in their ambition of achieving the highest accolades in the sport. The sport of Fencing at SFA Mumbai 2016 will be managed by Mr. Kedar Dhawle of Fencers Sports Foundation.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 10th to 13th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/FENCING.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Karate.jpg" alt="Karate" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Karate</h3>
                                <p>Academy of Self Defence is one of the biggest Martial Art academies in the city, having its affiliation from the Japan Karate-Do Federation Gojukai (JKF) in Japan. It is an Affiliated Member of the Karate Association of India (KAI), recognised by the Indian Olympic Association Ministry of Sports & Youth Affairs. ASD believes in the development of all Self Defence sports and hopes to become the platform through which, young athletes can pursue as well excel in the sport of their choice.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 16th to 18th of December</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/KARATE_KUMITE.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download Kumite form</button>
                                  </a><a href="img/form/register/KARATE_KATA.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download kata form</button>
                                  </a>
                                    <a href="img/form/register/KARATE_TEAM_KUMITE.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download Team Kumite form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/MMA.jpg" alt="MMA" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Sport Mixed Martial Arts</h3>
                                <p>All India Mixed Martial Art Association of India ensures that every promoter / association follows the strict guidelines laid down by the national board for safe practices, officials expertise and integrity and high standards of athlete training. AIMMAA supervises every event in India by ensuring that they cover the mandatory policies of Heath Safety and Sport governance. All events conducted by AIMMAA in India are under direct permission from the Ministry of Sports, Govt of India. In India the AIMMAA follows the policy "To protect the fighters and promote the sport".</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 12th and 13th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/SPORT_MMA.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sports-head">
                    <h1 class="text-uppercase text-center">TARGET Sports</h1>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Shooting.jpg" alt="Shooting" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Shooting</h3>
                                <p>Lakshya Shooting Club and Swatantryaveer Savarkar Air Rifle Club are pioneers in the Olympic sport of shooting in Mumbai. Both clubs promote sportsmanship and competition with training in rifle and pistol marksmanship. While Lakshya shooters have regularly made their mark in the state and national championships, students of Swantraveer Savarkar Air Rifle Club too have won laurels for the state and the nation. The esteemed clubs will come together to conduct the sport of Shooting at SFA Mumbai 2016.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 5th to 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/SHOOTING_INDIVIDUAL.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download Individual form</button>
                                  </a>
                                    <a href="img/form/register/SHOOTING_TEAM.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download team form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Archery.jpg" alt="Archery" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Archery</h3>
                                <p>Mumbai Archery Association has taken up the responsibility of making Archery accessible to students across Mumbai. Owing to their guidance and training, young athletes have been able to showcase their talent right from district to international level. MAA hopes to identify and nurture an increasing number of students in the Olympics sport of Archery in the years to come. The sport of Archery at SFA Mumbai 2016 will be managed by Swapnil Parab of Arjuna Sports.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 15th to 18th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/ARCHERY.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sports-head">
                    <h1 class="text-uppercase text-center">AQUATICS</h1>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Swimming.jpg" alt="Swimming" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Swimming</h3>
                                <!-- <p>GMAAA has taken significant ownership of the development of the Olympic sport of Swimming at the grass roots level in Mumbai. By organizing professionally –managed tournaments frequently, GMAAA ensures that competitive swimmers across all age groups get the required training and competition hours required by an athlete who wants to take their game to the next level. The association has successfully created a community of young competitive swimmers, their parents as well as coaches to support the young athletes to achieve accolades in the sport of Swimming.</p> -->
                                <div class="mt15">
                                  <h4>Tournament Dates: 17th and 18th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/SWIMMING.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download individual form</button>
                                  </a>
                                    <a href="img/form/register/SWIMMING_RELAY.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download relay form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Water-polo.jpg" alt="Water-polo" class="img-responsive">
                            </div>
                        </div>
                      <div class="register-content">
                        <div class="col-md-8 col-sm-8">
                                <h3>Water Polo</h3>
                                <div class="mt15">
                                  <h4>Tournament Dates: 19th December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <!-- <p>Greater Mumbai Amateur Aquatic Association has taken it upon them to promote the sport of Water Polo in Mumbai and the surrounding districts. By conducting various tournaments for young competitive swimmers, GMAAA is training and scouting new talent so that in the years to come, India can be represented at top international competitions in the sport of Water Polo as well.</p>
<h4>Date : <span>10th</span> to <span>19th December</span></h4>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sports-head">
                    <h1 class="text-uppercase text-center">INDIVIDUAL Sports</h1>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Carrom.jpg" alt="Carrom" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Carrom</h3>
                                <p>Maharashtra Carrom Association is continuously striving to develop, administer, encourage & promote Carrom in all respects through the dynamic management team delivering innovative thinking. While doing so, their sole priority is to produce the best players for the country and to make the game of Carrom meet the highest standards ever in the sports arena.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 15th to 18th  December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/CARROM.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Chess.jpg" alt="Chess" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Chess</h3>
                                <p>The sport of Chess in Maharashtra has a long, rich and honourable history and the Thane District Chess Association has made a significant endeavour to not only keep the legacy alive, but to also churn out chess champions at the grass roots level of the state in order to enable them to aspire for higher achievements in the sport. </p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 10th to 13th  December 2016</h4>
                                  <h4>Venue : D.Y. Patil Sports Academy, Nerul</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/CHESS.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Gymnastic.jpg" alt="Gymnastics" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>Gymnastics</h3>
                                <h1>Coming Soon..</h1>
                                <!-- <p>Helmed by Harish Parab- a High Performance Coach with over 20 years of experience, The Gymnast is mainly focused on developing the sport of Gymnastics in India. Giving the coaching education system as much importance as the progress of the young gymnasts, the academy ensures that all their students, right from the toddlers to the veteran gymnasts get up-to-date training of the sport. Through the Competitive Gymnastics program, Harish Parab hopes to convert young and talented gymnasts into representative of the sport from India at various international competitions.</p>
<h4>Date : <span>10th</span> to <span>19th December</span></h4>
                                <div class="pull-right mb15">
                                    <a href="img/form/register/.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download form</button>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-block">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="rimage">
                                <img src="img/logos/Athletics.jpg" alt="Athletics" class="img-responsive">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <div class="register-content">
                                <h3>ATHLETICS</h3>
                                <p>Bombay City District Amateur Athletics Association, the governing body of Athletics Sports in Mumbai, is dedicatedly involved in the development of Athletics in Mumbai by the way of tournaments, training and talent scouting. They provide the young athletes of the city the right platform and opportunities required to take their game to the next level.</p>
                                <div class="mt15">
                                  <h4>Tournament Dates: 28th November to 1st December 2016</h4>
                                  <h4>Venue : Sports Authority Of India, Kandivali</h4>
                                  <h4>Last day for student registration: 30th September 2016</h4>
                                </div>
                                <div class="pull-right mb15">
                                  <a href="img/form/register/ATHLETICS.pdf" target="_blank">
                                      <button type="button" class="btn1" name="button">download individual form</button>
                                  </a>
                                    <a href="img/form/register/ATHLETICS_RELAY.pdf" target="_blank">
                                        <button type="button" class="btn1" name="button">download relay form</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="impdata">
                  <h4 class="text-center">* Dates may be subject to change</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
