<div class="media-set">
    <img src="img/schedule.png" class="img-responsive">
    <div class="media-text">
        <h2>schedule</h2>
    </div>
</div>
<div class="container martgintp">
    <div class="row">
        <div class="blue-cat">
            <ul>
                <li>
                    <figure><img src="img/orangemenu/tabletennis.png" class="img-responsive">
                        <figcaption>table tennis</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/tennis.png" class="img-responsive">
                        <figcaption>TENNIS</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/batminton.png" class="img-responsive">
                        <figcaption>BADMINTON</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/squash.png" class="img-responsive">
                        <figcaption>SQUASH</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/aquash.png" class="img-responsive">
                        <figcaption>aquatics</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/basketball.png" class="img-responsive">
                        <figcaption class="orange-act">basketball</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/vollyball.png" class="img-responsive">
                        <figcaption>VOLLEYBALL</figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="img/orangemenu/handball.png">
                        <figcaption>handball</figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row marginlft">
        <div class="col-md-3">
            <div class="cat-left">

                <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                <accordion close-others="oneAtATimes">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            Year <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option6" type="checkbox">
                                    <label class="checkbox" for="Option6">2015</label>
                                </li>
                                
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                <p class="sel-game">select game</p>
                
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
                        <accordion close-others="oneAtATime">


                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                        </accordion-heading>
                        <form class="sub-catgame">
                            <ul>
                                <li>
                                    <input id="Option" type="checkbox">
                                    <label class="checkbox" for="Option">all</label>
                                </li>
                                <li>
                                    <input id="option2" type="checkbox">
                                    <label class="checkbox" for="option2">under - 9</label>
                                </li>
                                <li>
                                    <input id="option3" type="checkbox">
                                    <label class="checkbox" for="option3">under - 11</label>
                                </li>
                                <li>
                                    <input id="option4" type="checkbox">
                                    <label class="checkbox" for="option4">under - 13</label>
                                </li>
                                <li>
                                    <input id="option5" type="checkbox">
                                    <label class="checkbox" for="option5">under - 16</label>
                                </li>
                            </ul>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>
</div>