<div class="media-set">
    <img src="img/schedule.png" class="img-responsive">

</div>

<div class="draw">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sfa-select">
                    <select>
                        <option>select sport</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1">
                        <option>Select category</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1">
                        <option>Select gender</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1">
                        <option>Select Age Group</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center margtp">
                    <a href="#" class="get-drwa">Get schedule</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="sch-table margintop">
                    <table class="table">
                        <thead class="f-normal">
                            <tr>
                                <th>Player -01</th>
                                <th>Player -02</th>
                                <th>Time & Date</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="col-bg" ng-repeat="data in result track by $index">
                                <td>
                                    <h4 class="copy-marks margin0">{{data.player1.name}}</h4>
                                    <p>{{data.player1.school}}</p>
                                </td>
                                <td>
                                    <h4 class="copy-marks margin0">{{data.player2.name}}</h4>
                                    <p>{{data.player2.school}}</p>
                                </td>
                                <td class="cust-li pos-ab text-center">
                                    <ul class="big-li">
                                        <li>{{data.time.time}}</li>
                                        <li>{{data.time.day}}<sup style="text-transform: capitalize;">{{data.time.nd}}</sup> {{data.time.month}} {{data.time.year}}</li>
                                    </ul>
                                </td>
                                <td class="cust-li">
                                    <div class="pull-right" ng-show="data.result.play">
                                        <figure class="text-center">
                                            <img src="img/replay.png">
                                            <figcaption>Replay</figcaption>
                                        </figure>

                                    </div>
                                    <h4 class="copy-marks margin0">{{data.result.status}}</h4>
                                    <ul class="big-li f-12">
                                        <li>{{data.result.point1}} </li>
                                        <li>{{data.result.point1}} </li>
                                        <li>{{data.result.point1}} </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>