<div class="curve">

</div>
<div class="register scl">
	<div class="patc">
		<div class="col-md-3 patches right"></div>
		<div class="col-md-6 leftpos">
			<div class="tabs-gallery">
				<h1>
               school registration
           </h1>
			</div>
		</div>
		<div class="col-md-3 patches left"></div>
	</div>
	<div class="pop-descp" >
		<div class="container back">
			<div class="pop-up">
				<p class="descp-head">the following document contains:</p>
				<ol>
					<li>School Registration Form</li>
					<li>Student Registration Form</li>
					<li>Participant Entry Forms along with- </li>
				</ol>
				<div class="sports-list">
					<p class="descp-head">Age Categories, Eligibility Criteria and Consent Form for the following sports:</p>
					<ul class="sport-content w100">
						<li>Tennis</li>
						<li>Squash</li>
						<li>Badminton</li>
						<li>Table Tennis</li>
						<li>Handball</li>
						<li>Volleyball</li>
						<li>Swimming</li>
						<li>Basketball</li>
						<li>Judo</li>
					</ul>
				</div>
				<div class="redirect">
					<a href="img/form/School-and-Participant-Registration-Forms.pdf" download >download school registration &amp; participant entry forms here </a>
				</div>
				<div class="info-sport">
					<ul >
						<li><span class="color">Only 500 Schools will be allowed to participate at the event.</span></li>
						<li><span class="color">Registrations open from 2nd Oct – 30th Nov’15 only.</span></li>
						<li><span class="color">Only students of member schools can participate in any and all SFA events.</span></li>
						<li><span>To become a member school, school authorities are requested to fill out all required details in the registration form and send the physical
signed and stamped copies along with your participant entry forms.</span></li>
						<li><span>Schools will have to send cash / demand draft / cheque, in favour of SFA Events Pvt. Ltd. towards an annual registration fee of Rs.5000/-.
This fee entails students of the school to participate in tournaments across all 9 sports and under all age categories if they meet the SFA eligibility criteria.</span></li>
						<li><span>There will be no additional fee that schools or students have to pay other than the annual registration fee.</span></li>
						<li><span>In a scenario where no student from a registered school meets our eligibility criteria and is unable to participate in any sport under any category,
SFA will refund the annual registration fee.</span></li>
					</ul>
				</div>
				<div class="sport-detail">
					<p class="color">Send in your school registrations, participant entries, cash/cheque/demand draft to our office:</p>
					<address>
					<span>SFA Events Pvt. Ltd.</span>
					<span>1306, Pancharatna Building, Opera House,</span>
					<span>Mumbai 400 004.</span>
				</address>
				</div>
			</div>
		</div>
	</div>
</div>
