<div class="curve">

</div>
<div class="scl">
    <div class="patc">
        <div class="col-md-3 patches right"></div>
        <div class="col-md-6 leftpos">
            <div class="tabs-gallery">
                <h1>
               school registration
           </h1>
            </div>
        </div>
        <div class="col-md-3 patches left"></div>
    </div>
    <div class="backwhite">
        <div class="container ">

            <div class="row">
                <div class="col-md-3">
                    <div class="sc-list">
                        <p>school name</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="sc-input">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="sc-list">
                        <p>school address</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="sc-input">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 padtp">
                    <div class="sc-list">
                        <p>Date of Establishment</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3 padzer ">
                            <div class="sc-input">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="sc-ul">
                                <ul>
                                    <li>
                                        <input id="Option6" type="checkbox">
                                        <label class="checkbox" for="Option6">Boys School</label>
                                    </li>
                                    <li>
                                        <input id="Option7" type="checkbox">
                                        <label class="checkbox" for="Option7">Girls School</label>
                                    </li>
                                    <li>
                                        <input id="Option8" type="checkbox">
                                        <label class="checkbox" for="Option8">Girls School</label>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 ">
                    <div class="sc-list">
                        <p>contact person</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="sc-input">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 padtp">
                    <div class="sc-list">
                        <p>contact details</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4 padzer">
                            <div class="sc-input">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sc-input">
                                <input type="text" class="form-control" placeholder="Mobile">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="sc-input">
                                <input type="text" class="form-control" placeholder="Landline">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3 padtp">
                    <div class="sc-list">
                        <p>Interested Sports</p>
                    </div>
                </div>
                <div class="col-md-9 padzer pdbotom">
                    <div class="row margzero">

                        <div class="col-md-12 padzer">
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Table Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Tennis</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Badminton</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Squash</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margzero">

                        <div class="col-md-12 padzer">
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Aquatic</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Basketball</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Volyball</label>
                            </div>
                            <div class="col-md-2">
                                <input id="Option9" type="checkbox">
                                <label class="checkbox" for="Option9">Handball</label>
                            </div>
                        </div>
                    </div>



                </div>
                        <div class="slider-btn text-center">
    <a href="" class="">SUBMIT</a>
</div>
            </div>
    
        </div>
    </div>
</div>
