<div class="curve">

</div>
<!--
<div class="landing">
    <img src="img/school.jpg" class="img-responsive"> 
</div>-->
<div class="school-back">
    
<div class="landings">
    <img src="img/school/latestuse1.png" class="pd155 img-responsive"> 
    <div class="container">
       <div class="row">
                   <div class="col-md-10">
             <div class="landing-text">
        <h1>schools registered for SFA 2015</h1>
    </div>
        </div>
       </div>
<div class="row">
    <div class="col-md-6">
        <div class="school-name">
            <ul>
                <li ng-repeat="school in schoolNames[0]" ui-sref="schoolprofile({id:school.id})"><span>{{($index+1)|numberFixedLen:2}}</span><p>{{school.name}}</p></li>
               
            </ul>
           
        </div>
    </div>
    <div class="col-md-6">
        <div class="school-name">
            <ul>
                <li ng-repeat="school in schoolNames[1]" ui-sref="schoolprofile({id:school.id})"><span>{{($index+1+schoolHalf)|numberFixedLen:2}}</span><p>{{school.name}}</p></li>
               
            </ul>
            
        </div>
    </div>
</div>
    </div>
   
</div>
</div>