<div class="media-set">
    <img src="img/score.png" class="img-responsive img">
    <div class="media-text">
        <h2>score & statistics</h2>
    </div>
</div>
<div class="draw">
    
    <div class="container">
  <div class="font-up text-center">
				<h1>
               Select all options to get score & Statistics
           </h1>
			</div>
        <div class="row">
    <div class="col-md-3">
                <div class="sfa-select">
                    <select id="sel1"  class="select">
                        <option>select sport</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1" class="select">
                        <option>Select category</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select" >

                    <select id="sel1" class="select">
                        <option>Select gender</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sfa-select">

                    <select id="sel1" class="select">
                        <option>Select Age Group</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                    <span class="only-border"></span>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12">
                <div class="text-center margtp p50">
                    <a href="#" class="get-drwa">Get Statistics</a>
                </div>
            </div>
        </div>
        
<!--
                <div class="row">
                
            <div class="col-md-12">
                <div class="tab-gallery c-text">
                <h4>basketball under-14 - <span style="color:#fc7700">matches</span></h4>
                </div>
                <div class="sch-table">
                    <table class="table">
                        <thead class="f-normal">
                            <tr>
                                <th>year</th>
                                <th>Team - 01</th>
                                <th>Team - 02</th>
                                <th>Score</th>
                                <th>Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cols-bg ver-td" >
                                <td>
                                    <h4 class="tx-c margin0">2015</h4>

                                </td>
                                <td>
                                    <h4 class="tx-c margin0">don bosco school</h4>

                                </td> 
                                <td>
                                    <h4 class="tx-c margin0">don bosco school</h4>

                                </td>
                                <td class="cust-li pos-ab text-center">
                                   <h4 class="margin0">43 - 54</h4>
                                </td>
                                <td class="cust-li">
                              
                                    <h4 class="tx-c disp-in margin0">don bosco school win</h4>
      <div class="disp-in vertic-mi">
                                        <figure class="text-center">
                                            <img src="img/replay.png">
                                            <figcaption>Replay</figcaption>
                                        </figure>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
-->
        
<!--        // for swimming-->
        
                  <div class="row">
                
            <div class="col-md-12">
                <div class="tab-gallery c-text">
                <h4>swimming 50m freestyle under-16 Boys - <span style="color:#fc7700">matches</span></h4>
                </div>
                <div class="sch-table">
                    <table class="table">
                        <thead class="f-normal">
                            <tr>
                                <th>year</th>
                                <th>athelte</th>
                                <th>school name</th>
                                <th>Result</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cols-bg ver-td" >
                                <td>
                                    <h4 class="tx-c margin0">2015</h4>

                                </td>
                                <td>
                                    <h4 class="tx-c margin0">soheb shaikh</h4>

                                </td> 
                                <td>
                                    <h4 class="tx-c margin0">don bosco school</h4>

                                </td>
                            
                                <td class="cust-li">
                              
                                    <h4 class="tx-c disp-in margin0">02:04:2</h4>
      <div class="disp-in vertic-mi">
                                        <figure class="text-center">
                                            <img src="img/replay.png">
                                            <figcaption>Replay</figcaption>
                                        </figure>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>