<div class="media-set">
    <img src="img/sports.png" class="img-responsive">
    <div class="media-text">
        <h2>sports</h2>
    </div>
</div>
<div class="container martgintp marg">
    <div class="row">
        <div class="blue-cat">
            <ul>
                
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/overall.png" class="img-responsive ">

                        <figcaption>overall</figcaption>
                    </figure>
                    <figure class="bottom">
                        <img src="img/bluemenu/tabletennisor.png" class="img-responsive ">
                        <figcaption class="blue-act">overall</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/tabletennis.png" class="img-responsive ">

                        <figcaption>table tennis</figcaption>
                    </figure>
                    <figure class="bottom">
                        <img src="img/bluemenu/tabletennisor.png" class="img-responsive ">
                        <figcaption class="blue-act">table tennis</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/tennis.png" class="img-responsive ">

                        <figcaption>TENNIS</figcaption>
                    </figure>
                    <figure class="bottom">
                        <img src="img/bluemenu/tennisor.png" class="img-responsive ">
                        <figcaption class="blue-act">TENNIS</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/batminton.png" class="img-responsive ">

                        <figcaption>BADMINTON</figcaption>
                    </figure>
                    <figure class="bottom">
                        <img src="img/bluemenu/batmintonor.png" class="img-responsive ">
                        <figcaption class="blue-act">BADMINTON</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/squash.png" class="img-responsive ">

                        <figcaption>SQUASH</figcaption>
                    </figure>
                    <figure class="bottom">
                        <img src="img/bluemenu/sqaushor.png" class="img-responsive ">
                        <figcaption class="blue-act">SQUASH</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/aqua.png" class="img-responsive ">

                        <figcaption>aquatics</figcaption>
                    </figure>
                    <figure class="bottom">
                        <img src="img/bluemenu/aquaticsor.png" class="img-responsive ">
                        <figcaption class="blue-act">aquatics</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/basketball.png" class="img-responsive ">

                        <figcaption>basketball</figcaption>
                    </figure>
                    <figure class="bottom" >
                        <img src="img/bluemenu/basketballor.png" class="img-responsive ">
                        <figcaption class="blue-act">basketball</figcaption>
                    </figure>
                </li>
                <li class="hovers">
                    <figure class="top">
                        <img src="img/bluemenu/vollyball.png" class="img-responsive ">
                        <figcaption>VOLLEYBALL</figcaption>
                    </figure>
                    <figure class="bottom" >
                        <img src="img/bluemenu/volleyballor.png" class="img-responsive ">
                        <figcaption class="blue-act">VOLLEYBALL</figcaption>
                    </figure>
                </li>
                

            </ul>
        </div>
    </div>
</div>
<div ng-show="tab=='basketball'">
<div class="patch margintop">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-5 pad-left">
                <div class="regis">
                    <p>basketball</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row margino">
        <div class="col-md-3">
            <div class="sports-tab active">
                <p>about the game</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sports-tab">
                <p>eligibility</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sports-tab">
                <p>rules</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sports-tab">
                <p>categories</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 ">
            <div class="game-content text-center">
                <h3>about the game</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>

                <div class="regi marginplus">
                    <a href="#">REGISTRATION now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-show="tab=='volleyball'">
<div class="patch margintop">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-5 pad-left">
                <div class="regis">
                    <p>volleyball</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row margino">
        <div class="col-md-3">
            <div class="sports-tab active">
                <p>about the game</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sports-tab">
                <p>eligibility</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sports-tab">
                <p>rules</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sports-tab">
                <p>categories</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 ">
            <div class="game-content text-center">
                <h3>about the game</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>

                <div class="regi marginplus">
                    <a href="#">REGISTRATION now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>