<div class="media-set">
	<img src="img/sports.jpg" class="img-responsive">
	<div class="media-text">
		<h2>sports</h2>
	</div>
</div>
<div class="container martgintp marg">
	<div class="row">
		<div class="blue-cat mobile-mn">
			<ul>
				<hovericon game="game" ng-repeat="game in games" ng-click="makeactive(game);"></hovericon>
			</ul>
		</div>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12 text-center">
			<div class="col-md-offset-1 col-md-10 ">
				<div class="cabout text-center">

					<p>Sports For All being a platform for school children to participate and compete in multiple sports, will be conducting tournaments for the following 8 sports at its flag-off event in Mumbai: </p>
					<table class="table chart-table">
						<tbody>
							<tr>
								<td>1. Tennis</td>
								<td>2. Squash</td>
								<td>3. Badminton</td>
								<td>4. Table Tennis</td>
							</tr>
							<tr>
								<td>5. Swimming</td>
								<td>6. Basketball</td>
								<td>7. Volleyball</td>
								<td>8. Handball</td>
							</tr>
						</tbody>
					</table>
					<p>For the first time an inter-school sports tournament will be officiated and governed by respective authorized bodies for all 8 sports. </p>
					<p>The venue for the first tournament - D.Y.Patil Sports Academy, is equipped with state-of-the-art sporting infrastructure, apt to conduct a multi-sporting tournament of this magnitude. Supporting the sporting infrastructure are several other facilities that will be made available to create a sports-conducive and carnival like environment.</p>
					<p>A few of the other facilities include:</p>
					<table class="table marginbtnss chart-table">
						<tbody>
							<tr>
								<td>Restrooms & Changing Rooms</td>
								<td>First-Aid Care & Physiotherapy </td>

							</tr>
							<tr>
								<td>Food, Water & Nutrition Stalls</td>
								<td>Sports Equipment & Merchandise Stalls</td>

							</tr>
							<tr>
								<td>TV Screens and Match Viewing Galleries</td>
								<td>Participant Warm Up Area</td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="regi marginplus social-set">

				<a href="#/schoolregistration">register now</a>
			</div>
		</div>
	</div>
</div>