<div class="media-set">
    <img src="img/home/9.png" class="img-responsive">

</div>
<div class="sports">
    <div class="vertical">
        <div class="handball-logo">
            <img src="img/partner-logo/2.png" alt="squash" class="img-responsive">
        </div>
        <div class="verti-right text-uppercase">
            <!--
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
-->
            <!--			<a href="#/form/handball.pdf" target="_blank" class="right_button">download handball form</a>-->
            <a href="img/form/School-and-Participant-Registration-Forms.pdf" target="_blank" class="right_button" download>download school registration form</a>

            <a href="#/enquirenow" target="_blank" class="right_button pdn">enquire now</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-4 padzer">
                <img src="img/sport/6.png" class="cus-imgss img-responsive">
            </div>
            <div class="col-md-7 col-sm-6">
                <div class="row">
                    <div class="col-md-10">
                        <div class="sports-text">
                            <h2 class="game_title">Squash at SFA</h2>
                            <p>Squash at SFA will be conducted under the aegis of Indian Squash Professionals. For the first time an inter-school squash tournament will be officiated and governed by an authorized body of the sport.</p>
                            <p>The squash arena at the venue has three air - cushioned wooden floored courts, suited and calibrated for World-class tournaments. Every match played by participants will be captured on video and later showcased on their schools SFA profile and individual participant’s SFA profile.</p>
                            <p>All medals across the different categories under squash, will add to the cumulative medal tally of the school, hence impacting it’s rank.</p>
                            <accordion>
                                <accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
                                    <p>The SFA Inter-school squash tournament will be conducted in the categories mentioned in the table below.</p>
                                    <p class="space">We have a maximum draw capacity as mentioned in the below table. Student entries will be accommodated basis the eligibility criteria.</p>
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Sr.No.</th>
                                            <th>Age Group</th>
                                            <th>Boys Singles</th>
                                            <th>Girls Singles</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>U-9</td>
                                                <td>128</td>
                                                <td>128</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>U-11</td>
                                                <td>128</td>
                                                <td>128</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>U-13</td>
                                                <td>128</td>
                                                <td>128</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>U-15</td>
                                                <td>128</td>
                                                <td>128</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>U-17</td>
                                                <td>128</td>
                                                <td>128</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                                <accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
                                    <ul class="spaceli">
                                        <li><span>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls.</span></li>
                                        <li><span>2nd round losers from the knock-out tournament will enter the plate event. Kindly note, the plate event is being conducted so that most students get a second chance to play. A medal in the plate event will not be added to the schools medal tally. Only the results of the main knockout tournament will be counted in the schools ranking system.</span></li>
                                        <li><span>There will be a screening done for the first round losers where these participants, unless beginners whose entry is sent in contravention to guidelines of not sending raw beginners, will also play the plate event.</span></li>
                                        <li><span>The matches will be best of 3 games of 11 points each up till the Pre Quarter Finals. The Quarter Finals, Semi Finals and Finals will be best of 5 games of 11 points each.</span></li>
                                        <li><span>Each participant can participate in one age category. Example: If a player is participating in the under 9 age category he is only eligible to play events in that same age category</span></li>
                                        <li><span>The participant must report at the venue’s main registration desk 45 minutes prior to his/her scheduled match.</span></li>
                                        <li><span>The participant has to report 15 minutes prior to his/her scheduled match time at the Squash registration desk.</span></li>
                                        <li><span>If the participant fails to report 7 minutes after the match is announced the opponents will get a walkover.</span></li>
                                        <li><span>Every player must carry his/her school ID along with age proof at all times during the tournament.</span></li>
                                        <li><span>Participants must produce their ID cards as and when required during the tournament.</span></li>
                                        <li><span>No player will be allowed to play his/her match if they do not have their school ID along with proper age proof.</span></li>
                                        <li><span>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation.</span></li>
                                        <li><span>The Squash organizing committee has the right to postpone or cancel the tournament in case of unavoidable circumstances.  All schools are requested to co-operate in any such case.</span></li>
                                        <li><span>In case of any dispute the decision of the Squash organizing committee will be final and binding.</span></li>
                                        <li><span>No player is allowed to use their mobile phones on court.</span></li>
                                        <li><span>Participants must be in appropriate uniform for the sport of Squash. Only Squash non-marking / gum sole shoes will be permitted while playing matches.</span></li>
                                        <li><span>For any kind of further details of the tournament the school Coach / Manager can contact the below mentioned <b>mobile no’s:</b> +91 7045684365/66/67   <b>Email:</b> info@sfanow.in</span></li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="ELIGIBILITY" class="title">
                                    <ul class="spaceli">
                                        <li><span>Only students from Sports For All member schools will be eligible to participate. </span></li>
                                        <li><span>First preference will be given to national or state ranked players. Remaining vacant slots will be allocated on a first come first serve basis.</span></li>
                                        <li><span>Players ranking from the period 1st January 2014 up to 25<sup>th</sup> October 2015 will be considered.</span></li>
                                        <li><span>Incomplete details in the entry forms or any manipulations in the entries will not be accepted by the organizing committee.</span></li>
                                        <li><span>The below mentioned age criteria’s will be considered:-</span></li>
                                    </ul>
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Age group</th>
                                            <th>Cut Off Date</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>U-9</td>
                                                <td>Born on or After 1<sup>st</sup> January 2006</td>
                                            </tr>
                                            <tr>
                                                <td>U-11</td>
                                                <td>Born on or After 1<sup>st</sup> January 2004</td>
                                            </tr>
                                            <tr>
                                                <td>U-13</td>
                                                <td>Born on or After 1<sup>st</sup> January 2002</td>
                                            </tr>
                                            <tr>
                                                <td>U-15</td>
                                                <td>Born on or After 1<sup>st</sup> January 2000</td>
                                            </tr>
                                            <tr>
                                                <td>U-17</td>
                                                <td>Born on or After 1<sup>st</sup> January 1998</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div class="col-md-10 sportss-texts">
                        <div class="col-md-4 col-sm-6 mobpads">
                            <a href="img/rules/squash.pdf" class="btn-sports" target="_blank">RULES</a>
                        </div>
                        <!--
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">format</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">Eligibility</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">categories of participation</button>
                </div>
-->
                        <div class="col-md-4 col-sm-6 mobpads">
                             <a href="#/venue" class="btn-sports" >facility images</a>
                        </div>
                        <div class="col-md-4 col-sm-6 mobpads">
                            <button class="btn-sports" type="submit">draws & schedule</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>