<div class="media-set">
	<img src="img/home/9.png" class="img-responsive">

</div>
<div class="sports">
	<div class="verti pull-right">
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
	</div>
	<div class="col-md-5 col-sm-4 padzer">
		<img src="img/sport/6.png" class="cus-imgss img-responsive">
	</div>
	<div class="col-md-7 col-sm-6">
		<div class="row">
			<div class="col-md-10">
				<div class="sports-text">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
					<accordion>
						<accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
							<p>The SFA Inter-school Table Tennis tournament will be conducted in the categories mentioned in the table below.</p>
							<p class="space">We have a maximum draw capacity as mentioned in the below table. Student entries will be accommodated basis the eligibility criteria set out in Point 3.</p>
							<table class="table">
								<thead class="bgc">
									<th>Sr.No.</th>
									<th>Age Group</th>
									<th>Boys Singles</th>
									<th>Girls Singles</th>
									<th>Boys Doubles</th>
									<th>Girls Doubles</th>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>U-10</td>
										<td>256</td>
										<td>128</td>
										<td>128</td>
										<td>128</td>
									</tr>
									<tr>
										<td>1</td>
										<td>U-12</td>
										<td>256</td>
										<td>128</td>
										<td>128</td>
										<td>128</td>
									</tr>
									<tr>
										<td>1</td>
										<td>U-15</td>
										<td>256</td>
										<td>128</td>
										<td>128</td>
										<td>128</td>
									</tr>
								</tbody>
							</table>
						</accordion-group>
						<accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
							<ul class="spaceli">
								<li>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls.</li>
								<li>For U-10 and U-12, matches will be best of 5 games of 11 points each till Finals.</li>
								<li>For U-15 matches will be best of 5 games of 11 points each till the Quarter finals &amp; best of 7 games of 11 points each for the Semi Finals & Finals.</li>
								<li>Each participant can participate in one age category. For Example, if a player is participating in the under 10 age category he is only eligible to play the events in that same age category.</li>
								<li>A player enrolled for Singles in a particular age category can also play doubles only in the same age category.</li>
								<li>The participant must report at the venue’s main registration desk 45 minutes prior to his/her scheduled match.</li>
								<li>The participant has to report 15 minutes prior to his/her scheduled match time at the Table Tennis registration desk.</li>
								<li>If the participant fails to report 7 minutes after the match is announced the opponents will get a walkover.</li>
								<li>Every player must carry his/her school id along with age proof at all times during the tournament.</li>
								<li>Participants must produce their ID cards as and when required during the tournament.</li>
								<li>No player will be allowed to play his/her match if they donot have their school ID along with proper age proof.</li>
								<li>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation.</li>
								<li>The Table Tennis organizingcommittee has the right to postpone or cancel the tournament in case of unavoidable circumstances. All schools are requested to co-operate in any such case.</li>
								<li>If any player who cannot take part in the tournament even after giving his/her entry can be replaced with another player on a special request by the respective school at least 1 day before the match starts. This is applicable only in case of doubles.</li>
								<li>In case of any dispute the decision of the Table tennisorganizingcommittee will be final and binding.</li>
								<li>No player is allowed to use their mobile phones on court.</li>
								<li>Participants must be in appropriate uniform for the sport of Table Tennis. Only non-marking / glass sole shoes will be permitted while playing matches.</li>
								<li>All TTFI Approved Equipment’s will be used in the Tournaments.</li>
								<li>For any kind of further details of the tournament the school Coach / Manager can contact the below mentioned mobile no’s:</li>
							</ul>
						</accordion-group>
						<accordion-group heading="ELIGIBILITY" class="title">
							<ul class="spaceli">
								<li>Entries will be accepted on a first come first basis. However ranked players will be given preference over non-ranked players.</li>
								<li>First preference will be given to players who have a national or state rank. Players ranking from the period 1st January 2014 up to 25th October 2015 will be considered.</li>
								<li>The following criteria will be followed for the different age groups:-</li>
							</ul>
							<table class="table">
								<thead class="bgc">
									<th>Age group</th>
									<th>Cut Off Date</th>
								</thead>
								<tbody>
									<tr>
										<td>U-9</td>
										<td>Born on or After 1<sup>st</sup> January 2006</td>
									</tr>
									<tr>
										<td>U-11</td>
										<td>Born on or After 1<sup>st</sup> January 2004</td>
									</tr>
									<tr>
										<td>U-13</td>
										<td>Born on or After 1<sup>st</sup> January 2002</td>
									</tr>
									<tr>
										<td>U-15</td>
										<td>Born on or After 1<sup>st</sup> January 2000</td>
									</tr>
									<tr>
										<td>U-17</td>
										<td>Born on or After 1<sup>st</sup> January 1998</td>
									</tr>
								</tbody>
							</table>
						</accordion-group>
					</accordion>
				</div>
			</div>
			<div class="col-md-10 sportss-texts">
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">RULES</button>
				</div>
				<!--
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">format</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">Eligibility</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">categories of participation</button>
                </div>
-->
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">facility images</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">draws & schedule</button>
				</div>
			</div>
		</div>
	</div>
</div>