<div class="media-set">
    <img src="img/profiles.jpg" class="img-responsive">
    <div class="container sprofile">
        <div class="row">
            <div class="col-xs-4">
                <div class="slogo">
                    <img ng-src="{{student.studentprofile.image | serverimageschool}}" class="img-responsive b-rad">
                </div>
            </div>
            <div class="col-xs-8">
                <div class="sdata ">

                    <h3 class="dp">{{student.studentprofile.name}}</h3>
                    <div class="sp-class">
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_googleplus_large' displayText='Google +'></span>
                    </div>

                    <p class="fonts">{{student.studentprofile.schoolname}} School</p>
                    <ul class="spoint">
                        <li class="borderrigh padlefo" ng-if="student.studentprofile.agegroupname">
                            <p>group</p>
                            <h2>{{student.studentprofile.agegroupname}}</h2>
                        </li>
                        <!--
                        <li class="borderrigh">
                            <p>medals won</p>
                            <h2>430</h2>
                        </li>
-->
                        <li class="border-l" ng-if="student.studentprofile.sfastudentid">
                            <p>SFA id</p>
                            <h2>{{student.studentprofile.sfastudentid}}</h2>
                        </li>   
                        <li class="border-l" ng-if="student.studentprofile.dob">
                            <p>DOB</p>
                            <h2>{{student.studentprofile.dob | date: formate : mediumDate }}</h2>
                        </li>   
                        <li class="border-l" ng-if="student.studentprofile.gender">
                            <p>Gender</p>
                            <h2 ng-if="student.studentprofile.gender ==1 ">Male</h2>
                            <h2 ng-if="student.studentprofile.gender ==2 ">Female</h2>
                        </li>
                    </ul>
                    <p>Sports</p>
                    <h2 class="clsports j-cs">{{sportsnames}}</h2>
                </div>

            </div>
            <!--
            <div class="col-xs-2">
                <div class="splogo">
                    <img src="img/partner-logo/jio.png" class="img-responsive">
                </div>
            </div>
-->
        </div>
<!--
        <div class="text-center">
        <p>NOTE: Please confirm all your details, if you need any corrections to be made please call us on our helpline 70456 84365/66/67 or email us on info@sfanow.in</p>
        </div>
-->
    </div>
</div>
<div class="spo text-center">
    <h4 class="clsports">sports participated</h4>
</div>
<div class="container martgintp">

    <div class="row" ng-if="checkmenu">
        <div class="col-md-12">
            <div class="blue-cat">
                <ul>
                    <hovericon game="game" ng-repeat="game in games" ng-click="makeactive(game);"></hovericon>
                </ul>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="stab">
                    <ul>
                        <li ng-class="active" ng-click="tabchange('gallerymain',1)">
                            <h3>gallery</h3></li>
                        <li ng-class="actives" ng-click="tabchange('statics',2)">
                            <h3>STATISTICS</h3></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="" ng-show="tab2=='gallerymain'">
        <!--

// gallery content start
            <div class=" marginlft marginlfts row">


                <div class="col-md-3 ">
                    <div class="wths">
                        <div class="cat-left scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions" style="width:100%;margin-top:0px;">

                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        age group <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option" type="checkbox">
                                                <label class="checkbox" for="Option">all</label>
                                            </li>
                                            <li>
                                                <input id="option2" type="checkbox">
                                                <label class="checkbox" for="option2">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option3" type="checkbox">
                                                <label class="checkbox" for="option3">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option4" type="checkbox">
                                                <label class="checkbox" for="option4">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option5" type="checkbox">
                                                <label class="checkbox" for="option5">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        Year <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option6" type="checkbox">
                                                <label class="checkbox" for="Option6">2015</label>
                                            </li>

                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <p class="sel-game">select game</p>

                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        table tennis <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option7" type="checkbox">
                                                <label class="checkbox" for="Option7">all</label>
                                            </li>
                                            <li>
                                                <input id="option8" type="checkbox">
                                                <label class="checkbox" for="option8">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option9" type="checkbox">
                                                <label class="checkbox" for="option9">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option10" type="checkbox">
                                                <label class="checkbox" for="option10">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option11" type="checkbox">
                                                <label class="checkbox" for="option11">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        aquatics <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option12" type="checkbox">
                                                <label class="checkbox" for="Option12">all</label>
                                            </li>
                                            <li>
                                                <input id="option13" type="checkbox">
                                                <label class="checkbox" for="option13">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option14" type="checkbox">
                                                <label class="checkbox" for="option14">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option15" type="checkbox">
                                                <label class="checkbox" for="option15">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option16" type="checkbox">
                                                <label class="checkbox" for="option16">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        basketball <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option17" type="checkbox">
                                                <label class="checkbox" for="Option17">all</label>
                                            </li>
                                            <li>
                                                <input id="option18" type="checkbox">
                                                <label class="checkbox" for="option18">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option19" type="checkbox">
                                                <label class="checkbox" for="option19">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option20" type="checkbox">
                                                <label class="checkbox" for="option20">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option21" type="checkbox">
                                                <label class="checkbox" for="option21">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        tennis <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option22" type="checkbox">
                                                <label class="checkbox" for="Option22">all</label>
                                            </li>
                                            <li>
                                                <input id="option23" type="checkbox">
                                                <label class="checkbox" for="option23">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option24" type="checkbox">
                                                <label class="checkbox" for="option24">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option25" type="checkbox">
                                                <label class="checkbox" for="option25">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option26" type="checkbox">
                                                <label class="checkbox" for="option26">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        squash <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option27" type="checkbox">
                                                <label class="checkbox" for="Option27">all</label>
                                            </li>
                                            <li>
                                                <input id="option28" type="checkbox">
                                                <label class="checkbox" for="option28">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option29" type="checkbox">
                                                <label class="checkbox" for="option29">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option30" type="checkbox">
                                                <label class="checkbox" for="option30">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option31" type="checkbox">
                                                <label class="checkbox" for="option31">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        badminton <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option32" type="checkbox">
                                                <label class="checkbox" for="Option32">all</label>
                                            </li>
                                            <li>
                                                <input id="option33" type="checkbox">
                                                <label class="checkbox" for="option33">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option34" type="checkbox">
                                                <label class="checkbox" for="option34">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option35" type="checkbox">
                                                <label class="checkbox" for="option35">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option36" type="checkbox">
                                                <label class="checkbox" for="option36">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        handball <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option37" type="checkbox">
                                                <label class="checkbox" for="Option37">all</label>
                                            </li>
                                            <li>
                                                <input id="option38" type="checkbox">
                                                <label class="checkbox" for="option38">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option39" type="checkbox">
                                                <label class="checkbox" for="option39">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option40" type="checkbox">
                                                <label class="checkbox" for="option40">under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option41" type="checkbox">
                                                <label class="checkbox" for="option41">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                            <accordion close-others="oneAtATime">


                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        vollyball <i class="pull-left" ng-class="{'fa fa-angle-down': status.open, 'fa fa-angle-right': !status.open}"></i>
                                    </accordion-heading>
                                    <form class="sub-catgame">
                                        <ul>
                                            <li>
                                                <input id="Option42" type="checkbox">
                                                <label class="checkbox" for="Option42">all</label>
                                            </li>
                                            <li>
                                                <input id="option43" type="checkbox">
                                                <label class="checkbox" for="option43">under - 9</label>
                                            </li>
                                            <li>
                                                <input id="option44" type="checkbox">
                                                <label class="checkbox" for="option44">under - 11</label>
                                            </li>
                                            <li>
                                                <input id="option45" type="checkbox">
                                                <label class="checkbox" for="option45" 5>under - 13</label>
                                            </li>
                                            <li>
                                                <input id="option46" type="checkbox">
                                                <label class="checkbox" for="option46">under - 16</label>
                                            </li>
                                        </ul>
                                    </form>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 ">

                    <div class="tab-gallery ">
                        <div class=" row">

                            <div class="sch-det">
                                <div class="col-md-10">
                                    <h4>{{selectedGame.game}}</h4>
                                </div>
                            </div>
                        </div>

                 

                        <div class="tab-gal" ng-show="tab1=='gallery' && allresult!=''">

                            <div class="row  text-center">
                                <div class="col-md-12 marginos">

                                    <div class="col-md-4 costums" ng-repeat="gal in allresult">
                                        <div class="scooolgal">
                                            <img ng-src="{{gal.thumbnail | serverimage}}" ng-click="openModal(gal);">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="tab-gal" ng-show="allresult==''">
                            {{msg}}

                        </div>
                 

                    </div>


                </div>

            </div>
//gallery content end
-->
        <div class="row">
            <div class="col-md-12">
                <div class="another-static text-center">
                    <img src="img/cm.jpg" class="img-responsive">

<!--
                    <div class="txt-sorry">
                        <h1>Student Profiles, </h1>
                        <h3>All your information, statistics, photographs,</h3>
                        <h3>match videos and medals tally will be updated </h3>
                        <h3>on this page post <span class="s-c">SFA Mumbai 2015.</span></h3>
                    </div>
-->
                </div>
            </div>
        </div>
    </div>



    <div class="marzero" ng-show="tab2=='statics'">
        <!--
            <div class="row">
                <div class="col-md-12 ">

                    <div class="bg-school sch-det">
                        <h4>table tennis - <span>medals tally</span></h4>
                        <div class="stable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            year
                                        </th>
                                        <th>
                                            sport
                                        </th>

                                        <th>
                                            category
                                        </th>
                                        <th>
                                            gold
                                        </th>
                                        <th>
                                            silver
                                        </th>
                                        <th>
                                            bronze
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="lis">
                                            <p>2016</p>
                                        </td>
                                        <td>
                                            <p>
                                                Badminton
                                            </p>

                                        </td>
                                        <td>
                                            <ul>
                                                <li>u-17</li>
                                                <li>boys</li>
                                                <li>single</li>
                                            </ul>
                                        </td>
                                        <td>0</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>
                       <div class="bg-school sch-det">
                        <h4>Table tennis  - <span>matches</span></h4>
                        <div class="stable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            year
                                        </th>
                                        <th>
                                            aganist
                                        </th>

                                        <th>
                                            category
                                        </th>
                                        <th>
                                            score
                                        </th>
                                        <th>
                                            result
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="lis">
                                            <p>2016</p>
                                        </td>
                                        <td><ul>
                                            <li>Soheb Shaikh</li>
                                            <li>don bosco school</li>
                                        </ul>

                                        </td>
                                        <td>
                                            <ul>
                                                <li>u-17</li>
                                                <li>boys</li>

                                            </ul>
                                        </td>
                                        <td>54 - 48</td>
                                        <td class="cust-li">
                                            <ul>
                                                <li>
                                                    <h4 class="f-class">won</h4></li>
                                                <li class="vers">
                                                    <div class="vers">
                                                        <figure class="text-center">
                                                            <img src="img/replay.png">
                                                            <figcaption>Replay</figcaption>
                                                        </figure>

                                                    </div>
                                                </li>

                                            </ul>


                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>

                    </div>
 
                </div>
-->
        <!--
            <div class="row">
                <div class="col-md-12">
                    <div class="view text-center feed">
                        <a href="">view more</a>
                    </div>
                </div>
            </div>
-->
        <div class="row">
            <div class="col-md-12">
                <div class="another-static text-center">
                    <img src="img/cm.jpg" class="img-responsive">

<!--
                    <div class="txt-sorry">
                        <h1>Dear Participant, </h1>
                        <h3>All your information, statistics, photographs,</h3>
                        <h3>match videos and medals tally will be updated </h3>
                        <h3>on this page post <span class="s-c">SFA Mumbai 2015.</span></h3>
                    </div>
-->
                </div>
            </div>
        </div>

    </div>


</div>

<!--
<div class="bg-school">
    <div class="container">
        <div ng-show="tab2=='gallerymain' && showLoadmore">
            <div class="aroww text-center col-md-offset-5 col-md-5" ng-click="loadMore()">
                <img src="img/arrow.png">
            </div>
        </div>


    </div>
</div>
-->
