<div class="media-set">
    <img src="img/studentl.png" class="img-responsive">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="sl-p text-center">
                <p class="stu-f">Search your profile </p>
                <div class="s-input feed">
                    <p class="stu-f">Search by SFA Id</p>
                    <div class="searchs ">
                        <form class="sfms stu-sfms ng-pristine ng-valid">
                            <input type="text" class="inbinding" name="q" value="Enter your SFA ID" ng-model="searchById.search">
                            <input type="image" value="Search" src="img/searchbig.png" class="sbs" ng-click="getSearchById();">
                        </form>
                    </div>
                    <h3 class="font-hclass">OR</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="l-input text-center">
                <p class="stu-f">Search by Name of the School</p>
                <div class="searchs ">
                    <form class="sfms stu-sfms ng-pristine ng-valid">
                        <input type="text" class="inbinding" name="q" value="enter school name" ng-model="searchByName.school">
                        <input type="image" value="Search" src="img/searchbig.png" class="sbs" ng-click="getSearchByName();">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="l-input text-center">
                <p class="stu-f">Search by Name of the Student</p>
                <div class="searchs">
                    <form class="sfms stu-sfms ng-pristine ng-valid">
                        <input type="text" class="inbinding" name="q" value="enter Student Name" ng-model="searchByName.student">
                        <input type="image" value="Search" src="img/searchbig.png" class="sbs" ng-click="getSearchByName();">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="show-result">
        <div class="row">
            <div class="c-text text-center">
                <p class="serc-fnt">Search 1280 Results</p>
            </div>
            <div class="col-md-12 col-xs-12 rwo-class">
                <div class="col-md-3 col-xs-3">
                    <div class="im-c">
                        <img src="img/noimage.png">
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="s-info p15">
                        <p>Name</p>
                        <p>SFA ID</p>
                        <p>Date Of Birth</p>
                        <p>School</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="s-info p15">
                        <p>: Soheb Shaikh</p>
                        <p>: SFA000045</p>
                        <p>: 20th April 1991</p>
                        <p>: Fr. Agnel Jr. College </p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="pull-right s-info pos-view">
                        <p class="vh">View full profile</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="pdbotom pull-right pag-ul">
                    <ul>
                        <li>
                            <p><i class="fa fa-chevron-left"></i></p>
                        </li>
                        <li>
                            <p>1</p>
                        </li>
                        <li>
                            <p>2</p>
                        </li>
                        <li>
                            <p>3</p>
                        </li>
                        <li>
                            <p><i class="fa fa-chevron-right"></i></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
