<div class="media-set">
    <img src="img/home/12.png" class="img-responsive img">
    <!--
    <div class="container sprofile">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="slogo">
                    <figure>
                        <img src="img/orangemenu/3.png" class="img-responsive">
                        <figcaption>aquatics</figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
-->
</div>
<div class="sports">
    <div class="vertical">
        <div class="handball-logo">
            <img src="img/partner-logo/8.png" alt="sports" class="img-responsive">
        </div>
        <div class="verti-right text-uppercase">
            <!--
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
-->
            <!--			<a href="#/form/handball.pdf" target="_blank" class="right_button">download handball form</a>-->
            <a href="img/form/School-and-Participant-Registration-Forms.pdf" target="_blank" class="right_button" download>download school registration form</a>
            <a href="#/enquirenow" target="_blank" class="right_button pdn">enquire now</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 padzer">
                <img src="img/sport/aqa.png" class="cus-imgs img-responsive">
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-md-10">
                        <div class="sport-text">
                            <h2 class="game_title">Swimming at SFA</h2>
                            <p>Swimming at SFA will be conducted under the aegis of the Swimming Federation of India. For the first time an inter-school swimming competition will be officiated and governed by an authorized body of the sport.</p>
                            <p>The swimming facility at the venue includes a state-of-the-art Olympic size swimming pool. Every event participant played by participants will be captured on video and later showcased on their schools SFA profile and individual participant’s SFA profile.</p>
                            <p>All medals across the different categories under swimming, will add to the cumulative medal tally of the school, hence impacting it’s rank.</p>
                            <accordion>
                                <accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
                                    <!--
									<p>The SFA Inter-school Volleyball tournament will be conducted in the categories mentioned in the table below.</p>
									<p class="space">We have a maximum draw capacity as mentioned in the below table. Entries will be accommodated basis the eligibility criteria set out in Point 3.</p>
-->
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Sr.No.</th>
                                            <th class="size">Age Group (Boys &amp; Girls)</th>
                                            <th>Events (Boys &amp; Girls)</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>U-10</td>
                                                <td>All FOUR STROKES: 50 meter Races,<br>4 x 50 meter Freestyle and Medley Relay</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>U-12</td>
                                                <td>All FOUR STROKES: 50,<br>100 meter Races,<br>200 meter Individual Medley Race,<br>4 x 50 meter Freestyle and Medley Relay</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>U-14</td>
                                                <td>50, 100, 200 & 400 meter Freestyle Races,<br>50, 100 meter Races for Backstroke, Breaststroke & Butterfly strokes 200 meter Individual Medley Race,<br>4 x 100 meter Freestyle and Medley Relay</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>U-16</td>
                                                <td>50, 100, 200, 400, 800 meter Freestyle(For Girls Only) & 1500 meter Freestyle (For Boys Only),<br> 50, 100, 200 meter races for Backstroke,<br> Breaststroke & Butterfly strokes<br>200 meter Individual Medley Race,<br> 400 meter Individual Medley Race,<br>4 x 100 meter Freestyle and Medley Relay.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                                <accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
                                    <ul class="spaceli">
                                        <li><span>In U-10 & U-12 age groups, a swimmer can participate in a maximum of 3 individual events and in relays.</span></li>
                                        <li><span>In U-14 age group, a swimmer can participate in a maximum of 4 individual events and in relays.</span></li>
                                        <li><span>In U-16 age group, a swimmer can participate in a maximum of 5 individual events and in relays.</span></li>
                                        <li><span>Every swimmer must carry his/her school ID along with age proof at all times during the competition</span></li>
                                        <li><span>Participants must produce their ID cards as and when required during the competition.</span></li>
                                        <li><span>No swimmer will be allowed to participate if they do not have their school ID along with proper age proof.</span></li>
                                        <li><span>The participant must report at the venue’s main registration desk 45 minutes prior to his/her scheduled event.</span></li>
                                        <li><span>The participant has to report 15 minutes prior to his/her scheduled event time at the Swimming registration desk.</span></li>
                                        <li><span>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation. </span></li>
                                        <li><span>All the participants must wear swimming caps and goggles for all the swimming events.   </span></li>
                                        <li><span>The Swimming organizing committee has the right to postpone or cancel the competition in case of unavoidable circumstances. All schools are requested to co-operate in any such case.</span></li>
                                        <li><span>In case of any dispute the decision of the Swimming organizing committee will be final and binding.</span></li>
                                        <li><span>No player will be allowed to use their mobile phones on court.</span></li>
                                        <li><span>For any kind of further details of the tournament the School Coach / Manager can contact the below mentioned mobile no’s:<br>+91 7045684365/66/67   Email: info@sfanow.in</span></li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="ELIGIBILITY" class="title">
                                    <ul class="spaceli">
                                        <li><span>The below mentioned age criteria’s will be considered:-</span></li>
                                    </ul>
                                    <table class="table tab-info">
                                        <thead class="bgc">
                                            <th>Age Group</th>
                                            <th>Cut Off Date</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>U-10</td>
                                                <td>Born on or After 1 <sup>st</sup> January 2005</td>
                                            </tr>
                                            <tr>
                                                <td>U-12</td>
                                                <td>Born on or After 1 <sup>st</sup> January 2003</td>
                                            </tr>
                                            <tr>
                                                <td>U-14</td>
                                                <td>Born on or After 1 <sup>st</sup> January 2001</td>
                                            </tr>
                                            <tr>
                                                <td>U-16</td>
                                                <td>Born on or After 1 <sup>st</sup> January 1999</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <div class="col-md-10 sport-texts">
                        <div class="col-md-4 col-sm-6 mobpads">
                            <a href="#/commingsoon" class="btn-sports" target="_blank">RULES</a>
                        </div>
                        <!--
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">format</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">Eligibility</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">categories of participation</button>
				</div>
-->
                        <div class="col-md-4 col-sm-6 mobpads">
                             <a href="#/venue" class="btn-sports" >facility images</a>
                        </div>
                        <div class="col-md-4 col-sm-6 mobpads">
                           <a href="img/form/SwimmingMatchSchedule.pdf" target="_blank"> <button class="btn-sports" type="submit">draws & schedule</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>