<div class="media-set">
    <img src="img/home/7.png" class="img-responsive">

</div>
<div class="sports">
   <div class="verti pull-right">
        <button type="submit" class="vert">register now</button>
    </div>
    <div class="col-md-5">
        <img src="img/sport/4.png" class="cuss-img img-responsive">
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-10">
                <div class="sports-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="col-md-10 sportss-texts">
                <div class="col-md-4">
                    <button class="btn-sports" type="submit">RULES</button>
                </div>
                <div class="col-md-4">
                    <button class="btn-sports" type="submit">format</button>
                </div>
                <div class="col-md-4">
                    <button class="btn-sports" type="submit">Eligibility</button>
                </div>
                <div class="col-md-4">
                    <button class="btn-sports" type="submit">categories of participation</button>
                </div>
                <div class="col-md-4">
                    <button class="btn-sports" type="submit">facility images</button>
                </div>
                <div class="col-md-4">
                    <button class="btn-sports" type="submit">draws & schedule</button>
                </div>
            </div>
        </div>
    </div>
</div>
