<div class="media-set">
	<img src="img/home/7.png" class="img-responsive">

</div>
<div class="sports tennis">
	<div class="verti pull-right">
		<button type="submit" class="vert">register now</button>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 col-sm-4 padzer">
				<img src="img/sport/tenn.png" class="cus-imgs moo img-responsive hidden-xs hidden-sm">
				<img src="img/sport/45.png" class="cus-imgs moos img-responsive hidden-lg hidden-md">
			</div>
			<div class="col-md-7 col-sm-6">
				<div class="row">
					<div class="col-md-10">
						<div class="sports-text">
							<p>Tennis at SFA will be conducted under the aegis of the <b>Mahesh Bhupathi Tennis Association</b>. For the first time an inter-school tennis tournament will be officiated and governed by an authorized body of the sport. The tennis arena at the venue has four xyz courts, suited and calibrated for World-class tournaments. Every match played by participants will be captured on video and later showcased on their schools and SFA profile. All medals across the different categories under tennis, will add to the cumulative medal tally of the school, hence impacting it’s rank.
							</p>
							<accordion>
								<accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
									<p>The SFA Inter-school tennis tournament will be conducted in the categories mentioned in the table below.</p>
									<p class="space">We have a maximum draw capacity as mentioned in the below table. Student entries will be accommodated basis the eligibility criteria set out in Point 3.</p>
									<table class="table tab-info">
										<thead class="bgc">
											<th>Sr.No.</th>
											<th>Age Group</th>
											<th>Boys Singles</th>
											<th>Girls Singles</th>
											<th>Boys Doubles</th>
											<th>Girls Doubles</th>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>U-12</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
											</tr>
											<tr>
												<td>2</td>
												<td>U-14</td>
												<td>64</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
											</tr>
											<tr>
												<td>3</td>
												<td>U-16</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
											</tr>
											<tr>
												<td>4</td>
												<td>U-18</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
												<td>32</td>
											</tr>
										</tbody>
									</table>
								</accordion-group>
								<accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
									<ul class="spaceli">
										<li>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls.</li>
									</ul>
									<p class="space">U/10 &amp; U/12 (Singles &amp; Doubles)</p>
									<ul class="spaceli">
										<li>The matches up till the quarter finals will be of 1 mini set (4 games)</li>
										<li> Tie break will be on 4-4</li>
										<li>Semi Finals and Finals will be a best of 3 Mini Sets with tie break on 4-4</li>
										<li>For all matches, deuce will be one point with server to decide the side</li>
									</ul>
									<p class="space">U/14 &amp; U16 (Singles &amp; Doubles)</p>
									<ul class="spaceli">
										<li>The matches up till the Quarter finals will be of 1 set (6 games)</li>
										<li>Tie break will be on 5-5</li>
										<li>Semi Finals and Finals will be a best of 3 sets with tie break on 5-5</li>
										<li class="selection">For all matches, deuce will be one point with server to decide the side</li>
										<li>Each participant can participate in one age category only.</li>
										<li>A player enrolled for Singles in a particular age category can also play doubles only in the same age category. For example, if a player is participating in U-12 age category, he is only eligible to play the events in that same age category.</li>
										<li>Every player must carry their AITA card, school ID card along with his/her age proof at all times during the tournament.</li>
										<li>No player will be allowed to play his/her match if they do not have their AITA card or appropriate age proof along with his school ID.</li>
										<li>Participants must produce their ID cards as and when required during the tournament.</li>
										<li>The participant must report at the venue’s main registration desk 45 minutes prior to his/her scheduled match.</li>
										<li>The participant has to report 15 minutes prior to his/her scheduled match time at the tennis registration desk.</li>
										<li>If the participant fails to report 7 minutes after the match is announced the opponents will get a walkover.</li>
										<li>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation.</li>
										<li>Participants must be in appropriate uniform for the sport of tennis. Only tennis non-marking sole shoes will be permitted on the courts.</li>
										<li>No parent / teacher / coach / friend will be allowed on court during any of the matches.</li>
										<li>No player is allowed to use their mobile phones on court.</li>
										<li>The tennis organizing committee has the right to postpone or cancel the tournament in case of unavoidable circumstances. All schools are requested to co-operate in any such case.</li>
										<li>If any player who cannot take part in the tournament even after giving his/her entry can be replaced with another player on a special request by the respective school at least 1 day before the match starts. This is applicable only in case of doubles.</li>
										<li>In case of any dispute the decision of the tennis organizing committee will be final and binding.</li>
										<li>For any kind of further details of the tournament the school Coach / Manager can contact the below mentioned mobile no’s:</li>
									</ul>
								</accordion-group>
								<accordion-group heading="ELIGIBILITY" class="title">
									<ul class="spaceli">
										<li>Singles: Players will be selected first on the basis of their AITA ranking. After that, if there are slots to accommodate more players, they will be selected on the basis of first come first serve during the registration process.</li>
										<li>Doubles: The teams will be selected purely on the basis of first come first serve. Those who register first will be eligible to participate till the slots fill out.</li>
										<li>Players ranking from the period 1st January 2014 up to 25th October 2015 will be considered.</li>
										<li>Incomplete details in the entry forms or any manipulation rectified in the entries will be automatically considered to be cancelled from the organizers end.</li>
										<li>The following criteria will be followed for the different age groups:-</li>
									</ul>
									<table class="table tab-info">
										<thead class="bgc">
											<th>Age group</th>
											<th>Cut Off Date</th>
										</thead>
										<tbody>
											<tr>
												<td>U-10</td>
												<td>Born on or After 1<sup>st</sup> January 2005</td>
											</tr>
											<tr>
												<td>U-12</td>
												<td>Born on or After 1<sup>st</sup> January 2003</td>
											</tr>
											<tr>
												<td>U-14</td>
												<td>Born on or After 1<sup>st</sup> January 2001</td>
											</tr>
											<tr>
												<td>U-16</td>
												<td>Born on or After 1<sup>st</sup> January 1999</td>
											</tr>
										</tbody>
									</table>
								</accordion-group>
							</accordion>
						</div>
					</div>
					<div class="col-md-10 sportss-texts">
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">RULES</button>
						</div>
						<!--
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">format</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">Eligibility</button>
                </div>
                <div class="col-md-4 col-sm-6 mobpads">
                    <button class="btn-sports" type="submit">categories of participation</button>
                </div>
-->
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">facility images</button>
						</div>
						<div class="col-md-4 col-sm-6 mobpads">
							<button class="btn-sports" type="submit">draws & schedule</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>