<div class="train">
  <div class="train-head">
    <h2 class="head">Training & Development</h2>
  </div>
  <div class="train-body">
    <div class="container">
      <div class="run">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="timage">
              <img src="img/kleinetics.png" alt="Kleinetics" class="img-responsive">
            </div>
          </div>
          <div class="col-md-8 col-sm-8 runn">
            <h3>Kleinetics</h3>
            <p>Kleinetics is India's premiere Kids Fitness Program backed by scientific training and technology to improve fitness and well being of kids. Through numerous dynamic and static drills, a variety in workouts and an innovative and scientific curriculum, Kleinetics focuses on cardiovascular endurance, strength, speed, agility, reaction time, power, flexibility, balance and co-ordination of the children. Founded by a team of Corporate professionals, Fitness enthusiasts, Doctors & Leading sports coaches - Kleinetics is aimed to bring about a paradigm shift in the way Fitness programs are designed & delivered in India.</p>
            <div class="pull-right mb15">
              <button fancybox-button class="varies btn1" type="button" href="#image1" name="button">Know more</button>&nbsp;&nbsp;&nbsp;
              <a href="img/form/Kleinetic.pdf" target="_blank">
                <button type="button" class="btn1" name="button">download form</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image1">
          <!-- <a id="inline">
            <img class="st-img" src="bower_components/img/object/clos.png">
          </a> -->
          <div class="text-center">
            <img src="img/klenetics.jpg" alt="kleinetics" class="img-responsive" style="margin: 0 auto;">
            <a class="ptl" href="http://www.sfanow.in/img/klenetics.jpg"  title="kleinetics" download>
              <img src="img/Ellipse.png" alt="" class="img-responsive">
            </a>
          </div>
      </div>
      <div class="swim">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="timage">
            <img src="img/swimming.png" alt="Swimming" class="img-responsive">
          </div>
          </div>
          <div class="col-md-8 col-sm-8 swims">
            <h3>Michael Phelps Swimming School</h3>
            <p>Michael Phelps Swimming program is the most accomplished swimming program in the world. The program is designed by Michael Phelps himself along with his childhood coach, Cathy. The vision and goal of this program is to grow the sport across globe for fitness, leisure, water safety and professionally.</p>
            <div class="pull-right mb15">
              <button type="button" fancybox-button class="varies btn1" href="#image" name="button">Know more</button>&nbsp;&nbsp;&nbsp;
              <a href="img/form/MPSS.pdf" target="_blank">
                <button type="button" class="btn1" name="button">download form</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image">
          <!-- <a id="inline">
            <img class="st-img" src="bower_components/img/object/clos.png">
          </a> -->
          <div class="text-center">
            <img src="img/sfamps.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
            <a class="ptl" href="http://www.sfanow.in/img/sfamps.jpg"  title="swimming" download>
              <img src="img/Ellipse.png" alt="" class="img-responsive">
            </a>
          </div>
      </div>

      <div class="run">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="timage1">
              <img src="img/SR-logo.png" alt="Sports-Reconnect" class="img-responsive">
            </div>
          </div>
          <div class="col-md-8 col-sm-8 runn">
            <h3>Sports Reconnect</h3>
            <p>Sports Reconnect is on a journey to provide specialized coaching and developing skills in individuals essential for competing at the State, National and World Championship levels.Empowered with a qualified and committed team, Sports Reconnect is dedicated towards their mission of bringing quality Table Tennis education and training to young aspirants and athletes to help them take their game to the next level.</p>
            <div class="pull-right mb15">
                  <button type="button" fancybox-button class="varies btn1" href="#image2" name="button">Know more</button>&nbsp;&nbsp;&nbsp;
              <a href="img/form/tt.pdf" target="_blank">
                <button type="button" class="btn1" name="button">download form</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image2">
          <!-- <a id="inline">
            <img class="st-img" src="bower_components/img/object/clos.png">
          </a> -->
          <div class="text-center">
            <img src="img/Sports_Reconnect.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
            <a class="ptl" href="http://www.sfanow.in/img/Sports_Reconnect.jpg"  title="tt" download>
              <img src="img/Ellipse.png" alt="" class="img-responsive">
            </a>
          </div>
      </div>
      <div class="run">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="timage2">
              <img src="img/SU-logo.png" alt="Sports-United" class="img-responsive">
            </div>
          </div>
          <div class="col-md-8 col-sm-8 runn">
            <h3>Sports United</h3>
            <p>Sports United works relentlessly towards the development of young athletes by creating more opportunities for athletes to compete. Through the training and development programs, helmed by reputable coaches, Sports United is determined to achieve excellence in the sport of Badminton in Mumbai.</p>
            <div class="pull-right mb15">
                  <button type="button" fancybox-button class="varies btn1" href="#image3" name="button">Know more</button>&nbsp;&nbsp;&nbsp;
              <a href="img/form/Badminton.pdf" target="_blank">
                <button type="button" class="btn1" name="button">download form</button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="fancy1" style="display:none;" id="image3">
          <!-- <a id="inline">
            <img class="st-img" src="bower_components/img/object/clos.png">
          </a> -->
          <div class="text-center">
            <img src="img/Sports_United.jpg" alt="swimming" class="img-responsive" style="margin: 0 auto;">
            <a class="ptl" href="http://www.sfanow.in/img/Sports_United.jpg"  title="badminton" download>
              <img src="img/Ellipse.png" alt="" class="img-responsive">
            </a>
          </div>
      </div>
    </div>
  </div>
  </div>
