<div class="media-set">
    <img src="img/venue.png" class="img-responsive">
    <div class="media-text">
        <!--        <h2>scores and statistics</h2>-->
        <div class="cimg">
            <img class="clogo img-responsive" src="img/collage/clogo.png">
        </div>
        <h3 class="cname">DY Patil Stadium</h3>
        <p class="cadd">Sion-Panvel Expy, Nerul, Navi Mumbai, Maharashtra 400706</p>
        <h5 class="copen">Opened : March 4, 2008</h5>
    </div>
</div>
<div class="spo text-center">
    <h4 class="clsports">sports</h4>
</div>
<div class="container martgintp">

    <div class="row">

        <div class="blue-cat">
            <ul>
                <hovericon game="game" ng-repeat="game in games" ng-click="makeactive(game);"></hovericon>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-offset-1 col-md-10 ">
        <div class="cabout text-center">
            <h4>about d.y. patil stadium</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" >
        <div style="width: 866px; margin: 0 auto;">
        <flex-slider  class="carousel" flex-slide="s in slides" animation="slide" animation-loop="false" item-width="210" item-margin="5">
            <li>
                <img ng-src="{{s}}">
            </li>
        </flex-slider>
            </div>
    </div>
</div>