<div class="media-set">
	<img src="img/home/15.png" class="img-responsive">

</div>
<div class="sports">
	<div class="verti pull-right">
		<a href="#/schoolregistration">
			<button type="submit" class="vert">register now</button>
		</a>
	</div>
	<div class="col-md-4 col-sm-4 padzer">
		<img src="img/sport/2.png" class="cus-imgs moo img-responsive hidden-xs hidden-sm">
		<img src="img/sport/23.png" class="cus-imgs moos img-responsive hidden-lg hidden-md">
	</div>
	<div class="col-md-8 col-sm-6">
		<div class="row">
			<div class="col-md-10">
				<div class="sport-text">
					<p> Volleyball at SFA will be conducted under the aegis of <b>Indian Squash Professionals</b>. For the first time an inter-school volleyball tournament will be officiated and governed by an authorized body of the sport. The volleyball arena at the venue has one xyz court, suited and calibrated for World-class tournaments. Every match played by participants will be captured on video and later showcased on their schools and SFA profile. All medals across the different categories under volleyball, will add to the cumulative medal tally of the school, hence impacting it’s rank.
					</p>
					<accordion>
						<accordion-group heading="AGE GROUPS, EVENTS & ENTRIES" class="title">
							<p>The SFA Inter-school Volleyball tournament will be conducted in the categories mentioned in the table below.</p>
							<p class="space">We have a maximum draw capacity as mentioned in the below table. Entries will be accommodated basis the eligibility criteria set out in Point 4.</p>
							<table class="table">
								<thead class="bgc">
									<th>Sr.No.</th>
									<th>Age Group</th>
									<th>Players Per Team</th>
									<th>Boys</th>
									<th>Girls</th>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>U-12</td>
										<td>12</td>
										<td>24 Teams</td>
										<td>16 Teams</td>
									</tr>
									<tr>
										<td>2</td>
										<td>U-14</td>
										<td>12</td>
										<td>24 Teams</td>
										<td>16 Teams</td>
									</tr>
									<tr>
										<td>3</td>
										<td>U-16</td>
										<td>12</td>
										<td>24 Teams</td>
										<td>16 Teams</td>
									</tr>
								</tbody>
							</table>
						</accordion-group>
						<accordion-group heading="TOURNAMENT FORMAT & RULES" class="title">
							<ul class="spaceli">
								<li>A knockout tournament will be played across all age groups and event categories for both, Boys and Girls.</li>
								<li>The matches will be a best of 3 games of 25 points each. In case of a tie then the deciding game would be of 15 points.</li>
								<li>Every player must carry his/her school ID along with age proof at all times during the tournament.</li>
								<li>Participants must produce their ID cards as and when required during the tournament.</li>
								<li>No player will be allowed to play his/her match if they do not have their school ID along with proper age proof.</li>
								<li>The team must report at the venue’s main registration desk 45 minutes prior to their scheduled match.</li>
								<li>The team has to report 15 minutes prior to their scheduled match time at the Volleyball registration desk.</li>
								<li>Any participant found over age or with any manipulation in the documents will be disqualified without any kind of prior intimation.</li>
								<li>Participants must be in appropriate uniform for the sport of Volleyball. No player will be allowed to play bare feet.</li>
								<li>The Volleyball organizing committee has the right to postpone or cancel the tournament in case of unavoidable circumstances. All schools are requested to co-operate in any such case.</li>
								<li>In case of any dispute the decision of the Volleyball organizing committee will be final and binding.</li>
								<li>No player will be allowed to use their mobile phones on court.</li>
								<li>For any kind of further details of the tournament the School Coach / Manager can contact the below mentioned mobile no’s:</li>
							</ul>
						</accordion-group>
						<accordion-group heading="ELIGIBILITY" class="title">
							<ul class="spaceli">
								<li>Teams having State and National Players in their squad will be given first preference.</li>
								<li>All the Teams will be accommodated on the basis of their performance in DSO /Association /State or any equivalent tournaments in the period June 2014 to October 2015).</li>
								<li>Incomplete details in the entry forms or any manipulation rectified in the entries will be automatically considered to be cancelled.</li>
								<li>The following criteria will be followed for the different age groups:-</li>
							</ul>
							<table class="table">
								<thead class="bgc">
									<th>Age Group</th>
									<th>Cut Off Date</th>
								</thead>
								<tbody>
									<tr>
										<td>U-12</td>
										<td>Born on or After 1 <sup>st</sup> January 2004</td>
									</tr>
									<tr>
										<td>U-14</td>
										<td>Born on or After 1 <sup>st</sup> January 2002</td>
									</tr>
									<tr>
										<td>U-16</td>
										<td>Born on or After 1 <sup>st</sup> January 2000</td>
									</tr>
								</tbody>
							</table>
						</accordion-group>
					</accordion>
				</div>

			</div>
			<div class="col-md-2">

			</div>
			<div class="col-md-10 sport-texts">
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">RULES</button>
				</div>
				<!--
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">format</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">Eligibility</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">categories of participation</button>
				</div>
-->
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">facility images</button>
				</div>
				<div class="col-md-4 col-sm-6 mobpads">
					<button class="btn-sports" type="submit">draws & schedule</button>
				</div>
			</div>
		</div>
	</div>

</div>