<div class="margintps">
    <div class="curve3">

    </div>
    <div class="footers">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#/about">about sfa</a></li>
                            <li><a href="#/termscondition">Legal</a></li>
                            <!--                        <li><a href="">Careers</a></li>-->
                            <li><a href="">FAQs</a></li>
                            <li style="border-right:0px;"><a href="#/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" ng-controller="footerCtrl">
                        <div class="col-md-4">
                            <div class="newsleter">
                                <p>NEWSLETTER SIGNUP</p>
                            </div>
                        </div>
                        <div class="col-md-8 padzer">

                            <span class="newslettershow" ng-hide="newsletter.show">
							    <p class="thank">Thank you for subscribing to our newsletter.</p>
							</span>
                            <span class="newslettershow" ng-show="newsletter.show">
							    <div class="input-text">
							        <input type="text" ng-model="newsletter.email" class="form-control emailclass" id="" placeholder="Enter Email Address">
							    </div>
							    <div class="button-text">
							        <button ng-click="savenewsletter(newsletter.email);" class="btn btn-default newslettersubmit">GO!</button>
							    </div>
							</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="partners">
                        <p>sports partners :</p>
                    </div>
                    <div class="part-logo">
                        <ul>
                            <li>
                                <a href="http://www.mbtaworld.com/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/1.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">Tennis</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ispsquash.com/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/2.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">squash</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.mbasso.in/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/3.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">badmintion</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.msdtta.org/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/4.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">table tennis</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <figure>
                                        <img src="img/partner-logo/5.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">handball</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <figure>
                                        <img src="img/partner-logo/6.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">volleyball</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.maharashtrabasketball.com/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/7.png" alt="" class="img-responsive">
                                        <!--										<span>Coming Soon</span>-->
                                        <figcaption class="text-center text-uppercase">basketball</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.swimmingfederation.in/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/8.png" alt="" class="img-responsive">
                                        <!--										<span>Coming Soon</span>-->
                                        <figcaption class="text-center text-uppercase">swimming</figcaption>
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="event_venue">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="venue">
<!--                                    <p class="evnt">Venue Partner :</p>-->
                                    <a href="http://www.dypatil.edu/sportsacademy/" target="_blank" class="blk">
                                        <figure>
                                            <img src="img/partner-logo/dypatil.jpg" alt="sport" class="img-responsive">
                                            <figcaption class="text-center text-uppercase">dy patil</figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="event">
<!--                                    <p class="evnt">Event Partner :</p>-->
                                    <a href="http://www.dnanetworks.com/" target="_blank" class="blk">
                                        <figure>
                                            <img src="img/partner-logo/dnalogo.jpg" alt="sport" class="img-responsive">
                                            <figcaption class="text-center text-uppercase">dna</figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="sponsers text-uppercase">
                            <p>SPONSORSHIPS AT SFA (COMING SOON)</p>
                        </div>
                    </div>
                </div>

                <div class="mrgb">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="foot-links">
                                <li><a href="#/">All rights reserved</a></li>
                                <li><a href="#/termscondition">Terms and Conditions</a></li>
                                <li><a href="#/termscondition">Disclaimer</a></li>
                                <li><a href="#/"><span class="copy-mark">&copy;</span> Copyright SportForAll 2015</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icon">
                                <ul class="pull-right text-center">
                                    <li> <a href="https://www.facebook.com/sportsforallnow" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li> <a href="https://twitter.com/sfanow" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <!--									<li> <a href=""><i class="fa fa-youtube"></i></a></li>-->
                                    <li><a href="https://instagram.com/sfanow/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>

                            </div>
                            <!--
						<div class="copy">
							<h5 class="pull-right">copyright SPORTSFORALL 2015</h5>
						</div>
-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>