<div class="margintps">
	<div class="curve3">

	</div>
	<div class="footers">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="footer-menu">
						<ul>
							<li><a href="#/about">about sfa</a></li>
							<li><a href="">Legal</a></li>
							<!--                        <li><a href="">Careers</a></li>-->
							<!--                        <li><a href="#/media">Media Corner</a></li>-->
							<li style="border-right:0px;"><a href="#/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4">
							<div class="newsleter">
								<p>NEWSLETTER SIGNUP</p>
							</div>
						</div>
						<div class="col-md-8 padzer">
							<div class="input-text">
								<input type="text" class="form-control emailclass" id="" placeholder="Enter Email Address">
							</div>
							<div class="button-text">
								<button type="submit" class="btn btn-default newslettersubmit">GO!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-12">
					<div class="partners">
						<p>sponsers and partners</p>
					</div>
					<div class="part-logo">
						<ul>
							<li>
								<a href="">
									<figure>
										<img src="img/partner-logo/1.png" alt="" class="img-responsive">
										<figcaption class="text-center text-uppercase">Tennis</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<img src="img/partner-logo/2.png" alt="" class="img-responsive">
										<figcaption class="text-center text-uppercase">squash</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<img src="img/partner-logo/3.png" alt="" class="img-responsive">
										<figcaption class="text-center text-uppercase">badmintion</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<img src="img/partner-logo/4.png" alt="" class="img-responsive">
										<figcaption class="text-center text-uppercase">table tennis</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<img src="img/partner-logo/5.png" alt="" class="img-responsive">
										<figcaption class="text-center text-uppercase">handball</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<img src="img/partner-logo/6.png" alt="" class="img-responsive">
										<figcaption class="text-center text-uppercase">volleyball</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<!--<img src="" alt="" class="img-responsive">-->
										<span>Coming Soon</span>
										<figcaption class="text-center text-uppercase">basketball</figcaption>
									</figure>
								</a>
							</li>
							<li>
								<a href="">
									<figure>
										<!--<img src="" alt="" class="img-responsive">-->
										<span>Coming Soon</span>
										<figcaption class="text-center text-uppercase">Aquatics</figcaption>
									</figure>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="sponsers text-uppercase">
						<p>sponsers ( coming soon )</p>
					</div>
				</div>
				<div class="col-md-offset-6 col-md-3">
					<div class="social-icon">
						<ul class="pull-right text-center">
							<li> <a href=""><i class="fa fa-facebook"></i></a></li>
							<li> <a href=""><i class="fa fa-twitter"></i></a></li>
							<li> <a href=""><i class="fa fa-youtube"></i></a></li>
						</ul>

					</div>
					<div class="copy">
						<h5 class="pull-right">copyright SPORTSFORALL 2015</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>