<div class="margintps" >
    <div class="footers fut">
     <div class="text-center">
         <p class="l-p">All Sports to be conducted under the aegis of:</p>
        </div>
                    <div class="part-logo l-logo">
                        <ul style="text-align: center !important;">
                            <li>
                                <a href="http://www.mbtaworld.com/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/1.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">Tennis</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ispsquash.com/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/2.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">squash</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.mbasso.in/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/3.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">badmintion</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.msdtta.org/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/4.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">table tennis</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <figure>
                                        <img src="img/partner-logo/5.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">handball</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <figure>
                                        <img src="img/partner-logo/6.png" alt="" class="img-responsive">
                                        <figcaption class="text-center text-uppercase">volleyball</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.maharashtrabasketball.com/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/7.png" alt="" class="img-responsive">
                      
                                        <figcaption class="text-center text-uppercase">basketball</figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.swimmingfederation.in/" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/8.png" alt="" class="img-responsive">
                                      
                                        <figcaption class="text-center text-uppercase">swimming</figcaption>
                                    </figure>
                                </a>
                            </li>        
                            <li>
                                <a href="" target="_blank">
                                    <figure>
                                        <img src="img/partner-logo/9.png" alt="" class="img-responsive">
                                      
                                        <figcaption class="text-center text-uppercase">Judo</figcaption>
                                    </figure>
                                </a>
                            </li>
                        </ul>
                    </div>
<div class="pull-right">
        <p class="padll">* Up to 500 schools can participate in the event.</p>
        </div>
        
        <div class="clearfix"></div>
 
        <div class="blue">
            <div class="container">
            <div class="mrgb" style="    margin-bottom: 0px;">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="foot-links marm">
                                <li><a href="">All rights reserved</a></li>
                                <li><a href="#/termscondition">Terms and Conditions</a></li>
                                <li><a href="#/termscondition">Disclaimer</a></li>
                                <li><a href=""><span class="copy-mark">&copy;</span> Copyright SportForAll 2015</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icon padf">
                                <ul class="pull-right text-center">
                                    <li> <a href="https://www.facebook.com/sportsforallnow" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li> <a href="https://twitter.com/sfanow" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <!--									<li> <a href=""><i class="fa fa-youtube"></i></a></li>-->
                                    <li><a href="https://instagram.com/sfanow/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>

                            </div>
                            <!--
						<div class="copy">
							<h5 class="pull-right">copyright SPORTSFORALL 2015</h5>
						</div>
-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>