<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="col-md-5 custom">
                    <ul class="menu-list pull-right ">
                        <li><a href="#/venue">The venue</a></li>
                        <li><a href="">The Event</a> </li>
                        <li><a href="#/sports">Sports</a></li>
                        <li><a href="#/schoolprofile">Schools</a></li>
                    </ul>
                </div>
                <div class="col-md-2 logo custom">
                    <a class="" href="#/home"><img src="img/logo.png" alt="logo" class="img-responsive"> </a>
                </div>
                <div class="col-md-5 custom wth">
                    <div class="col-md-8 custom wth-six">
                        <ul class="menu-list pull-left">
                            <li><a href="#studentprofile">Students</a></li>
                            <li><a href="#score">Scores & Statistics</a></li>
                            <li><a href="">partners</li></li>

                        </ul>
                    </div>
                    <div class="col-md-4 pull-left custom marg-tp">
                        <div class="login">
                            <p>login / signup</p>
                        </div>
                        <div class="search">
                            <form action="/search" method="get" class="sfm">
                                <input type="text" name="q" value="">
                                <input type="image" value="Search" src="img/search.png" class="sb">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
    </nav>
   
</header>